---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - d4a0cf4e-af50-4fcb-92fc-485dbbcb1494
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 994,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 535,
              "first_name" : "Daisha",
              "middle_name" : "",
              "last_name" : "Toy",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 993,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants_history" : {
              "former_spouses" : [ {
                "relationship_type" : {
                  "value" : "Married",
                  "id" : 1
                },
                "applicant_id" : 534,
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "place_of_marriage_city" : "",
                "place_of_marriage_end_city" : ""
              } ],
              "adult_children" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "relationship_to_applicants" : [ { } ],
                "address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                }
              } ]
            },
            "applicants" : [ {
              "id" : 534,
              "first_name" : "Super",
              "middle_name" : "k",
              "last_name" : "Man",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 992,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants_history" : {
              "former_spouses" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "place_of_marriage_city" : "",
                "place_of_marriage_end_city" : "Sacremento"
              } ],
              "adult_children" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "relationship_to_applicants" : [ { } ],
                "address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                }
              } ]
            },
            "applicants" : [ {
              "id" : 533,
              "first_name" : "Durward",
              "middle_name" : "k",
              "last_name" : "Mante",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 990,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 532,
              "first_name" : "Selina",
              "middle_name" : "k",
              "last_name" : "Rowe",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 54,
              "first_name" : "Monserrat",
              "relationship_to_applicants" : [ {
                "applicant_id" : 532,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 989,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "maing address here",
                "zip" : "12345",
                "city" : "secondary city",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : ""
              } ],
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              }, {
                "value" : "Armenian",
                "id" : 3
              } ]
            },
            "applicants" : [ {
              "id" : 531,
              "first_name" : "Dustin",
              "middle_name" : "k",
              "last_name" : "Bauch",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" :[...]
