<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This (re-)builds the containers based on a commit to the &quot;development&quot; branch of CALS repository on GitHub.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.27.0">
      <projectUrl>https://github.com/ca-cwds/CALS.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.3.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/ca-cwds/CALS.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/development</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.27.0">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo Cleaning up docker environment
docker rm $(docker ps -q -f status=exited) || true
docker volume rm $(docker volume ls -qf dangling=true) || true
docker rmi $(docker images -qf dangling=true --no-trunc) || true
echo Docker environment cleaned</command>
    </hudson.tasks.Shell>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.6"/>
      <registry plugin="docker-commons@1.6">
        <credentialsId>55376fcb-1198-4fe1-9991-ba647645d5b0</credentialsId>
      </registry>
      <repoName>cwds/calspostgres</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <buildContext>docker/dev/db/postgres</buildContext>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag></repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs></buildAdditionalArgs>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.6"/>
      <registry plugin="docker-commons@1.6">
        <credentialsId>55376fcb-1198-4fe1-9991-ba647645d5b0</credentialsId>
      </registry>
      <repoName>cwds/calses</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <buildContext>docker/dev/app/es</buildContext>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag></repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs></buildAdditionalArgs>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.6"/>
      <registry plugin="docker-commons@1.6">
        <credentialsId>55376fcb-1198-4fe1-9991-ba647645d5b0</credentialsId>
      </registry>
      <repoName>cwds/calsmockapi</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <buildContext>docker/dev/app/mock-api</buildContext>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag></repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs>--no-cache</buildAdditionalArgs>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.6"/>
      <registry plugin="docker-commons@1.6">
        <credentialsId>55376fcb-1198-4fe1-9991-ba647645d5b0</credentialsId>
      </registry>
      <repoName>cwds/calsredis</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <buildContext>docker/dev/app/redis</buildContext>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag></repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs></buildAdditionalArgs>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.6"/>
      <registry plugin="docker-commons@1.6">
        <credentialsId>55376fcb-1198-4fe1-9991-ba647645d5b0</credentialsId>
      </registry>
      <repoName>cwds/cals</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <buildContext>docker/dev/app/cals</buildContext>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag></repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs>--no-cache</buildAdditionalArgs>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.6"/>
      <registry plugin="docker-commons@1.6">
        <credentialsId>55376fcb-1198-4fe1-9991-ba647645d5b0</credentialsId>
      </registry>
      <repoName>cwds/calsnginx</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <buildContext>docker/dev/web/nginx</buildContext>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag></repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs></buildAdditionalArgs>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <hudson.tasks.Shell>
      <command>sleep 2</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>