<div id="edit_page">
  <%#byebug%>
  <%= react_component('rfa_forms/rfa01a_edit', {
    application_id: params[:id],
    nameTypes: @dictionaries[:name_types],
    phoneTypes:@dictionaries[:phone_types],
    genderTypes: @dictionaries[:gender_types],
    ethnicityTypes: @dictionaries[:ethnicity_types],
    # raceTypes: @race_types,
    educationLevels: @dictionaries[:education_levels],
    languageTypes: @dictionaries[:language_types],
    relationshipToApplicantTypes: @dictionaries[:relationship_to_applicant_types],
    license_types: @dictionaries[:license_types],
    stateTypes: @dictionaries[:state_types],
    salaryTypes: @dictionaries[:salary_types],
    residenceTypes: @dictionaries[:residence_types],
    application: @application,
    relationshipTypes: @dictionaries[:relationship_types]},
    {prerender: false}) %>

    <%= javascript_pack_tag 'rfa_forms/rfa01a_edit' %>
    <%= stylesheet_pack_tag 'rfa_forms/rfa01a_edit' %>
</div>
