---
http_interactions:
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 6151,
          "is_initial_application" : false
        }
  recorded_at: Thu, 19 Apr 2018 16:04:36 GMT
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/6151/rfa-1c-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 357,
          "child_identified" : false
        }
  recorded_at: Thu, 19 Apr 2018 16:04:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Thu, 19 Apr 2018 16:04:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Thu, 19 Apr 2018 16:04:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/school-grades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "TK",
            "id" : 1
          }, {
            "value" : "K",
            "id" : 2
          }, {
            "value" : "1",
            "id" : 3
          }, {
            "value" : "2",
            "id" : 4
          }, {
            "value" : "3",
            "id" : 5
          }, {
            "value" : "4",
            "id" : 6
          }, {
            "value" : "5",
            "id" : 7
          }, {
            "value" : "6",
            "id" : 8
          }, {
            "value" : "7",
            "id" : 9
          }, {
            "value" : "8",
            "id" : 10
          }, {
            "value" : "9",
            "id" : 11
          }, {
            "value" : "10",
            "id" : 12
          }, {
            "value" : "11",
            "id" : 13
          }, {
            "value" : "12",
            "id" : 14
          }, {
            "value" : "College +",
            "id" : 15
          } ]
        }
  recorded_at: Thu, 19 Apr 2018 16:04:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/6151/rfa-1c-forms/357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 357,
          "child_identified" : false
        }
  recorded_at: Thu, 19 Apr 2018 16:04:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/6151?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 6151,
          "rfa1c_forms" : [ {
            "id" : 357,
            "child_identified" : false
          } ],
          "is_initial_application" : false
        }
  recorded_at: Thu, 19 Apr 2018 16:04:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/6151/rfa-1c-forms/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 357,
          "child_identified" : false
        }
  recorded_at: Thu, 19 Apr 2018 16:04:37 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/6151/rfa-1b-forms/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/6151/rfa-1b-forms/. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Thu, 19 Apr 2018 16:04:37 GMT
recorded_with: VCR 3.0.3
