<div id="index_page">
  <%= react_component('rfa_forms/rfa01c_list', {user: @user,
                                                countyTypes: @dictionaries[:county_types],
                                                suffixTypes: @dictionaries[:name_suffix_types],
                                                genderTypes: @dictionaries[:gender_types],
                                                schoolGrades: @dictionaries[:school_grades],
                                                rfa_c1_application: @rfa_c1_application,
                                                rfa_a01_application: @rfa_a01_application,
                                                stateTypes: @dictionaries[:state_types]}, {prerender: false}) %>
  <%= javascript_pack_tag 'rfa_forms/rfa01c_list' %>
</div>
