---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..OiOCQaVh36e14a4j.zK5AvEUavw4fhWq0x-IlK6SpOIO0YruLaJhNqkA5EBzO0X3ZKDfLOp4E8lz1q0bS3CV_IkXqe6wpUEcbQdCUtTuO7eekI7TfJCU9E_k3iutAhfx1vD65QrxGQA1uApoGYY-MtkWx94k0mMRNrlEBz4PuGJtgETFWlEtGCm3jY59qPGlGDS1B0tucuseGwz6IztTeyMQ8Z0Wrr4ze8tU6Bsj3EAoMfHIXGxX9C-wPYiLWWaqfURyBK1jpiiCUtXlTfM3keI7VlZh7TXDrnLoyYbR17o-mfDjOcvQ4CaeaTGKYyA8qaq6AD2L9O-xVvZL3XsZ2LA8HqwXRXreUOgoQNL4cmpan1kQwhilpB0qlHa4ZxLZnazdiiC1mL4_uReOv9qhI3GS4az_UtnQEtss7BaEoIHu-MrZp4dbjNq2Yhq7_Chds94zu0cdeiScD-0RRK0r4okNew5FSaGXyhaTxE3EO9XvR3EShFgjC1-plLuXCjdCzwjGKKGxgHg7U2E4zEt5l8MqOprmQwdIFO7-73sMvmZAqT13yz7a-lzhc1zh5f3POlczEH8FQCxjbdbSL0w8cgs4JVX-X31h2uQWPxRvELk6QvRNnKJRYoohGyApvlsiakB_C3aMMWcEl6UdXD91YqN267QN1aIUJXCBNovJ-EC9ueIBNVAcpAZ2LPgqtip9DvKASa7yam__wW7vY1IdSM-d9iE0oO8G992yWLssoHuZCGERhYiy9ZSZ8Nwul_528zpglPylITj_K9NtLtQaqWkUk9Lk2d8T5W98L-OJoB3bugK_QsmjQmqMVSVW1rn5vgJ--zur5porJ__hGSB_sg9GiwpbPgVd-R5rv5BCZleVS3jJMM5HBLJg9jhYLO3kh_8VH4WOXk-cQq6UODsGm5bFq-CqBNxZ7TQULjqW66G2FaStFYymqg59iq49yYPcoJ1mLg_BMVwFRsDpbD0-YGpGW0zw1Bk6221i2d9heCXMf_cf75fgWDrzt2g.B9-NFK243MwLEVDw_JgV3g"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..OiOCQaVh36e14a4j.zK5AvEUavw4fhWq0x-IlK6SpOIO0YruLaJhNqkA5EBzO0X3ZKDfLOp4E8lz1q0bS3CV_IkXqe6wpUEcbQdCUtTuO7eekI7TfJCU9E_k3iutAhfx1vD65QrxGQA1uApoGYY-MtkWx94k0mMRNrlEBz4PuGJtgETFWlEtGCm3jY59qPGlGDS1B0tucuseGwz6IztTeyMQ8Z0Wrr4ze8tU6Bsj3EAoMfHIXGxX9C-wPYiLWWaqfURyBK1[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"name":"Lederhouse
        Transitions"}}]}}]}}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..OiOCQaVh36e14a4j.zK5AvEUavw4fhWq0x-IlK6SpOIO0YruLaJhNqkA5EBzO0X3ZKDfLOp4E8lz1q0bS3CV_IkXqe6wpUEcbQdCUtTuO7eekI7TfJCU9E_k3iutAhfx1vD65QrxGQA1uApoGYY-MtkWx94k0mMRNrlEBz4PuGJtgETFWlEtGCm3jY59qPGlGDS1B0tucuseGwz6IztTeyMQ8Z0Wrr4ze8tU6Bsj3EAoMfHIXGxX9C-wPYiLWWaqfURyBK1jpiiCUtXlTfM3keI7VlZh7TXDrnLoyYbR17o-mfDjOcvQ4CaeaTGKYyA8qaq6AD2L9O-xVvZL3XsZ2LA8HqwXRXreUOgoQNL4cmpan1kQwhilpB0qlHa4ZxLZnazdiiC1mL4_uReOv9qhI3GS4az_UtnQEtss7BaEoIHu-MrZp4dbjNq2Yhq7_Chds94zu0cdeiScD-0RRK0r4okNew5FSaGXyhaTxE3EO9XvR3EShFgjC1-plLuXCjdCzwjGKKGxgHg7U2E4zEt5l8MqOprmQwdIFO7-73sMvmZAqT13yz7a-lzhc1zh5f3POlczEH8FQCxjbdbSL0w8cgs4JVX-X31h2uQWPxRvELk6QvRNnKJRYoohGyApvlsiakB_C3aMMWcEl6UdXD91YqN267QN1aIUJXCBNovJ-EC9ueIBNVAcpAZ2LPgqtip9DvKASa7yam__wW7vY1IdSM-d9iE0oO8G992yWLssoHuZCGERhYiy9ZSZ8Nwul_528zpglPylITj_K9NtLtQaqWkUk9Lk2d8T5W98L-OJoB3bugK_QsmjQmqMVSVW1rn5vgJ--zur5porJ__hGSB_sg9GiwpbPgVd-R5rv5BCZleVS3jJMM5HBLJg9jhYLO3kh_8VH4WOXk-cQq6UODsGm5bFq-CqBNxZ7TQULjqW66G2FaStFYymqg59iq49yYPcoJ1mLg_BMVwFRsDpbD0-YGpGW0zw1Bk6221i2d9heCXMf_cf75fgWDrzt2g.B9-NFK243MwLEVDw_JgV3g"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":0,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":1,"max_score":5.5096464,"hits":[{"_index":"facilities","_type":"facility","_id":"300665437","_score":5.5096464,"_source":{"href":null,"id":"300665437","capacity_last_changed":{"year":2006,"month":"OCTOBER","era":"CE","dayOfMonth":13,"dayOfWeek":"FRIDAY","dayOfYear":286,"leapYear":false,"monthValue":10,"chronology":{"calendarType":"iso8601","id":"ISO"}},"type":{"id":"726","value":"TRANSITIONAL
        HOUSING PLACEMENT PROGRAM"},"name":"Lederhouse Transitions","licensee_name":"Lederhouse
        Transitions Inc.","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"19","name":"PACIFIC
        INLAND CR"},"license_number":"300665437","status":{"id":"5","value":"PROBATIONARY
        LICENSE"},"capacity":10,"license_effective_date":{"year":2012,"month":"OCTOBER","era":"CE","dayOfMonth":1,"dayOfWeek":"MONDAY","dayOfYear":275,"leapYear":true,"monthValue":10,"chronology":{"calendarType":"iso8601","id":"ISO"}},"original_application_recieved_date":{"year":2012,"month":"JULY","era":"CE","dayOfMonth":18,"dayOfWeek":"WEDNESDAY","dayOfYear":200,"leapYear":true,"monthValue":7,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_visit_date":{"dayOfMonth":14,"dayOfWeek":"FRIDAY","dayOfYear":104,"month":"APRIL","monthValue":4,"year":2017,"hour":0,"minute":0,"nano":0,"second":0,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":{"id":"10","value":"CASELOAD
        MANAGEMENT"},"last_deferred_visit_reason":null,"county":{"id":"30","value":"ORANGE","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"9494480118"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"36
        Sequoia Dr","city":"Aliso Viejo","state":"CA","zip_code":"92656","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"36
        Sequoia Dr","city":"Aliso Viejo","state":"CA","zip_code":"92656","zip_suffix_code":null}}],"visits":[{"approval":"","visit_type":"Annual
        10 month","visit_date":{"dayOfMonth":28,"dayOfWeek":"FRIDAY","dayOfYear":301,"month":"OCTOBER","monthValue":10,"year":2011,"hour":0,"minute":0,"nano":0,"second":0,"chronology":{"calendarType":"iso8601","id":"ISO"}},"visit_deferred_date":null},{"approval":"","visit_type":"Annual
        22 month","visit_date":null,"visit_deferred_date":null},{"approval":"","visit_type":"Post
        Licensing","visit_date":null,"visit_deferred_date":{"dayOfMonth":6,"dayOfWeek":"WEDNESDAY","dayOfYear":310,"month":"NOVEMBER","monthValue":11,"year":1991,"hour":0,"minute":0,"nano":0,"second":0,"chronology":{"calendarType":"iso8601","id":"ISO"}}},{"approval":"","visit_type":"Renewal","visit_date":null,"visit_deferred_date":null}],"annual_visit_year":12,"prelicensing_visit_date":null,"facility_source":"LIS","children":[],"inspections":[],"complaints":[{"id":"9112","complaint_date":{"dayOfMonth":27,"dayOfWeek":"TUESDAY","dayOfYear":271,"month":"SEPTEMBER","monthValue":9,"year":2016,"hour":0,"minute":0,"nano":0,"second":0,"chronology":{"calendarType":"iso8601","id":"ISO"}},"assigned_worker":"Mullah
        Mahaboob","control_number":"19-CR-20160927081411","priority_level":"2","status":"Approved","approval_date":{"dayOfMonth":10,"dayOfWeek":"SATURDAY","dayOfYear":345,"month":"DECEMBER","monthValue":12,"year":2016,"hour":0,"minute":0,"nano":0,"second":0,"chronology":{"calendarType":"iso8601","id":"ISO"}},"pre_investigation_comments":"","post_investigation_comments":"See
        Attached letter.  Reiser is a supervisor for Fresno County CPS.","contact_summary":"LIC
        9099 dated 11/23/04, 1/3/05&#13;&#10;LIC 812 date of visit 11/23/04, 1/3/05","followup_comments":"","allegations":[{"complaint_code":"3","allegation":"","resolution_code_sub":"","resolution_code_insub":"","resolution_code_unsub":""},{"complaint_code":"3","allegation":"Client
        Miguel Delatorre (8-28-88)    Miguel was beat up by an older and bigger child
        at GH. (name unknown) Staff did nothing to stop this.  Staff told Miguel not
        to say anything. Miguel called his mother and told her this.","resolution_code_sub":"","resolution_code_insub":"","resolution_code_unsub":"U"},{"complaint_code":"3","allegation":"","resolution_code_sub":"","resolution_code_insub":"","resolution_code_unsub":""}]},{"id":"9112[...]
