---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..cJtyPD8kupyMPFGx.fA_OjSn3wGWlzNZsUhRwrAkDs8zTw54xxMimla__DW2SzVDG0WZE3u0jcNwBC_zsJmWpcIlHi_jfq4h8sUYjDu49MkLImBlSkL9iVTwS_5MLfzYt1meet9S6JnOJhH8QGtneCa7xUxuCMBCGBuiY3OorDB2KmlsNr0M9e5imO8QDQgPt5b0UvKk4Wjr0_yU62DW0WUD15dwqtcga50hoAfIeDydMs9xEe9C5rX24b7bJ-RtkM6TzdzzV3je5Ht8QgejH8YnsidYY2G2E2I1O7bXLZGPFnjJg2SzdwuDxSlNVnRZil1VjsPAbmNlzFvqxjnppv90HrIqNyqJ7NWAm3HV6xu36YfKP6xZpJWE-UWsImtWyYfKWtGhXv0-aelFLCMNqPfKguDu58VLxN3NxVPNKM0qXwcbR7rZ70Q-CsQaP2vvFqhDD66W3u2Vhq-ss4Kuxj5krIw7OCHeLbuwDxOsSk6N--Bf5fbkGV_JLvHzBK09YP_lvATOsxpHdiuaedR5YpiZLo36eb_C9TnXLzHyftVZaaPtKPlyp3yCVTY-C5MAax3rFCR4FSd-abLHm0MERtM7WR4fLm2m3sWLDKfh3WXlnJAm1TogkuRJ9MpX31UvWOnIUw_XpXIifg19SVr_mpSCvoIXYIArrbCP3Uw2tDbALvfv1hAIXJbeQ7pGhGGPS4rlgTTF5B0PSZQkXocD_yIwbCNtFVaF4W0EblEWb1rxFVzRkzTcdL4C-qyPCQvyDqTkWPw-ZMZtTzJ8q9FvSe-pnrb1K9O4aWOPpGt_E8SqXtux_tasQE1m01-zfeX902uiRjF4vGgVjMuw6V6_IMsz44zM2GX1eBaw9oPvhSg7PJ1Au830id3kIgGzvw1hKmGcbm1w-DmL5LiOm6MNErvEfZmmh2REHnZlusvF2JtVG5VC_js2Ycps4oGBeWvfbk8hJ9VKhfS1cVO7QfgtXgwE8O1oLSMdGaaLm-8XqOeM6e41ZDDmXqT-JQymrsw_-n2L0wcwlFY_1r84Ei-zBkmziRybLD5E3OYuja07YYQ.nxXdZaNFKPLTtvZLIsLKzA"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..cJtyPD8kupyMPFGx.fA_OjSn3wGWlzNZsUhRwrAkDs8zTw54xxMimla__DW2SzVDG0WZE3u0jcNwBC_zsJmWpcIlHi_jfq4h8sUYjDu49MkLImBlSkL9iVTwS_5MLfzYt1meet9S6JnOJhH8QGtneCa7xUxuCMBCGBuiY3OorDB2KmlsNr0M9e5imO8QDQgPt5b0UvKk4Wjr0_yU62DW0WUD15dwqtcga50hoAfIeDydMs9xEe9C5rX24b7bJ-RtkM6Tzdz[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.value":"Alameda"}}]}}]}}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..cJtyPD8kupyMPFGx.fA_OjSn3wGWlzNZsUhRwrAkDs8zTw54xxMimla__DW2SzVDG0WZE3u0jcNwBC_zsJmWpcIlHi_jfq4h8sUYjDu49MkLImBlSkL9iVTwS_5MLfzYt1meet9S6JnOJhH8QGtneCa7xUxuCMBCGBuiY3OorDB2KmlsNr0M9e5imO8QDQgPt5b0UvKk4Wjr0_yU62DW0WUD15dwqtcga50hoAfIeDydMs9xEe9C5rX24b7bJ-RtkM6TzdzzV3je5Ht8QgejH8YnsidYY2G2E2I1O7bXLZGPFnjJg2SzdwuDxSlNVnRZil1VjsPAbmNlzFvqxjnppv90HrIqNyqJ7NWAm3HV6xu36YfKP6xZpJWE-UWsImtWyYfKWtGhXv0-aelFLCMNqPfKguDu58VLxN3NxVPNKM0qXwcbR7rZ70Q-CsQaP2vvFqhDD66W3u2Vhq-ss4Kuxj5krIw7OCHeLbuwDxOsSk6N--Bf5fbkGV_JLvHzBK09YP_lvATOsxpHdiuaedR5YpiZLo36eb_C9TnXLzHyftVZaaPtKPlyp3yCVTY-C5MAax3rFCR4FSd-abLHm0MERtM7WR4fLm2m3sWLDKfh3WXlnJAm1TogkuRJ9MpX31UvWOnIUw_XpXIifg19SVr_mpSCvoIXYIArrbCP3Uw2tDbALvfv1hAIXJbeQ7pGhGGPS4rlgTTF5B0PSZQkXocD_yIwbCNtFVaF4W0EblEWb1rxFVzRkzTcdL4C-qyPCQvyDqTkWPw-ZMZtTzJ8q9FvSe-pnrb1K9O4aWOPpGt_E8SqXtux_tasQE1m01-zfeX902uiRjF4vGgVjMuw6V6_IMsz44zM2GX1eBaw9oPvhSg7PJ1Au830id3kIgGzvw1hKmGcbm1w-DmL5LiOm6MNErvEfZmmh2REHnZlusvF2JtVG5VC_js2Ycps4oGBeWvfbk8hJ9VKhfS1cVO7QfgtXgwE8O1oLSMdGaaLm-8XqOeM6e41ZDDmXqT-JQymrsw_-n2L0wcwlFY_1r84Ei-zBkmziRybLD5E3OYuja07YYQ.nxXdZaNFKPLTtvZLIsLKzA"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":11,"max_score":4.4057345,"hits":[{"_index":"facilities","_type":"facility","_id":"193600091","_score":4.4057345,"_source":{"href":null,"id":"193600091","capacity_last_changed":null,"type":{"id":"740","value":"RESIDENTIAL-ELDERLY"},"name":"WONDER
        PETS FOSTER FAMILY HOME","licensee_name":"SHEPPARD, JOSEPH & CHERYL","license_type":"D","assigned_worker":{"id":null,"value":null},"district_office":{"number":"15","name":"E
        BAY DELTA AC/SC"},"license_number":"193600091","status":{"id":"3","value":"LICENSED"},"capacity":6,"license_effective_date":{"year":2005,"month":"SEPTEMBER","era":"CE","dayOfMonth":19,"dayOfWeek":"MONDAY","dayOfYear":262,"leapYear":false,"monthValue":9,"chronology":{"calendarType":"iso8601","id":"ISO"}},"original_application_recieved_date":{"year":2004,"month":"NOVEMBER","era":"CE","dayOfMonth":15,"dayOfWeek":"MONDAY","dayOfYear":320,"leapYear":true,"monthValue":11,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"1","value":"ALAMEDA","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"5104323642"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"8449
        CIRCLE ST.","city":"CORONA","state":"CA","zip_code":"92882","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"8449
        CIRCLE ST.","city":"CORONA","state":"CA","zip_code":"92882","zip_suffix_code":null}}],"visits":null,"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"LIS","children":[],"inspections":[],"complaints":[]}},{"_index":"facilities","_type":"facility","_id":"193600072","_score":4.4057345,"_source":{"href":null,"id":"193600072","capacity_last_changed":null,"type":{"id":"810","value":"FAMILY
        DAY CARE"},"name":"FLINSTONE RCFCI - FRED HOME","licensee_name":"SAILS BAKERSFIELD,
        INC.","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"2","name":"BAY
        AREA-CC OAKLAND"},"license_number":"193600072","status":{"id":"13","value":"CLOSED,
        [...]
