---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 224049bf-52fb-477a-aac3-b2aace6a221f
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 224049bf-52fb-477a-aac3-b2aace6a221f
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Fost[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.value":"Los
        Angeles"}}]}}]}},"from":"0","size":"10","sort":[{"name":{"order":"asc"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 224049bf-52fb-477a-aac3-b2aace6a221f
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "issue_details" : [ {
            "incident_id" : "edf613b0-a1a3-43b8-9c1c-de775677616f",
            "type" : "unexpected_exception",
            "user_message" : "There was an error processing your request. It has been logged with unique incident id",
            "technical_message" : "Bad Request",
            "stack_trace" : "gov.ca.cwds.rest.api.DoraException: Bad Request\\n\\tat gov.ca.cwds.rest.services.es.IndexQueryService.postRequest(IndexQueryService.java:153)\\n\\tat gov.ca.cwds.rest.services.es.IndexQueryService.invokeElasticsearch(IndexQueryService.java:136)\\n\\tat gov.ca.cwds.rest.services.es.IndexQueryService.searchIndexByQuery(IndexQueryService.java:117)\\n\\tat gov.ca.cwds.rest.services.es.IndexQueryService.handleRequest(IndexQueryService.java:68)\\n\\tat gov.ca.cwds.rest.resources.IndexQueryResource.[...]
