<div id="search_page">

  <%= link_to "facilities", facilities_path %>
  <a href='facilities/'>facilities</a>
  <%=render_react_component('search', landingUrl: @landingPage_url) %>
  <%= javascript_pack_tag 'search' %>
  <%= stylesheet_pack_tag 'search' %>
</div>
