---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/LUfrsLBAWW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 39d22c59-33af-4fa7-b8a9-4d3d418ee5d5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "facilities/LUfrsLBAWW",
          "id" : "LUfrsLBAWW",
          "type" : {
            "id" : "432",
            "value" : "Foster Family Agency Certified Home"
          },
          "adoption_home_only_indicator" : false,
          "name" : "Montoya",
          "licensee_name" : "",
          "capacity" : 1,
          "county" : {
            "id" : "56",
            "value" : "Ventura"
          },
          "phones" : [ ],
          "addresses" : [ {
            "type" : "Residential",
            "address" : {
              "street_address" : "119  S Figueroa St",
              "city" : "Ventura",
              "state" : "CA",
              "zip_code" : "93001"
            }
          } ],
          "facility_source" : "CWS/CMS"
        }
  recorded_at: Wed, 25 Apr 2018 21:56:05 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/LUfrsLBAWW/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 39d22c59-33af-4fa7-b8a9-4d3d418ee5d5
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /facilities/LUfrsLBAWW/children. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Wed, 25 Apr 2018 21:56:05 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/LUfrsLBAWW/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 39d22c59-33af-4fa7-b8a9-4d3d418ee5d5
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /facilities/LUfrsLBAWW/complaints. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Wed, 25 Apr 2018 21:56:05 GMT
recorded_with: VCR 3.0.3
