---
http_interactions:
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match":{"name":"home"}}]}}]}}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..d2998bGJj4-PU_BM.zFBgGVUa3a5o30voOf_WeWh2oetUXKI1og6ba9VUfKSv76BqkLqQi_-kyLpg4WPiVukxUoA4_wTyD9fiU6rkp-JrsXCs1kAuG4P6jZxZuzCowLbaX1RzuQ6VTKn3kDb7rdy3uxnKzZ_mX3H-vA7rcWns_MFTlJ2dRESdq5b7OJenY3RwKyazmydAaqpXDg_2iJrygLZQgNtzT1Oa5lQgdope6jYTXE7KOdo7lfI15CPvHyPuN_g8aK9oDLL453ph4n1-k9ctoGE7MZkOx414cz21qUGLjTfNZh5dLU4AjnDOedYBev2JrrLM4KeZ4-UmVedS-T1_90rF7dhJu5XqiJjSIWeJC26_fDqB7qRqneS1Z7zjWebjTLqV86U9hu31zJRu6CDthhadg5blGDfXnYZERN_v6T3x23DDpoY-V8Zh3tksx1lBBF1Imw9KGQDUebEIg21qYuoeTNbOqcr3hFDUDiiQ8bwu9hcXSGqoScxETeIh7rgiS764Uw4xnThG7LQDxnQ4ZvV6MvIEP87o2de0lzdMp7JgDj1V_YXEigUUcZTAvYJQyNZRPUh_BsTV7PHDOz6Q3BK1zr18brlAR_v1Cl8EvstL-humE95lBdGXhr2-MCvOiXO402g_QAllIfHhpSWquydMHpBHKv0nGzDF7LFissE-vRacRl4K4u_BvvR9o7h7e9N-sHdedXh3GrLlrw.wu5aPqZUXO7WB7-Vo9wLUQ"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":38,"max_score":1.115982,"hits":[{"_index":"facilities","_type":"facility","_id":"193600151","_score":1.115982,"_source":{"href":null,"id":"193600151","type":{"id":"810","value":"FAMILY
        DAY CARE"},"name":"CINDERELLA GROUP HOME","licensee_name":"DAVIS, THURZA M.","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"30","name":"L.A.
        DAYCARE-NO.WEST"},"license_number":"193600151","status":{"id":"7","value":"APPLICATION
        WITHDRWN"},"capacity":8,"license_effective_date":null,"original_application_recieved_date":{"year":2004,"month":"JANUARY","era":"CE","dayOfYear":29,"dayOfWeek":"THURSDAY","leapYear":true,"dayOfMonth":29,"monthValue":1,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"19","value":"LOS
        ANGELES","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"3103754732"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"9
        SAN JUAN ST.","city":"PACOIMA","state":"CA","zip_code":"91331","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"9
        SAN JUAN ST.","city":"PACOIMA","state":"CA","zip_code":"91331","zip_suffix_code":null}}],"visits":null,"annual_visit_year":null,"prelicensing_visit_date":null,"children":[],"inspections":[],"complaints":[]}},{"_index":"facilities","_type":"facility","_id":"193600035","_score":1.115982,"_source":{"href":null,"id":"193600035","type":{"id":"740","value":"RESIDENTIAL-ELDERLY"},"name":"SHREK
        FOSTER FAMILY HOME","licensee_name":"FRESH START YOUTH CENTER, INC.","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"14","name":"SF
        COASTAL AC/SC"},"license_number":"193600035","status":{"id":"7","value":"APPLICATION
        WITHDRWN"},"capacity":7,"lice[...]
