---
http_interactions:
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"name":"home"}}]}}]}}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..s6Q9ttPlg_L6Q0Ab.DZ3NyrPsjqnArJxmQ682X3vRoVTxtvJxZ07AWQuSXlWjtz6CPuX6RftAEZ1E9zxbfHinWpKg5-0DH0ugXesnssmkfnVa9ziBsojrDqZ2YQ6c98OBhwPVHp5UoYeB5sHzSFplKosHJU5DW69ztbEaw7hysg1ldCqGYs8vndbMFCZ7jvWZiG8oIa1UDSZP5cdlerHc_YWeCB_oUaEKy7kz6TrhnbtJ9fHS1iFONkeQqAX1nt3rY_65JhhmYyBT27oR6uDBgo1qbzBhe1_9rasrmaiDiFe3RdfdzgeRlIFeb1jJFwPsGvYfGue67ZHrUqYha_LKYUSCALI6ECHBmLLTTX9YOTnulvT5Vb14vG7KrGp1g0XR31jmlz6U2-qrQJ2WrkAHGNW2J9WmnF6JjlaJEtKZe5q-uTXhqL_glZPjOC51Drb9lWYkQQ9HPlZCDNCAOEYvB5PU-9gGOtPd8sF5WZDNiPnYz70re3yWORF013lOfqvkCSUuKxv81DL6DlIprcU53MeJ3UZcRqhJwDszl92K8REqRfDDsdl7YC7zOEVptxFiRDs9Cv3C02qkCCagAtSZH2b7Xu0nH7MRkMEziTa_htij6r7Hi1znhUQT1yjM8KJPET8JAN-_f5Z7BymphcMDpjaNeSzNmLe_QdxRiZZ8nJtIRmmncvJjFEe68roB0rTCiBnUPjw2xO-UByLYVbj43au4A6Cp7cGKEne1EEfcAA4Im2Ndyaf3hKTBJ9M46kjJZupC2ncMHbSPwh8AyqBnYSrbafJZFM2L9bJxEtI94xpyONe-o7LGpgI1NG3wMh3QdscbCRrfIa3YVx-8CkK_E_m2SD1_72dzwPh5D9ySpXk-CKOJILwEOSfnxLMJBqhiJThWD6Mquqf5AhUWv1VaZcWLZjibG0-OBw_9sXD16ZeOA4x9brK7VrSbuTERvYxaxzCnSl9i_f1awYJclThxKc2NvJPi6EW3BXMpRCdQD8ku44IIHmzlcoW17pfMP7_p1HH2567NkR-Kv-JvBh1fMh2MSu7wvhkhvGdzCVrmowxDUjN_f3C9voQarjnZxfvhWZmGZKdxLT5h4ehPPteZkQ.l9W6FQ-xI3vObRP4zzGy8w"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":14,"max_score":2.0807261,"hits":[{"_index":"facilities","_type":"facility","_id":"415600338","_score":2.0807261,"_source":{"href":null,"id":"415600338","type":{"id":"721","value":"TEMPORARY
        SHELTER CARE FACILITY"},"name":"Volsware Home","licensee_name":"City of Sunnyvale","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"26","name":"CENTRAL
        COAST CR/RES"},"license_number":"415600338","status":{"id":"7","value":"APPLICATION
        WITHDRWN"},"capacity":10,"license_effective_date":null,"original_application_recieved_date":{"year":2016,"month":"AUGUST","era":"CE","dayOfYear":243,"dayOfWeek":"TUESDAY","leapYear":true,"dayOfMonth":30,"monthValue":8,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"43","value":"SANTA
        CLARA","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"4087201164"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"835
        Dartshire Way","city":"Sunnyvale","state":"CA","zip_code":"94087","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"PO
        Box 8351","city":"Sunnyvale","state":"CA","zip_code":"94087","zip_suffix_code":null}}],"visits":[{"approval":"","visit_type":"Annual
        10 month","visit_date":{"year":2011,"month":"OCTOBER","hour":0,"minute":0,"second":0,"nano":0,"dayOfYear":301,"dayOfWeek":"FRIDAY","dayOfMonth":28,"monthValue":10,"chronology":{"calendarType":"iso8601","id":"ISO"}},"visit_deferred_date":null},{"approval":"","visit_type":"Annual
        22 month","visit_date":null,"visit_deferred_date":null},{"approval":"","visit_type":"Post
        Licensing","visit_date":null,"visit_deferred_date":{"year":1991,"month":"NOVEMBER","hour":0,"minute":0,"second":0,"nano":0,"dayOfYear":310,"dayOfWeek":"WEDNESDAY","dayOfMonth":6,"monthValue":11,"chronology":{"calendarType":"iso8601","id":"ISO"}}},{"approval":"","visit_type":"Renewal","visit_date":null,"visit_deferred_date":null}],"annual_visit_year":12,"prelicensing_visit_date":null,"children":[],"inspections":[],"complaints":[]}},{"_index":"facilities","_type":"facility","_id":"430988436","_score":2.047123,"_source":{"href":null,"id":"430988436","type":{"id":"710","value":"SMALL
        FAMILY HOME"},"name":"Nguyen Small Family Home","licensee_name":"Chau & Quan
        Nguyen","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"26","name":"CENTRAL
        COAST CR/RES"},"license_number":"430988436","status":{"id":"3","value":"LICENSED"},"capacity":10,"license_effective_date":{[...]
