---
http_interactions:
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"name":"home"}}]}}]}}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..FgHJyRo0rtGc5etJ.QiirL-PxjgRPAP_1bUcmHXb_D9-m62j96sAhePzFo567J2ATnqRKrXR4R4KSYXO3U_PragkmhEzmGS4koBlvHqKmuiJHkkIF-c2dIRMTsDETMOGMwbeUAOdoRRLIAAAgEV0N8Hmu_bgqxFZZrGOwINxF3MQaj24Iv7vT5ZGmoupFZPKZhd8HPMUVw3AXIvsawzRNVLP6SZoVrRb-5bZNvlIOp0igWDnitmUNtrBJmmnnIvSU2sHnvuEiHvhRLlYUYK7aYoDhUznQdmeC3EpyO3t3K99OXXq-J153ViwADCitrXsaE33wPGGY5Sr_aju7NsmyNRqVbhNnUGbMmvrS4zLSRs9lCbgDnSWZLexNEYPmHNZFWQPRP_udFv7UPuIi1HUFSqo5rKBQsOO6ALJQtJxmEdWonKRO2mFx8DiHIt8Pr4Bf6WbeHLbhJbIdoyUUBNTS-SSjZY2sxAc9-5wdRGDB7FTjk2PKibGmG2USfKMq9ItfCaGpxXMQjI0SIC7TujhON5Rc6Llj023rh45uxgJL7hwxPXI_f-3Qbt9yDluQZxP9cMiV0Tt4rEej-ZkpmS2-To6JZGFy3x5uqbT0MP9oRSnGX6oLN88icinpwQqqym5xn7KVJduxJn1jahWccpe_0T169kEGoQnT1DxIbd1LgKRLq-JrVXARFR0xRWmoY8ifuKnxeZeHEpYoxQOlYUUo_a-_mfJo55eujkTU2EiMuzMO7AaWhbl3FsodTuJipoiQyuU5ctdb7y86NTgVGB8xwpfdr682vEFSOoV08ve3XaMm5Xfn0IFLenj2jUOIEKhFHi3UoahQs3fVUTn4CydCMYE_8ysJNypgsqz9aZSgg90y5jo44ktFJn8-bjs-0fb7Mde6kgHRvUQ52rWtCvjptWrnguqVZZLGvfBxsfkisKkf9z1w1Kb4ToQMi2xzTx35WHWwLHARualiKWfb6cK2FLrJzUR5ROI2PjFX1JQGOa_b6RdHsNxBL9X2IMHfBXC_V6C8TPBHVHitjRPpR65wZasBNyTufflYhtat0s86HxIQvvtvl33g_2swPDj3I9b4PaTJXaT45f5ZlG7mCJT36Q.q8JjzZRputkQWLM45DQv_Q"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":14,"max_score":2.0807261,"hits":[{"_index":"facilities","_type":"facility","_id":"415600338","_score":2.0807261,"_source":{"href":null,"id":"415600338","type":{"id":"721","value":"TEMPORARY
        SHELTER CARE FACILITY"},"name":"Volsware Home","licensee_name":"City of Sunnyvale","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"26","name":"CENTRAL
        COAST CR/RES"},"license_number":"415600338","status":{"id":"7","value":"APPLICATION
        WITHDRWN"},"capacity":10,"license_effective_date":null,"original_application_recieved_date":{"year":2016,"month":"AUGUST","era":"CE","dayOfYear":243,"dayOfWeek":"TUESDAY","leapYear":true,"dayOfMonth":30,"monthValue":8,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"43","value":"SANTA
        CLARA","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"4087201164"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"835
        Dartshire Way","city":"Sunnyvale","state":"CA","zip_code":"94087","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"PO
        Box 8351","city":"Sunnyvale","state":"CA","zip_code":"94087","zip_suffix_code":null}}],"visits":[{"approval":"","visit_type":"Annual
        10 month","visit_date":{"year":2011,"month":"OCTOBER","hour":0,"minute":0,"second":0,"nano":0,"dayOfYear":301,"dayOfWeek":"FRIDAY","dayOfMonth":28,"monthValue":10,"chronology":{"calendarType":"iso8601","id":"ISO"}},"visit_deferred_date":null},{"approval":"","visit_type":"Annual
        22 month","visit_date":null,"visit_deferred_date":null},{"approval":"","visit_type":"Post
        Licensing","visit_date":null,"visit_deferred_date":{"year":1991,"month":"NOVEMBER","hour":0,"minute":0,"second":0,"nano":0,"dayOfYear":310,"dayOfWeek":"WEDNESDAY","dayOfMonth":6,"monthValue":11,"chronology":{"calendarType":"iso8601","id":"ISO"}}},{"approval":"","visit_type":"Renewal","visit_date":null,"visit_deferred_date":null}],"annual_visit_year":12,"prelicensing_visit_date":null,"children":[],"inspections":[],"complaints":[]}},{"_index":"facilities","_type":"facility","_id":"430988436","_score":2.047123,"_source":{"href":null,"id":"430988436","type":{"id":"710","value":"SMALL
        FAMILY HOME"},"name":"Nguyen Small Family Home","licensee_name":"Chau & Quan
        Nguyen","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"26","name":"CENTRAL
        COAST CR/RES"},"license_number":"430988436","status":{"id":"3","value":"LICENSED"},"capacity":10,"license_effective_date":{[...]
