---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/facilities/300665437
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._IKHzTgp_4pP7F5_.sSDF-NgKJG8mTW6BQI0XfXX471RT265ppQNhcetjtamFlu7uYCKLNpYl_newwlj5Bh0SCA5dwFVaVBZQ_mmf7EMgrMkm-DrAKrrdlS9nrG3hHTPDgzJqD8FIj16D0-P-avmG-RPJO4PsBniFrH1kb1hzGwcobjrUCWyw9dPD3k7XmuvTY4fx6BfzyqORfXdJugeVfL4V5OMGDpXOiuaK2qP4BtDn3o6Zdr20y5mFIqW_5MQ-J841wq54PrkkE2yKazy67Z-yErMDW9QT3uUQwsSkwaIAEBJL_6KV9kDLdw2zZvKrRaDwKOua1sm-Z1Edmg25tDZIhd8TLTY8yao4BSUZcuhLfZBpwHk_JOV3mCIw27g4Wy2XyyNCkfd7KZHHslLp3QpZ01e__VM92PD09PH2-U1IPehvXMTnAGtee30hVCcdL31do4xSmT8XSC7_wFcbIZQc12z-zASbi1tGxJmPxiNJopRnIecpMzJh51KcUFu_utkiwmjPGEoolfoZwrqG10L7no5gR04Jq77Zc_WuU97EYd_0V0umY6DraBCCMXggQixJUqyrJ_hv5SAHNyIrwhHt_LZmi0CVdjVc5TxDNrMpm2RKjduPn38-dzf3OX9x0vyr4s1knPD5mxs0LqCAkD1PWENNYkEDPXqhbPNOWsGw2BcPP41mlgssfCcHrM9Bfk_OtQIPG_OZq5631QG3MJXaHOyaBlJBAA2ifwAcwItdlTYAs8tSgHdTMu6qh723qP3vGg1AxxzyT5ivci69j28uVBqZf4oQFXzWubcjY7rbqlE28sfJ4JPL7wzfygufV3NhumMixP-PAwYLtOVewMNvLpi_mNaI6x9f6gub4vsqFIFFEpWl7KG2ucp5m_n60Ge0NLWKixzZdJPdeJGG64C9PRitwt6vnlSABAGDN91Ya-Ft2-slgPWylAe7mVsBCPQHXttozkJWNujnzivJu3zlq2bGUD_6YNxaoyyrT_GYdfg09VRCera0YuT6hp2lbFOyHeG_E3Bfnbw6pbjMu28wVQ.QjRcg45iKh5G-wCokQFVvw"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "facilities/300665437",
          "id" : "300665437",
          "type" : {
            "id" : "726",
            "value" : "TRANSITIONAL HOUSING PLACEMENT PROGRAM"
          },
          "name" : "Lederhouse Transitions",
          "licensee_name" : "Lederhouse Transitions Inc.",
          "license_type" : "A",
          "assigned_worker" : { },
          "district_office" : {
            "number" : "19",
            "name" : "PACIFIC INLAND CR"
          },
          "license_number" : "300665437",
          "status" : {
            "id" : "5",
            "value" : "PROBATIONARY LICENSE"
          },
          "capacity" : 10,
          "license_effective_date" : "2012-10-01",
          "original_application_recieved_date" : "2012-07-18",
          "last_visit_date" : "2017-04-14 00:00:00",
          "last_visit_reason" : {
            "id" : "10",
            "value" : "CASELOAD MANAGEMENT"
          },
          "county" : {
            "id" : "30",
            "value" : "ORANGE"
          },
          "phones" : [ {
            "relation" : "primary",
            "type" : "Cell",
            "number" : "9494480118"
          } ],
          "addresses" : [ {
            "type" : "Residential",
            "address" : {
              "street_address" : "36 Sequoia Dr",
              "city" : "Aliso Viejo",
              "state" : "CA",
              "zip_code" : "92656"
            }
          }, {
            "type" : "Mailing",
            "address" : {
              "street_address" : "36 Sequoia Dr",
              "city" : "Aliso Viejo",
              "state" : "CA",
              "zip_code" : "92656"
            }
          } ],
          "visits" : [ {
            "approval" : "",
            "visit_type" : "Annual 10 month",
            "visit_date" : "2011-10-28"
          }, {
            "approval" : "",
            "visit_type" : "Annual 22 month"
          }, {
            "approval" : "",
            "visit_type" : "Post Licensing",
            "visit_deferred_date" : "1991-11-06"
          }, {
            "approval" : "",
            "visit_type" : "Renewal"
          } ],
          "annual_visit_year" : 12
        }
  recorded_at: Wed, 01 Nov 2017 02:49:41 GMT
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/facilities/300665437/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._IKHzTgp_4pP7F5_.sSDF-NgKJG8mTW6BQI0XfXX471RT265ppQNhcetjtamFlu7uYCKLNpYl_newwlj5Bh0SCA5dwFVaVBZQ_mmf7EMgrMkm-DrAKrrdlS9nrG3hHTPDgzJqD8FIj16D0-P-avmG-RPJO4PsBniFrH1kb1hzGwcobjrUCWyw9dPD3k7XmuvTY4fx6BfzyqORfXdJugeVfL4V5OMGDpXOiuaK2qP4BtDn3o6Zdr20y5mFIqW_5MQ-J841wq54PrkkE2yKazy67Z-yErMDW9QT3uUQwsSkwaIAEBJL_6KV9kDLdw2zZvKrRaDwKOua1sm-Z1Edmg25tDZIhd8TLTY8yao4BSUZcuhLfZBpwHk_JOV3mCIw27g4Wy2XyyNCkfd7KZHHslLp3QpZ01e__VM92PD09PH2-U1IPehvXMTnAGtee30hVCcdL31do4xSmT8XSC7_wFcbIZQc12z-zASbi1tGxJmPxiNJopRnIecpMzJh51KcUFu_utkiwmjPGEoolfoZwrqG10L7no5gR04Jq77Zc_WuU97EYd_0V0umY6DraBCCMXggQixJUqyrJ_hv5SAHNyIrwhHt_LZmi0CVdjVc5TxDNrMpm2RKjduPn38-dzf3OX9x0vyr4s1knPD5mxs0LqCAkD1PWENNYkEDPXqhbPNOWsGw2BcPP41mlgssfCcHrM9Bfk_OtQIPG_OZq5631QG3MJXaHOyaBlJBAA2ifwAcwItdlTYAs8tSgHdTMu6qh723qP3vGg1AxxzyT5ivci69j28uVBqZf4oQFXzWubcjY7rbqlE28sfJ4JPL7wzfygufV3NhumMixP-PAwYLtOVewMNvLpi_mNaI6x9f6gub4vsqFIFFEpWl7KG2ucp5m_n60Ge0NLWKixzZdJPdeJGG64C9PRitwt6vnlSABAGDN91Ya-Ft2-slgPWylAe7mVsBCPQHXttozkJWNujnzivJu3zlq2bGUD_6YNxaoyyrT_GYdfg09VRCera0YuT6hp2lbFOyHeG_E3Bfnbw6pbjMu28wVQ.QjRcg45iKh5G-wCokQFVvw"
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /facilities/300665437/children. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Wed, 01 Nov 2017 02:49:42 GMT
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/facilities/300665437/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._IKHzTgp_4pP7F5_.sSDF-NgKJG8mTW6BQI0XfXX471RT265ppQNhcetjtamFlu7uYCKLNpYl_newwlj5Bh0SCA5dwFVaVBZQ_mmf7EMgrMkm-DrAKrrdlS9nrG3hHTPDgzJqD8FIj16D0-P-avmG-RPJO4PsBniFrH1kb1hzGwcobjrUCWyw9dPD3k7XmuvTY4fx6BfzyqORfXdJugeVfL4V5OMGDpXOiuaK2qP4BtDn3o6Zdr20y5mFIqW_5MQ-J[...]
