---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 20059,
            "application_county" : {
              "value" : "Madera",
              "id" : 20
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "2870 something else",
                "zip" : "12345",
                "city" : "Sacremento",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : false,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : false,
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              }, {
                "value" : "Armenian",
                "id" : 3
              } ]
            },
            "applicants" : [ {
              "id" : 13678,
              "to_delete" : false,
              "first_name" : "James",
              "middle_name" : "",
              "last_name" : "0123Monteo",
              "other_names" : [ ],
              "date_of_birth" : "1986-11-11",
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            }, {
              "id" : 13679,
              "to_delete" : false,
              "first_name" : "James",
              "middle_name" : "",
              "last_name" : "0123Monteo",
              "other_names" : [ ],
              "date_of_birth" : "1986-11-11",
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "placement_home_id" : "Bhv8zsa0X5",
            "metadata" : {
              "submit_enabled" : true
            },
            "status" : "SUBMITTED",
            "tracking_id" : 902,
            "resource_family_name" : "0123Monteo, James",
            "is_initial_application" : false
          }, {
            "id" : 20053,
            "application_county" : {
              "value" : "Madera",
              "id" : 20
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "2870 something else",
                "zip" : "12345",
                "city" : "Sacremento",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
      [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 20430,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Wed, 22 Aug 2018 17:22:10 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:11 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:11 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:11 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:11 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:12 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:12 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:12 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:12 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:12 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:12 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:12 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:13 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:13 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:13 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:13 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/20430?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 20430,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Wed, 22 Aug 2018 17:22:13 GMT
- request:
    method: get
    uri: https://geo.preint.cwds.io/address/suggest/2870%20something%20else
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "[ ]"
  recorded_at: Wed, 22 Aug 2018 17:22:19 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/20430
    body:
      encoding: UTF-8
      string: '{"id":20430,"status":"DRAFT","is_initial_application":false,"application_county":{"value":"Madera","id":20},"applicants":[{"gender":{"id":"1","value":"Male"},"phones":[{"number":"2012222345","phone_type":{"id":2,"value":"Home"},"preferred":false}],"date_of_birth":"1986-11-11","last_name":"0123Mont","middle_name":"","other_names":[],"first_name":"James","email":"","[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/20430
    body:
      encoding: UTF-8
      string: '{"id":20430,"status":"DRAFT","is_initial_application":false,"application_county":{"value":"Madera","id":20},"applicants":[{"gender":{"id":"1","value":"Male"},"phones":[{"number":"2012222345","phone_type":{"id":2,"value":"Home"},"preferred":false}],"date_of_birth":"1986-11-11","last_name":"0123Mont","middle_name":"","other_names":[],"first_name":"James","email":"","driver_license_number":""}],"residence":{"addresses":[{"street_address":"2870
        something else","zip":"12345","city":"Sacremento","state":{"id":"CA","value":"California"},"type":{"id":"1","value":"Residential"}},{"street_address":"","zip":"","city":"","state":null,"type":{"id":"3","value":"Mailing"}}],"body_of_water_exist":"false","body_of_water_description":"","others_using_residence_as_mailing":"false","physical_mailing_similar":"true","weapon_in_home":"true","residence_ownership":{"id":"1","value":"Own"},"directions_to_home":"","home_languages":[{"id":1,"value":"American
        Sign Language"},{"id":3,"value":"Armenian"}]},"metadata":{"submit_enabled":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 20430,
          "application_county" : {
            "value" : "Madera",
            "id" : 20
          },
          "residence" : {
            "addresses" : [ {
              "street_address" : "2870 something el[...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/20430/status
    body:
      encoding: UTF-8
      string: '{"status":"SUBMITTED"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Aug 2018 17:22:24 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/20107/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 22,
            "date" : "1990-11-20",
            "classification" : {
              "value" : "Confidential",
              "id" : 1
            },
            "contact_method" : {
              "value" : "Email",
              "id" : 3
            },
            "in_person_contact_data" : {
              "location" : {
                "value" : "Office",
                "id" : 1
              },
              "notice" : true,
              "is_collateral_visit" : true,
              "collateral_visit_start_time" : "12:13:20",
              "collateral_visit_end_time" : "23:13:20",
              "visit_type" : {
                "value" : "Other",
                "id" : 13
              }
            },
            "title" : "contact title"
          }, {
            "id" : 23,
            "date" : "1990-11-20",
            "classification" : {
              "value" : "Confidential",
              "id" : 1
            },
            "contact_method" : {
              "value" : "Email",
              "id" : 3
            },
            "in_person_contact_data" : {
              "location" : {
                "value" : "Office",
                "id" : 1
              },
              "notice" : true,
              "is_collateral_visit" : true,
              "collateral_visit_start_time" : "12:13:20",
              "collateral_visit_end_time" : "23:13:20",
              "visit_type" : {
                "value" : "Other",
                "id" : 13
              }
            },
            "title" : "contact title"
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:27 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/contact-classifications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Confidential",
            "id" : 1
          }, {
            "value" : "Public",
            "id" : 2
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:28 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/contact-locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Office",
            "id" : 1
          }, {
            "value" : "Home/Facility",
            "id" : 2
          }, {
            "value" : "Other",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:28 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/contact-visit-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/contact-methods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "In Person",
            "id" : 1
          }, {
            "value" : "Telephone",
            "id" : 2
          }, {
            "value" : "Email",
            "id" : 3
          }, {
            "value" : "Other",
            "id" : 4
          } ]
        }
  recorded_at: Wed, 22 Aug 2018 17:22:29 GMT
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/20107/contacts
    body:
      encoding: UTF-8
      string: '{"date":"1990-11-20","title":"contact title","notes":"contact notes","classification":{"id":1,"value":"Confidential"},"contact_method":{"id":"3","value":"Email"},"in_person_contact_data":{"is_collateral_visit":true,"notice":true,"collateral_visit_start_time":"12:13:20","collateral_visit_end_time":"23:13:20","visit_type":{"id":"13","value":"Other"},"location":{"id":"1","value":"Office"}}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - fc51f99d-b281-4a89-bb5c-85468b5e4acb
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 34,
          "date" : "1990-11-20",
          "classification" : {
            "value" : "Confidential",
            "id" : 1
          },
          "contact_method" : {
            "value" : "Email",
            "id" : 3
          },
          "in_person_contact_data" : {
            "location" : {
              "value" : "Office",
              "id" : 1
            },
            "notice" : true,
            "is_collateral_visit" : true,
            "collateral_visit_start_time" : "12:13:20",
            "collateral_visit_end_time" : "23:13:20",
            "visit_type" : {
              "value" : "Other",
              "id" : 13
            }
          },
          "title" : "contact title",
          "notes" : "contact notes"
        }
  recorded_at: Wed, 22 Aug 2018 17:22:31 GMT
recorded_with: VCR 3.0.3
