---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..akOzGDwe1ilFwWe8.LLCnrWDGHmueeeQGMb8BhZfV_ZvvIeqx93ktjS2wmeePLq_SE7CUHnlgX4y0KM1kGLUA2N1SLOmqjwlJCaLrv3N0mRaWHOWs4dXq7tysNzeUocg4-AcT14OTROfgr2ArLRJ-6KhGtE_XSgVA3k80vwgznKJvrePDvf8Rf-TAAH6aDC1r49CsmEJvXBg-M4bKWsAsKXJd4vjGO9ne1QS372R1xufNt6Z-QzySxp-tpwHvlMn95scPuFlpF6-g4E8qdFLS37PpYQEi57PYHThd99ycb-Eqlp21_aGvHdaabE8mrywR45kyhftFqT4pMb5f7kh-6-MCSZq0l_qC3tefgxBiuJKf7KSMi_F6OXS-ZBNGUNX3nTPUUw6L9uJ_fCdm6L_zRrLQg9aVmTPbP-eY2P6jwyNx6legZY7GctD3G3vfwYzK-NYTMpIiqMBR-68dCvuwaizR7valkGMhXl32IGIITX39a5Qcl0ityekdN2ThkwvYxXADq-TNV8j8JUWSsmKzwJlNwbIbXtcxnGrT7x79TR4lmKhEZm1z8ufpI4jf3qpyNoxBu1AaMn8czQmvQdgYGrjJd3BRhhfNbLQ9mk8-tTz15Nm_hUATVkykcQb0HdLiyvN12_vL8Y1GK-bVHsblvWfgPcNefSCAOO-M.UFTRcPo0_1rA4er_fHW5DA"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 37,
            "applicants" : [ ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1b_forms" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 36,
            "applicants" : [ ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1b_forms" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 35,
            "applicants" : [ ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1b_forms" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 34,
            "applicants" : [ ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1b_forms" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 2,
            "other_type_description" : "Description",
            "application_county" : {
              "id" : 39,
              "value" : "Sacramento"
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "1703 Redoak Ct.",
                "zip" : "98123",
                "city" : "Rocklin",
                "state" : {
                  "id" : 6,
                  "value" : "California"
                },
                "type" : {
                  "id" : 1,
                  "value" : "Residential"
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "id" : 0,
                "value" : "string"
              },
              "weapon_in_home" : false,
              "body_of_water_exist" : true,
              "body_of_water_description" : "Description here",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "first_name" : "string",
                "middle_name" : "string",
                "last_name" : "string"
              } ],
              "directions_to_home" : "Directions here",
              "home_languages" : [ {
                "id" : 0,
                "value" : "string"
              } ]
            },
            "applicants_relationship" : {
              "relationship_type" : {
                "id" : 1,
                "value" : "Married"
              },
              "other_relationship" : "string",
              "date_of_relationship" : "2015-03-25",
              "place_of_relationship_city" : "Sacramento",
              "place_of_relationship_state" : {
                "id" : 6,
                "value" : "California"
              }
            },
            "applicants_history" : {
              "former_spouses" : [ {
                "relationship_type" : {
                  "id" : 0,
                  "value" : "string"
                },
                "applicant_id" : 1234567,
                "first_name" : "Anna",
                "middle_name" : "L.",
                "last_name" : "Pollen",
                "date_of_marriage" : "2016-12-26",
                "place_of_marriage_city" : "Sacramento",
                "place_of_marriage_state" : {
                  "id" : 6,
                  "value" : "California"
                },
                "marriage_termination_reason" : {
                  "id" : 1,
                  "value" : "Marriage Dissolution (Divorce)"
                },
                "date_of_marriage_end" : "2016-12-26",
                "place_of_marriage_end_city" : "Sacramento",
                "place_of_marriage_end_state" : {
                  "id" : 6,
                  "value" : "California"
                }
              } ],
              "adult_children" : [ {
                "first_name" : "Andrew",
                "middle_name" : "",
                "last_name" : "Pollen",
                "relationship_to_applicant" : {
                  "id" : 1,
                  "value" : "Child"
                },
                "adult_child_related_to" : [ 12345678 ]
              } ]
            },
            "applicants" : [ {
              "id" : 0,
              "first_name" : "Jane",
              "middle_name" : "J",
              "last_name" : "Smith",
              "other_names" : [ {
                "first_name" : "string",
                "middle_name" : "string",
                "last_name" : "string",
                "name_type" : {
                  "id" : 0,
                  "value" : "string"
                }
              } ],
              "highest_education_level" : {
                "id" : 3,
                "value" : "Some College"
              },
              "date_of_birth" : "1999-08-10",
              "gender" : {
                "id" : 2,
                "value" : "Female"
              },
              "race" : {
                "id" : 6,
                "value" : "White"
              },
              "ethnicity" : {
                "id" : 33,
                "value" : "White"
              },
              "driver_license_number" : "F-2233222322",
              "driver_license_state" : {
                "id" : 0,
                "value" : "AK"
              },
              "email" : "jhi@jkl.net",
              "employment" : {
                "employer_name" : "string",
                "occupation" : "string",
                "income" : 0.0,
                "income_type" : {
                  "id" : 0,
                  "value" : "string"
                },
                "physical_address" : {
                  "street_address" : "string",
                  "city" : "string",
                  "state" : {
                    "id" : 0,
                    "value" : "string"
                  },
                  "zip" : "string"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "id" : 1,
                  "value" : "Cell"
                },
                "number" : "(534) 758-3303",
                "preferred" : true
              } ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1b_forms" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : true,
            "is_other_type" : false
          }, {
            "id" : 1,
            "other_type_description" : "Description",
            "application_county" : {
              "id" : 39,
              "value" : "Sacramento"
            },
            "residence" : {
         [...]
