---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..PHYXON7wdP3DK33l.jxx1kJiLRonSxmZmbm6XUqfAogPfx731JfsCSo1uRhkZBnH9HMoqTZPljrADYE4l1g_yWPuw8ETt5lpHCTnpeS3HavQSb03OV7GqslVhLQIkOq-xrDAHshPEJ-oC4E1ApVG9F3t5cpQEQ2z3WLxNgI2JoqxSljAGuD_0d3ujtuLFq55PGPjYaDTASEa4BUUNErjb9nodCGrDuZ8kz2wwnEyCH4y_xv78Q1Q6UE4WdAxPxiqYWgvDlCitP-vTzS_0deysYxkWaWmXjqFpuEmL6Tgnc9qz38C6cc42W7uIGnBAinY_w52Fxh8J7j06jjUYaGAEqF1GGW3lzkQcwwyIOjvwHQdExscLdR5stO5bXCZNukxjKS3ZJZ1GZ28ZDoxffgKBXHVJ26ULngdRHvuGfBhBKdbyJBD3i7WDFlhtubOKyR-6aqje3BqheHr6JVcUrUGkKjdc34EiYwiuYMSIn4EJDMYSTFaLqsZQlHCfY6CxcFR9dyMuE0m0O_XvsxTkclERAxVmzv-IzAu-WORbOZemceH51kxvKR4vS42joxQcc0Mvv9udDp2Psyq7jomIKT4FbrcDv2R96Fmu3ysgf8I0OzaID7_n8TQZm69gwDpXE4lU5Do4pFFkG2DMUsH9LnMtK73f40JszVlqErQi6fd9R-jN1VK16y5RzeTgc1gAlfx3YRYGfHBGvzJRyGavx7oxOgqCcY982jTsVdi2H0J-kpp34qTRSY1YMT2ooDmIOIf4P2n2vQXjc45qWA3A45C_6nNZRlunpJge3yr8nvLsGJ6uSPmpwek43BBWmjCYcFIrcMD9ipSKM8mINBm3V5xlaevMNshhv_KTXYJTpISPWSAWiLvlbAWLExb-KL05nDjUKwHRucYD6zAkTJvNFrKr8oqKI4aL1assi5rFjA5BLwIZvbTC5LootE18PNg92b6WD7Jo0e4NWRbnvSEyRaHtCpv6sC_BFvkUH2iIyADy_3WnJYygHcA-9eWRNTjG7zDXNXABtaBowewbEh3vdu-zPJ6ElElASWqNOcP9MczZDvgk8R-mYGrDTTK0mEiqmS6hvPuRKNQf2JcijTGeml0oBQ.WYy9DWDCSp-OJalnaJpQ7Q"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 113,
            "applicants" : [ {
              "id" : 99,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ {
              "id" : 10,
              "first_name" : "",
              "middle_name" : "",
              "last_name" : "",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 112,
            "residence" : {
              "addresses" : [ {
                "street_address" : "maing address here",
                "zip" : "12345",
                "city" : "secondary city",
                "state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "body of water goes here",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "Arabic",
                "id" : 2
              } ]
            },
            "applicants" : [ {
              "id" : 98,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 something else",
                  "city" : "",
                  "zip" : "12345"
                }
              },
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 111,
            "applicants" : [ {
              "id" : 97,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : false,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 110,
            "applicants" : [ {
              "id" : 96,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 109,
            "applicants" : [ {
              "id" : 95,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10.0,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 108,
            "applicants" : [ {
              "id" : 94,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ {
              "id" : 12,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 107,
            "applicants" : [ {
              "id" : 93,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "[...]
