---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..s6Q9ttPlg_L6Q0Ab.DZ3NyrPsjqnArJxmQ682X3vRoVTxtvJxZ07AWQuSXlWjtz6CPuX6RftAEZ1E9zxbfHinWpKg5-0DH0ugXesnssmkfnVa9ziBsojrDqZ2YQ6c98OBhwPVHp5UoYeB5sHzSFplKosHJU5DW69ztbEaw7hysg1ldCqGYs8vndbMFCZ7jvWZiG8oIa1UDSZP5cdlerHc_YWeCB_oUaEKy7kz6TrhnbtJ9fHS1iFONkeQqAX1nt3rY_65JhhmYyBT27oR6uDBgo1qbzBhe1_9rasrmaiDiFe3RdfdzgeRlIFeb1jJFwPsGvYfGue67ZHrUqYha_LKYUSCALI6ECHBmLLTTX9YOTnulvT5Vb14vG7KrGp1g0XR31jmlz6U2-qrQJ2WrkAHGNW2J9WmnF6JjlaJEtKZe5q-uTXhqL_glZPjOC51Drb9lWYkQQ9HPlZCDNCAOEYvB5PU-9gGOtPd8sF5WZDNiPnYz70re3yWORF013lOfqvkCSUuKxv81DL6DlIprcU53MeJ3UZcRqhJwDszl92K8REqRfDDsdl7YC7zOEVptxFiRDs9Cv3C02qkCCagAtSZH2b7Xu0nH7MRkMEziTa_htij6r7Hi1znhUQT1yjM8KJPET8JAN-_f5Z7BymphcMDpjaNeSzNmLe_QdxRiZZ8nJtIRmmncvJjFEe68roB0rTCiBnUPjw2xO-UByLYVbj43au4A6Cp7cGKEne1EEfcAA4Im2Ndyaf3hKTBJ9M46kjJZupC2ncMHbSPwh8AyqBnYSrbafJZFM2L9bJxEtI94xpyONe-o7LGpgI1NG3wMh3QdscbCRrfIa3YVx-8CkK_E_m2SD1_72dzwPh5D9ySpXk-CKOJILwEOSfnxLMJBqhiJThWD6Mquqf5AhUWv1VaZcWLZjibG0-OBw_9sXD16ZeOA4x9brK7VrSbuTERvYxaxzCnSl9i_f1awYJclThxKc2NvJPi6EW3BXMpRCdQD8ku44IIHmzlcoW17pfMP7_p1HH2567NkR-Kv-JvBh1fMh2MSu7wvhkhvGdzCVrmowxDUjN_f3C9voQarjnZxfvhWZmGZKdxLT5h4ehPPteZkQ.l9W6FQ-xI3vObRP4zzGy8w"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 63,
            "applicants" : [ {
              "id" : 49,
              "first_name" : "Sam",
              "middle_name" : "k",
              "last_name" : "Lucile Oberbrunner",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 59,
            "residence" : {
              "addresses" : [ ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "body of water goes here",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "Arabic",
                "id" : 2
              } ]
            },
            "applicants" : [ {
              "id" : 48,
              "first_name" : "Willie Hermann",
              "middle_name" : "k",
              "last_name" : "Mark Balistreri",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "maing address here",
                  "city" : "secondary city",
                  "zip" : "12345"
                }
              },
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 58,
            "applicants" : [ {
              "id" : 47,
              "first_name" : "Lilly Block",
              "middle_name" : "k",
              "last_name" : "Alberto Gulgowski",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : false,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 56,
            "applicants" : [ {
              "id" : 46,
              "first_name" : "Margaretta Schuster",
              "middle_name" : "k",
              "last_name" : "Lavinia Senger",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ {
              "id" : 4,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 54,
            "applicants" : [ {
              "id" : 45,
              "first_name" : "Sherwood Mraz",
              "middle_name" : "k",
              "last_name" : "Jennings Hyatt",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
[...]
