---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 7052,
            "residence" : {
              "addresses" : [ {
                "street_address" : "2870 something else",
                "zip" : "12345",
                "city" : "Sacremento",
                "state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : ""
              } ],
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              }, {
                "value" : "Armenian",
                "id" : 3
              } ]
            },
            "applicants" : [ {
              "id" : 4323,
              "first_name" : "Paul",
              "middle_name" : "k",
              "last_name" : "Smit",
              "other_names" : [ ],
              "date_of_birth" : "1111-11-11",
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ],
              "rfa1b_form" : {
                "id" : 621,
                "resource_family_name" : "test",
                "applicant_first_name" : "first name",
                "applicant_last_name" : "last name",
                "residence_address" : {
                  "street_address" : "2870 something else",
                  "zip" : "12345",
                  "city" : "Sacremento",
                  "state" : {
                    "value" : "Alaska",
                    "id" : "AK"
                  }
                },
                "date_of_birth" : "1111-11-11",
                "metadata" : {
                  "submit_enabled" : true
                }
              }
            } ],
            "rfa1c_forms" : [ {
              "id" : 517,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "Paul",
                "middle_name" : "k",
                "last_name" : "Smit",
                "date_of_birth" : "2000-01-01",
                "relationship_to_applicants" : [ {
                  "relationship_to_applicant_freeform" : ""
                } ],
                "school_name" : "",
                "school_address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                },
                "child_in_home" : true
              } ],
              "metadata" : {
                "submit_enabled" : true
              }
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ ]
            },
            "metadata" : {
              "submit_enabled" : true
            },
            "is_initial_application" : false
          }, {
            "id" : 7050,
            "applicants" : [ {
              "id" : 4322,
              "first_name" : "Kimberley",
              "middle_name" : "k",
              "last_name" : "RReily",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "rfa1c_forms" : [ {
              "id" : 516,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "Kimberley",
                "middle_name" : "k",
                "last_name" : "RReily",
                "name_suffix" : {
                  "value" : "Sr",
                  "id" : 6
                },
                "date_of_birth" : "2000-01-01",
                "gender" : {
                  "value" : "Male",
                  "id" : 1
                },
                "relationship_to_applicants" : [ {
                  "relationship_to_applicant_freeform" : ""
                } ],
                "school_grade" : {
                  "value" : "TK",
                  "id" : 1
                },
                "school_name" : "School name",
                "school_address" : {
                  "street_address" : "address here",
                  "zip" : "12345",
                  "city" : "",
                  "state" : {
                    "value" : "Alabama",
                    "id" : "AL"
                  }
                }
              } ]
            } ],
            "child_desired" : {
      [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 7053,
          "is_initial_application" : false
        }
  recorded_at: Tue, 24 Apr 2018 00:48:42 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/7053/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:42 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/7053?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 7053,
          "is_initial_application" : false
        }
  recorded_at: Tue, 24 Apr 2018 00:48:42 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/7053/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/7053/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Tue, 24 Apr 2018 00:48:42 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:45 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/7053
    body:
      encoding: UTF-8
      string: '{"id":"7053"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 7053,
          "is_initial_application" : false
        }
  recorded_at: Tue, 24 Apr 2018 00:48:47 GMT
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/7053/applicants
    body:
      encoding: UTF-8
      string: '{"email":"","date_of_birth":"","first_name":"Kim","middle_name":"k","last_name":"RReily","driver_license_number":"","other_names":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 4324,
          "first_name" : "Kim",
          "middle_name" : "k",
          "last_name" : "RReily",
          "other_names" : [ ],
          "driver_license_number" : "",
          "email" : ""
        }
  recorded_at: Tue, 24 Apr 2018 00:48:48 GMT
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/7053/child-desired
    body:
      encoding: UTF-8
      string: '{"child_identified":"true","child_in_home":"true","preferred_ages":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "child_identified" : true,
          "child_in_home" : true,
          "preferred_ages" : [ ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:48 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:48 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/school-grades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "TK",
            "id" : 1
          }, {
            "value" : "K",
            "id" : 2
          }, {
            "value" : "1",
            "id" : 3
          }, {
            "value" : "2",
            "id" : 4
          }, {
            "value" : "3",
            "id" : 5
          }, {
            "value" : "4",
            "id" : 6
          }, {
            "value" : "5",
            "id" : 7
          }, {
            "value" : "6",
            "id" : 8
          }, {
            "value" : "7",
            "id" : 9
          }, {
            "value" : "8",
            "id" : 10
          }, {
            "value" : "9",
            "id" : 11
          }, {
            "value" : "10",
            "id" : 12
          }, {
            "value" : "11",
            "id" : 13
          }, {
            "value" : "12",
            "id" : 14
          }, {
            "value" : "College +",
            "id" : 15
          } ]
        }
  recorded_at: Tue, 24 Apr 2018 00:48:51 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/7053/rfa-1c-forms/518
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 518,
          "child_identified" : false
        }
  recorded_at: Tue, 24 Apr 2018 00:48:51 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/7053/rfa-1c-forms/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5ee9156c-9d6f-4c31-af72-f4823f8db0d7
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 518,
          "child_identified" : false
        }
  recorded_at: Tue, 24 Apr 2018 00:48:51 GMT
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/7053/rfa-1c-forms/518
    body:
      encoding: UTF-8
[...]
