---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 10605,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 10647,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "zip_extension" : "1111",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "longitude" : -121.25118,
                "lattitude" : 38.74037,
                "deliverable" : true,
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "Spa pool",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "name_prefix" : {
                  "value" : "Mr.",
                  "id" : 1
                },
                "first_name" : "string",
                "middle_name" : "string",
                "last_name" : "string",
                "name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                }
              } ],
              "directions_to_home" : "Directions here",
              "home_languages" : [ {
                "value" : "English",
                "id" : 6
              } ]
            },
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 10752,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 6598,
              "first_name" : "ab",
              "middle_name" : "",
              "last_name" : "abprefered",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "",
                "preferred" : false
              }, {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "3443323432",
                "preferred" : true
              } ]
            } ],
            "resource_family_name" : "abprefered, ab",
            "is_initial_application" : false
          }, {
            "id" : 10657,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "applicants" : [ {
              "id" : 6540,
              "name_prefix" : {
                "value" : "Ms.",
                "id" : 2
              },
              "first_name" : "AFn",
              "middle_name" : "N",
              "last_name" : "ALn",
              "name_suffix" : {
                "value" : "Jr",
                "id" : 5
              },
              "other_names" : [ {
                "name_prefix" : {
                  "value" : "Ms.",
                  "id" : 2
                },
                "first_name" : "AOnFn",
                "middle_name" : "N.",
                "last_name" : "AOnLn",
                "name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                },
                "name_type" : {
                  "value" : "Maiden",
                  "id" : 2
                }
              } ],
              "highest_education_level" : {
                "value" : "High School or Equivalent",
                "id" : 3
              },
              "date_of_birth" : "1981-12-26",
              "gender" : {
                "value" : "Female",
                "id" : 2
              },
              "race" : {
                "value" : "American Indian or Alaska Native",
                "id" : 1
              },
              "ethnicity" : {
                "value" : "Alaskan Native",
                "id" : 1
              },
              "driver_license_number" : "A1234567",
              "driver_license_state" : {
                "value" : "California",
                "id" : "CA"
              },
              "email" : "anna.smith@gmail.com",
              "employment" : {
                "employer_name" : "HSH Inc.",
                "occupation" : "Sr. Analyst",
                "income" : 98000.00,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "1702 Redoak Ct.",
                  "city" : "Rocklin",
                  "state" : {
                    "value" : "CA - California",
                    "id" : "AL"
                  },
                  "zip" : "98123"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Cell",
                  "id" : 1
                },
                "number" : "5347589802"
              }, {
                "phone_type" : {
                  "value" : "Work",
                  "id" : 3
                },
                "number" : "5347589803",
                "extension" : "1234567",
                "preferred" : true
              } ],
              "rfa1b_form" : {
                "id" : 1005,
                "application_county" : {
                  "value" : "Sacramento",
                  "id" : 34
                },
                "lived_in_other_state" : true,
                "other_states_of_living" : [ {
                  "value" : "Texas",
                  "id" : "TX"
                }, {
                  "value" : "Nevada",
                  "id" : "NV"
                } ],
                "convicted_in_california" : false,
                "convicted_in_another_state" : false,
                "arrested_for_crime" : false,
                "resource_family_name" : "Peterson",
                "applicant_name_prefix" : {
                  "value" : "Ms.",
                  "id" : 2
                },
                "applicant_first_name" : "AFn",
                "applicant_middle_name" : "N",
                "applicant_last_name" : "ALn",
                "applicant_name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                },
                "residence_address" : {
                  "street_address" : "1702 Redoak Ct.",
                  "zip" : "98123",
                  "city" : "Rocklin",
                  "state" : {
                    "value" : "California",
                    "id" : "CA"
                  },
                  "type" : {
                    "value" : "Residential",
                    "id" : 1
                  }
                },
                "ssn" : "464942323",
                "date_of_birth" : "1981-12-26",
                "driver_license" : "A1234567",
                "driver_license_state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "signature" : "Anna Peterson",
                "application_date" : "2017-07-02",
                "convicted_in_california_disclosures" : [ {
                  "offense" : "Offense description Offense description Offense description Offense description Offense description Offense description Offense description Offense description Offense description ",
                  "offense_city" : "Sacramento",
                  "offense_state" : {
                    "value" : "California",
                    "id" : "CA"
                  },
                  "offense_date" : "2014-03-12",
                  "when_offense_happen" : "free form text",
                  "offense_details" : "More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence ",
                  "signature" : "Anna Peterson",
                  "application_date" : "2017-07-02"
                } ],
                "convicted_in_another_state_disclosures" : [ {
                  "offense" : "Offense description Offense description ",
                  "offense_city" : "City",
                  "offense_state" : {
                    "value" : "Alaska",
                    "id" : "AK"
                  },
                  "offense_date" : "2014-03-12",
                  "when_offense_happen" : "free form text",
                  "offense_details" : "More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence ",
                  "signature" : "Signature",
                  "application_date" : "2017-07-02"
                } ],
                "arrested_for_crime_disclosures" : [ {
                  "offense" : "Offense description Offense description ",
                  "offense_city" : "Sacramento",
                  "offense_state" : {
                    "value" : "Alaska",
                    "id" : "AK"
                  },
                  "offense_date" : "2011-03-12",
                  "when_offense_happen" : "free form text",
                  "offense_details" : "More details about offence ",
                  "signature" : "Signature 2",
                  "application_date" : "2017-07-02"
                } ],
                "metadata" : {
                  "submit_enabled" : true
                }
              }
            } ],
            "resource_family_name" : "ALn, AFn",
            "is_initial_application" : false
          }, {
            "id" : 10583,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "applicants" : [ {
              "id" : 6500,
              "name_prefix" : {
                "value" : "Ms.",
            [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 10880,
          "is_initial_application" : false
        }
  recorded_at: Wed, 16 May 2018 22:01:31 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/10880/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Wed, 16 May 2018 22:01:32 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/10880?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 10880,
          "is_initial_application" : false
        }
  recorded_at: Wed, 16 May 2018 22:01:32 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/10880/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/10880/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Wed, 16 May 2018 22:01:32 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:33 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:34 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:34 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:35 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:35 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:35 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:37 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:37 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:38 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:39 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:39 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 16 May 2018 22:01:39 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 6ddf823b-717a-4742-8999-b364686411f3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
[...]
[...]
