---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBnoJ7nUaWLnK9EwrOCl4Z28w6vXb0GaAIqPWN3zdTsQSIPML8U-DQofG6UcXCuFNpJdsA2JSb6EewyQnYO8Ygt8In1eun1JEO3m2AACFbKbVPdi_ypgRR82rd9hmoOmqP9UAT_UekvcuX7MqMXbh_xqR0E8vawyJ81rIrqxngOnjr9YOHns8Yb0gJGCEknD2pfB6bH7zZ7OcH7HvfA8NWQh_i3sMa1IWNXSDcOQ8UHr_9No_Gd8QnC8KCNt7fFwo6LRquL2o4Us9el-so0-JGYXGj0wVO6tx8eofY1j9faZu8y-dDf2WJ1DPLwAws_MIPM_Dh0oj5cWZLwvj8-R9uRCCWm6MMy137fabLJE26N_t66CkS2oE20eYHO8RxMGh-kS5TqPimPdDYDjIn-A4Wmq3qveJrqaVPUESRmWBKlj6vz-x7fkBIHindQQkMhFbiWtI8ttVw--2gmQxtdBfawLcKu6LdskiP09T0gwZiMH1zhdOnx-ZjBKGmCLOUTRWjA3M2sENbMSLMnPMJ8edgDV6Wig4RTmNw22mzg2d7hdcVwi8XNy2kn5g-DJfXuz7zFKIlzjw5qRVYyPhQOBIaqaAT-GCoS83Q7ozCA0CzdgZ_zWJmqQWT5KMTFn6q8n9EmEIeCr-aC08ZVz-3mjEVO2W3ZYSE6vWqHVUl6WRAf_bQXi8q3375Gujf9Yh7n_1AqwTRLaEcLm8mn7T8URItLf8HfK_koLvevdANyEJNipROz5tnsQ.XIieQyZKEgZmic-qHreAVQ"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 982,
            "applicants" : [ {
              "id" : 376,
              "first_name" : "Nasar",
              "middle_name" : "u",
              "last_name" : "Khan",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ {
              "id" : 194,
              "child_identified" : false,
              "identified_children" : [ ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 981,
            "application_county" : {
              "value" : "Modoc",
              "id" : 25
            },
            "applicants" : [ {
              "id" : 375,
              "first_name" : "Nesh",
              "middle_name" : "",
              "last_name" : "R",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ],
              "rfa1b_form" : {
                "id" : 123,
                "lived_in_other_state" : true,
                "other_states_of_living" : [ {
                  "value" : "Alabama",
                  "id" : "AL"
                }, {
                  "value" : "Hawaii",
                  "id" : "HI"
                } ],
                "convicted_in_another_state" : true,
                "arrested_for_crime" : true,
                "resource_family_name" : "XYZ",
                "residence_address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : "",
                  "type" : {
                    "value" : "Residential",
                    "id" : 1
                  }
                },
                "ssn" : "iu9i9u9",
                "date_of_birth" : "2008-08-09",
                "convicted_in_california_disclosures" : [ ],
                "convicted_in_another_state_disclosures" : [ {
                  "offense" : "test 2",
                  "offense_city" : "kansas",
                  "when_offense_happen" : "alll",
                  "offense_details" : "blah"
                } ],
                "arrested_for_crime_disclosures" : [ {
                  "offense" : "against cohabitant",
                  "offense_city" : "kitchen",
                  "when_offense_happen" : "yesterday",
                  "offense_details" : "everything. "
                } ]
              }
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 979,
            "applicants" : [ {
              "id" : 374,
              "first_name" : "Emelia",
              "middle_name" : "k",
              "last_name" : "Ferry",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ {
              "id" : 193,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "test",
                "middle_name" : "name",
                "last_name" : "mane",
                "date_of_placement" : "1111-11-11",
                "school_name" : "",
                "school_address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : "",
                  "type" : {
                    "value" : "Mailing",
                    "id" : 3
                  }
                },
                "child_in_home" : false
              } ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ {
                "value" : "0-3 years",
                "id" : 1
              } ],
              "preferred_sibling_group_up_to" : {
                "value" : "0",
                "id" : 1
              }
            },
            "is_initial_application" : false
          }, {
            "id" : 978,
            "applicants" : [ {
              "id" : 373,
              "first_name" : "Dianna",
              "middle_name" : "k",
              "last_name" : "Mueller",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 976,
            "applicants" : [ {
              "id" : 372,
              "first_name" : "Tod ErdmanRachael Br",
              "middle_name" : "k",
              "last_name" : "Kathlyn Purdy",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 975,
            "applicants" : [ {
              "id" : 371,
              "first_name" : "Norwood Auer",
              "middle_name" : "k",
              "last_name" : "Randal Blanda",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ {
              "id" : 51,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 973,
            "applicants_relationship" : {
              "relationship_type" : {
                "value" : "Married",
                "id" : 1
              },
              "place_of_relationship_city" : "",
              "place_of_relationship_state" : {
                "value" : "Alaska",
                "id" : "AK"
              }
            },
            "applicants" : [ {
              "id" : 370,
              "first_name" : "",
              "middle_name" : "",
              "last_name" : "",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 972,
            "applicants" : [ {
              "id" : 369,
              "first_name" : "Dock Moen",
              "middle_name" : "k",
              "last_name" : "Camylle Baumbach IV",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : false,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false
          }, {
            "id" : 971,
            "applicants" : [ {
              "id" : 368,
              "first_name" : "Sam",
              "middle_name" : "k",
              "last_name" : "Clementine Hickle",
              "other_names" : [ ],
              "driver_license_number" : "",
           [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBnoJ7nUaWLnK9E[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/990/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBnoJ7nUaWLnK9EwrOCl4Z28w6vXb0GaAIqPWN3zdTsQSIPML8U-DQofG6UcXCuFNpJdsA2JSb6EewyQnYO8Ygt8In1eun1JEO3m2AACFbKbVPdi_ypgRR82rd9hmoOmqP9UAT_UekvcuX7MqMXbh_xqR0E8vawyJ81rIrqxngOnjr9YOHns8Yb0gJGCEknD2pfB6bH7zZ7OcH7HvfA8NWQh_i3sMa1IWNXSDcOQ8UHr_9No_Gd8QnC8KCNt7fFwo6LRquL2o4Us9el-so0-JGYXGj0wVO6tx8eofY1j9faZu8y-dDf2WJ1DPLwAws_MIPM_Dh0oj5cWZLwvj8-R9uRCCWm6MMy137fabLJE26N_t66CkS2oE20eYHO8RxMGh-kS5TqPimPdDYDjIn-A4Wmq3qveJrqaVPUESRmWBKlj6vz-x7fkBIHindQQkMhFbiWtI8ttVw--2gmQxtdBfawLcKu6LdskiP09T0gwZiMH1zhdOnx-ZjBKGmCLOUTRWjA3M2sENbMSLMnPMJ8edgDV6Wig4RTmNw22mzg2d7hdcVwi8XNy2kn5g-DJfXuz7zFKIlzjw5qRVYyPhQOBIaqaAT-GCoS83Q7ozCA0CzdgZ_zWJmqQWT5KMTFn6q8n9EmEIeCr-aC08ZVz-3mjEVO2W3ZYSE6vWqHVUl6WRAf_bQXi8q3375Gujf9Yh7n_1AqwTRLaEcLm8mn7T8URItLf8HfK_koLvevdANyEJNipROz5tnsQ.XIieQyZKEgZmic-qHreAVQ"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Tue, 12 Dec 2017 01:05:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/990?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRb[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/990/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBnoJ7nUaWLnK9EwrOCl4Z28w6vXb0GaAIqPWN3zdTsQSIPML8U-DQofG6UcXCuFNpJdsA2JSb6EewyQnYO8Ygt8In1eun1JEO3m2AACFbKbVPdi_ypgRR82rd9hmoOmqP9UAT_UekvcuX7MqMXbh_xqR0E8vawyJ81rIrqxngOnjr9YOHns8Yb0gJGCEknD2pfB6bH7zZ7OcH7HvfA8NWQh_i3sMa1IWNXSDcOQ8UHr_9No_Gd8QnC8KCNt7fFwo6LRquL2o4Us9el-so0-JGYXGj0wVO6tx8eofY1j9faZu8y-dDf2WJ1DPLwAws_MIPM_Dh0oj5cWZLwvj8-R9uRCCWm6MMy137fabLJE26N_t66CkS2oE20eYHO8RxMGh-kS5TqPimPdDYDjIn-A4Wmq3qveJrqaVPUESRmWBKlj6vz-x7fkBIHindQQkMhFbiWtI8ttVw--2gmQxtdBfawLcKu6LdskiP09T0gwZiMH1zhdOnx-ZjBKGmCLOUTRWjA3M2sENbMSLMnPMJ8edgDV6Wig4RTmNw22mzg2d7hdcVwi8XNy2kn5g-DJfXuz7zFKIlzjw5qRVYyPhQOBIaqaAT-GCoS83Q7ozCA0CzdgZ_zWJmqQWT5KMTFn6q8n9EmEIeCr-aC08ZVz-3mjEVO2W3ZYSE6vWqHVUl6WRAf_bQXi8q3375Gujf9Yh7n_1AqwTRLaEcLm8mn7T8URItLf8HfK_koLvevdANyEJNipROz5tnsQ.XIieQyZKEgZmic-qHreAVQ"
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/990/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Tue, 12 Dec 2017 01:05:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lY[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jM[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lY[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBno[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRb[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRb[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzR[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBnoJ7n[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqN[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBnoJ[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBnoJ7nU[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYB[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jM[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBno[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8l[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBnoJ7[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/990
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lYBnoJ7nUaWL[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/990/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8l[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/990/residence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd8lY[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/990/applicants-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1Hfq[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/990/minor-children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzR[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/990/other-adults
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..wFhvzT1QxZK2i2OM.Wj3bVkivOLgn6A0WxU6j5pK0b1O4YkrATjk5yCeGvGOJLeNrGPK2MaSBCQigVVlsvpFzC4eQRgBYetoG1_q5MRHn1dnVcqYI1vtMwgsgDMVdmNI4VYECRt-fSoolQHojD9u7dhv9YaLtZy6w6srLhFQtsssRXQYIVFJ_Z8nQvxC0LA4iakAaoJYcFfmeMwEmUw7-Yi5ZqUPQ_JJykDBydx6-qkapJngUuPY3z0jMpA1HfqNhzRbd[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/990/adoption-history
    body:
      encoding: US-ASCII
[...]
