<div id = 'root'>
    <%= react_component('facilities', {facilities: @facilities}, {prerender: false}) %>
    <%= javascript_pack_tag 'facilities' %>
    <%= stylesheet_pack_tag 'facilities' %>
</div>
