<div id = 'root'>
    <%= render_react_component('facility',
     facility: @facility, children: @children, complaints: @complaints) %>
    <%= javascript_pack_tag 'facility' %>
    <%= stylesheet_pack_tag 'facility' %>
</div>
