<div id = 'root'>
<%= react_component("facility", { facility: @facility, children: @children, complaints: @complaints }, {prerender: true}) %>
    <%= javascript_pack_tag 'facility' %>
    <%= stylesheet_pack_tag 'facility' %>

</div>
