---
http_interactions:
- request:
    method: post
    uri: http://tpt2.dev.cwds.io:8084/rfa-1a-forms?token=null
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 93,
          "is_initial_application" : false,
          "is_other_type" : false
        }
  recorded_at: Tue, 01 Aug 2017 16:20:04 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/name-types?token=null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "AKA"
          }, {
            "id" : 2,
            "value" : "Doe"
          }, {
            "id" : 3,
            "value" : "Legal"
          }, {
            "id" : 4,
            "value" : "Maiden"
          } ]
        }
  recorded_at: Tue, 01 Aug 2017 16:20:04 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/phone-number-types?token=null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "Cell"
          }, {
            "id" : 2,
            "value" : "Home"
          }, {
            "id" : 3,
            "value" : "Work"
          }, {
            "id" : 4,
            "value" : "Alternate"
          }, {
            "id" : 5,
            "value" : "Fax"
          } ]
        }
  recorded_at: Tue, 01 Aug 2017 16:20:04 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/genders?token=null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "Male"
          }, {
            "id" : 2,
            "value" : "Female"
          } ]
        }
  recorded_at: Tue, 01 Aug 2017 16:20:04 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/education-level-types?token=null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "Eighth Grade or Less"
          }, {
            "id" : 2,
            "value" : "Some High School"
          }, {
            "id" : 3,
            "value" : "High School or Equivalent"
          }, {
            "id" : 4,
            "value" : "Technical Training beyond High School"
          }, {
            "id" : 5,
            "value" : "Some College or College-Level courses"
          }, {
            "id" : 6,
            "value" : "College Graduate"
          }, {
            "id" : 7,
            "value" : "Post-Graduate Education"
          } ]
        }
  recorded_at: Tue, 01 Aug 2017 16:20:04 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/languages?token=null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "American Sign Language"
          }, {
     [...]
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/states?token=null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "Alaska"
          }, {
            "id" : 2,
  [...]
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/income-types?token=null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "yearly"
          }, {
            "id" : 2,
            "value" : "monthly"
          }, {
            "id" : 3,
            "value" : "hourly"
          } ]
        }
  recorded_at: Tue, 01 Aug 2017 16:20:04 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "Own"
          }, {
            "id" : 2,
            "value" : "Rent"
          }, {
            "id" : 3,
            "value" : "Lease"
          } ]
        }
  recorded_at: Tue, 01 Aug 2017 16:20:04 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "Alaskan Native"
          }, {
            "id" :[...]
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "Residential"
          }, {
            "id" : 2,
            "value" : "Home"
          }, {
            "id" : 3,
            "value" : "Mailing"
          } ]
        }
  recorded_at: Tue, 01 Aug 2017 16:20:05 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "id" : 1,
            "value" : "Married"
          }, {
            "id" : 2,
            "value" : "Domestic Partnership"
          }, {
            "id" : 3,
            "value" : "Related (Family Member)"
          }, {
            "id" : 4,
            "value" : "Cohabitants"
          } ]
        }
  recorded_at: Tue, 01 Aug 2017 16:20:05 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/rfa-1a-forms/93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 93,
          "is_initial_application" : false,
          "is_other_type" : false
        }
  recorded_at: Tue, 01 Aug 2017 16:20:05 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/rfa-1a-forms/93/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/93/applicants. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Tue, 01 Aug 2017 16:20:05 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/rfa-1a-forms/93/residence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/93/residence. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Tue, 01 Aug 2017 16:20:05 GMT
- request:
    method: get
    uri: http://tpt2.dev.cwds.io:8084/rfa-1a-forms/93/minor-children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/93/minor-children. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Tue, 01 Aug 2017 16:20:05 GMT
recorded_with: VCR 3.0.3
