<div >
  <% if !DISABLE_RFA_APPLICATION %>
    <div id="applications_list">
      <%= react_component('rfa_forms/rfa01a_list', {
          applications: @applications, user: @user, check_for_priviliges: @check_for_priviliges, disbaleRfaApplication: DISABLE_RFA_APPLICATION }, {prerender: false}) %>
      <%= javascript_pack_tag 'rfa_forms/rfa01a_list' %>
      <%= stylesheet_pack_tag 'rfa_forms/rfa01a_list' %>
    </div>
  <% end %>
</div>
