<h3> Welcome to Certification, Approval, and Licensing Services (CALS)</h3>
  <div id="links">

    <%= button_to "Create RFA Application (Form 01)" , rfa_a01_index_path,  {method: :post} %>
    <br/>
    <%= button_to "Search for Facilities" , search_index_path, {method: :get} %>

  </div >
</div>
