<div id="index_page">
  <%= react_component('rfa_forms/rfa01b_list', {  user: @user,
    countyTypes: @dictionaries[:county_types],
    nameSuffixTypes: @dictionaries[:name_suffix_types],
    namePrefixTypes: @dictionaries[:name_prefix_types],
    stateTypes:  @dictionaries[:state_types]}, {prerender: false}) %>
 <%= javascript_pack_tag 'rfa_forms/rfa01b_list' %>
</div>
