---
http_interactions:
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 41a6f587-c4ea-4b31-8ac5-1fb87711a540
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 1181,
          "is_initial_application" : false
        }
  recorded_at: Thu, 29 Mar 2018 22:50:01 GMT
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1181/rfa-1b-forms/applicants/35
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 41a6f587-c4ea-4b31-8ac5-1fb87711a540
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "issue_details" : [ {
            "incident_id" : "a5b8ba79-7d30-4517-a67c-4988b542640f",
            "type" : "expected_exception",
            "user_message" : "There was an error processing your request. It has been logged with unique incident id",
            "technical_message" : "RFA1b form already exists"
          } ]
        }
  recorded_at: Thu, 29 Mar 2018 22:50:02 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 41a6f587-c4ea-4b31-8ac5-1fb87711a540
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
 [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 41a6f587-c4ea-4b31-8ac5-1fb87711a540
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Thu, 29 Mar 2018 22:50:02 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 41a6f587-c4ea-4b31-8ac5-1fb87711a540
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Thu, 29 Mar 2018 22:50:03 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 41a6f587-c4ea-4b31-8ac5-1fb87711a540
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1181/rfa-1b-forms/35
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 41a6f587-c4ea-4b31-8ac5-1fb87711a540
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "issue_details" : [ {
            "incident_id" : "ea503560-f89d-4267-82f8-0ffbc486b406",
            "type" : "expected_exception",
            "user_message" : "There was an error processing your request. It has been logged with unique incident id",
            "technical_message" : "Applicant is not found by Form Id and Applicant Id"
          } ]
        }
  recorded_at: Thu, 29 Mar 2018 22:50:03 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1181?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 41a6f587-c4ea-4b31-8ac5-1fb87711a540
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 1181,
          "is_initial_application" : false
        }
  recorded_at: Thu, 29 Mar 2018 22:50:03 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1181/rfa-1c-forms/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 41a6f587-c4ea-4b31-8ac5-1fb87711a540
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/1181/rfa-1c-forms/. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Thu, 29 Mar 2018 22:50:04 GMT
recorded_with: VCR 3.0.3
