input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#search div {
  font-family: "Source Sans Pro ExtraLight", sans-serif;
}

.search_page table {
  border: 1px solid #000000;
}

.styled-select {
  position: relative;
}

.styled-select select {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 0px;
  padding: 3px;
  background-color: #fff;
}

.styled-select span {
  position: absolute;
  margin-left: -27px;
  background-color: #8b8b8b;
  padding: 6px;
  pointer-events: none;
}

.styled-select span:before {
  color: #ffffff;
}

.search_page table tr td {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  vertical-align: middle;
}

.search_page .table>tbody tr:nth-child(even) {
  background-color: #dddddd;
}

.search_page .table>thead>tr>th {
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  vertical-align: middle;
}

.Select-value{
  margin-top: 3.1px !important;
}

.Select-control {
  height: 31px;
}

.Select-clear-zone {
  display: inline !important;
}

.Select-clear {
  display: inline;
}

.Select-multi-value-wrapper {
  height: 28px;
}

.searchSelect {
  height: 29px;
  padding: 5px;
  border: 0px;
  background-color: #ffff; 
}

.my-react-select {
  margin-top: 7px;
  height: 27px;
}

.allActive {
  margin-top: 3rem;
}

.my-react-select .Select-value:first-child .Select-value-icon,
.my-react-select .Select-value:nth-child(n+2) {
  display: none;
}

.is-selected {
  background-color: #ccdde0 !important;
}

.Select-menu-outer {
  max-height: 45rem;
  }
  
.Select-menu {
  max-height: 40rem;
}

.search_page .table>thead>tr {
  background-color: #8b8b8b;
  color: #fff;
}

.result-section .grid_view .grid_view_inner {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 25px 15px;
  margin-bottom: 20px;
  background-color: #ddd;
  box-shadow: 5px 6px 8px 0px #2b2b2b;
}

.result-section .grid_view .grid_view_inner:nth-child(even) {
  border: 1px solid #fff;
  background-color: #fff;
}

.search-section {
  padding: 25px;
  margin: 20px;
  background: #ddd;
}

.advance-search {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-btn, .reset-btn {
 margin-top: 18px;
}

.search-btn{
  padding-left: 28px;
  padding-right: 28px;
}
.search-results-label {
  order: -1;
  font-size: 20px;
  font-weight: bold;
}

.previous, .next {
  padding: 0.25rem 0.45rem 0.25rem 0.45rem !important;
  margin: 6px;
}

.bottom-pagination{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.bottom-pagination .fs-pagination {
  margin-left: 8rem;
}
.page_number {
  width: 60px;
  display: inline;
  padding: 2px;
  border: ridge;
  margin-right: 6px;
}

.toggle_result {
  padding-top: 28px;
  order: 1;
}

.no_of_facilities {
  width: 100px;
  display: inline;
}

.bottom_pagination {
  float: right;
  margin-right: 15rem
}

.noOfPages {
  margin-left: 6px;
}

.field_search {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}

.error_message {
  padding: 20px 15px;
}

.grid_layout .block_label {
  display: inline;
  display: inline;
  font-weight: bold;
  font-size: 14px;
}

.grid_layout .block_text {
  display: inline;
  font-weight: 100;
  margin-left: 5px;
}

.grid_layout>div {
  margin-bottom: 10px;
}

.search_page .header_cwds {
  padding: 5px 20px;
  background: #363636;
}

.search_page .back-button {
  margin: 10px 0px;
  vertical-align: middle;
  padding: 5px 20px;
  background-color: #dddddd;
}

.search-icon {
  background: url('../images/search_off.png') no-repeat;
  border: 0;
  border-radius: 0;
  height: 40px;
  width: 111px;
  background-size: 111px 30px;
}

.error-icon {
  background-image: url(../images/error.png);
  border: 0;
  border-radius: 0;
  height: 64px;
  width: 72px;
  background-size: 72px 64px;
}

.home-icon {
  background-image: url(../images/home.png);
  border: 0;
  border-radius: 0;
  height: 64px;
  width: 80px;
  background-size: 80px 64px;
}

.line_off-icon {
  background: url(../images/line_off.png) no-repeat;
}

.line_on-icon {
  background: url(../images/line_on.png) no-repeat;
}

.grid_on-icon {
  background: url(../images/grid_on.png) no-repeat;
}

.grid_off-icon {
  background: url(../images/grid_off.png) no-repeat;
}

.cross-icon {
  background: url(../images/cross.png) no-repeat;
  display: inline-block;
  border: 0;
  border-radius: 0;
  height: 20px;
  width: 50px;
  margin-left: 20px;
}

.main_table .rt-table {
  border: 1px solid;
}

.main_table .rt-td {
  border-right: 1px solid !important;
  word-break: break-all;
}

.main_table .rt-tr {
  border-bottom: 1px solid !important;
}

.main_table .ReactTable .rt-table .rt-tbody .-odd {
  background-color: #ffffff;
}

.main_table .ReactTable .rt-thead .rt-tr {
  background-color: #8b8b8b;
}

.main_table .ReactTable .rt-thead .rt-tr .rt-th{
  font-family: 'Source Sans Pro Bold', sans-serif;
  color: #fff;
  font-weight: bold;
  white-space: normal;
  border-right: black 1px solid;
}

.rt-th .rt-resizer {
  right: -3px;
}

