input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#search div{
  font-family: "Source Sans Pro ExtraLight", sans-serif;
}
.search_page table {
  border: 1px solid #000000;
}
.styled-select {
  position: relative;
}
.styled-select select {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 0px;
  padding: 3px;
  background-color: #fff;
}
.styled-select span {
  position: absolute;
  margin-left: -27px;
  background-color: #8b8b8b;
  padding: 6px;
  pointer-events: none;
}
.input_data input {
  width: 100%;
  height: 30px;
  padding: 5px;
  -webkit-appearance: none;
}
.input_data input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}
.styled-select span:before {
  color: #ffffff;
}
.search_page table tr td{
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  vertical-align: middle;
}
.search_page .table > tbody tr:nth-child(even) {
  background-color: #dddddd;
}
.search_page .table > thead > tr > th {
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  vertical-align: middle;
}
.search_page .table > thead > tr {
  background-color: #8b8b8b;
  color: #fff;
}
.search-toggle > div {
  vertical-align: middle;
}
.result-section .grid_view .grid_view_inner {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 25px 15px;
  margin-bottom: 20px;
  background-color: #ddd;
  box-shadow: 5px 6px 8px 0px #2b2b2b;
}
.result-section .grid_view .grid_view_inner:nth-child(even) {
  border: 1px solid #fff;
  background-color: #fff;
}
.search-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-section .search_input {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ddd;
  background: #ddd;
}
.search-section .search_input .input_lable {
  margin-bottom: -2px;
}
.search-section .search_input .input_lable span {
  padding: 0px 15px;
  background: #8b8b8b;
  color: #fff;
}
.search-toggle {
  padding-top: 20px;
  padding-bottom: 20px;
}
.field_search .search_block {
  margin-top: 17px;
}
.field_search .search_block button {
  padding: 0px;
  width: 100%;
}
.field_search .search_block button img {
  width: 100%;
  height: 30px;
}
.search_details p {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}
.search_details p span {
  font-size: 20px;
  font-weight: bold;
}
.search_details p img {
  margin-left: 20px;
}
.field_input {
  padding-left: 0px;
  padding-right: 0px;
}
.field_search {
  padding-right: 0px;
  padding-left: 0px;
}
.error_message {
  padding: 20px 15px;
}
.grid_layout .block_label {
  display: inline;
  display: inline;
  font-weight: bold;
  font-size: 14px;
}
.grid_layout .block_text {
  display: inline;
  font-weight: 100;
  margin-left: 5px;
}
.grid_layout > div {
  margin-bottom: 10px;
}

.search_page .header_cwds {
  padding: 5px 20px;
  background: #363636;
}
.search_page .back-button{
  margin: 10px 0px;
  vertical-align: middle;
  padding: 5px 20px;
  background-color: #dddddd;
}

.search-icon
{
    background-image: url(../images/search_off.png);
    border: 0;
    border-radius: 0;
    height: 30px;
    width: 111px;
    background-size: 111px 30px;
}

.error-icon {
  background-image: url(../images/error.png);
  border: 0;
  border-radius: 0;
  height: 64px;
  width: 72px;
  background-size: 72px 64px;
}
.home-icon
{
  background-image: url(../images/home.png);
  border: 0;
  border-radius: 0;
  height: 64px;
  width: 80px;
  background-size: 80px 64px;
}
.line_off-icon
{
  background: url(../images/line_off.png) no-repeat;
  border: 0;
  border-radius: 0;
  height: 53px;
  width: 50px;
}
.line_on-icon
{
  background: url(../images/line_on.png) no-repeat;
  border: 0;
  border-radius: 0;
  height: 53px;
  width: 50px;
}
.grid_on-icon
{
  background: url(../images/grid_on.png) no-repeat;
  border: 0;
  border-radius: 0;
  height: 53px;
  width: 50px;
}

.grid_off-icon
{
  background: url(../images/grid_off.png) no-repeat;
  border: 0;
  border-radius: 0;
  height: 53px;
  width: 50px;
}
.cross-icon
{
  background: url(../images/cross.png) no-repeat;
  display: inline-block;
  border: 0;
  border-radius: 0;
  height: 20px;
  width: 50px;
  margin-left: 20px;
}
