---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 19073,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "2890 Gateway Ave",
                "zip" : "93064",
                "zip_extension" : "0001",
                "city" : "Brandeis",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "longitude" : -118.71177,
                "lattitude" : 34.25895,
                "deliverable" : true,
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : false,
              "body_of_water_exist" : false,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : false,
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              } ]
            },
            "applicants" : [ {
              "id" : 12630,
              "to_delete" : false,
              "first_name" : "00new",
              "middle_name" : "",
              "last_name" : "00applicant",
              "other_names" : [ ],
              "date_of_birth" : "1988-09-08",
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "1231231231",
                "preferred" : false
              } ]
            } ],
            "placement_home_id" : "Aabj1hW0X9",
            "metadata" : {
              "submit_enabled" : true
            },
            "status" : "SUBMITTED",
            "tracking_id" : 848,
            "resource_family_name" : "00applicant, 00new",
            "is_initial_application" : false
          }, {
            "id" : 18469,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "4220 Ardwell Way",
                "zip" : "95823",
                "zip_extension" : "5044",
                "city" : "Sacramento",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
            [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 19075,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Thu, 16 Aug 2018 22:15:16 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:16 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:16 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:16 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:16 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:16 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:16 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:17 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:17 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:17 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:17 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:17 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:17 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:17 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:17 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Thu, 16 Aug 2018 22:15:17 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/19075?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 19075,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Thu, 16 Aug 2018 22:15:18 GMT
- request:
    method: get
    uri: https://geo.preint.cwds.io/address/suggest/2870%20something%20else
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "[ ]"
  recorded_at: Thu, 16 Aug 2018 22:15:24 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/19075
    body:
      encoding: UTF-8
      string: '{"id":19075,"status":"DRAFT","is_initial_application":false,"application_county":{"value":"Madera","id":20},"applicants":[{"gender":{"id":"1","value":"Male"},"phones":[{"number":"2012222345","phone_type":{"id":2,"value":"Home"},"preferred":false}],"date_of_birth":"1986-11-11","last_name":"0123Monteo","middle_name":"","other_names":[],"first_name":"James","email":""[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/19075
    body:
      encoding: UTF-8
      string: '{"id":19075,"status":"DRAFT","is_initial_application":false,"application_county":{"value":"Madera","id":20},"applicants":[{"gender":{"id":"1","value":"Male"},"phones":[{"number":"2012222345","phone_type":{"id":2,"value":"Home"},"preferred":false}],"date_of_birth":"1986-11-11","last_name":"0123Monteo","middle_name":"","other_names":[],"first_name":"James","email":"","driver_license_number":""}],"residence":{"addresses":[{"street_address":"2870
        something else","zip":"12345","city":"Sacremento","state":{"id":"CA","value":"California"},"type":{"id":"1","value":"Residential"}},{"street_address":"","zip":"","city":"","state":null,"type":{"id":"3","value":"Mailing"}}],"body_of_water_exist":"false","body_of_water_description":"","others_using_residence_as_mailing":"false","physical_mailing_similar":"true","weapon_in_home":"true","residence_ownership":{"id":"1","value":"Own"},"directions_to_home":"","home_languages":[{"id":1,"value":"American
        Sign Language"},{"id":3,"value":"Armenian"}]},"metadata":{"submit_enabled":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 19075,
          "application_county" : {
            "value" : "Madera",
            "id" : 20
          },
          "residence" : {
            "addresses" : [ {
              "street_address" : "2870 something el[...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/19075/status
    body:
      encoding: UTF-8
      string: '{"status":"SUBMITTED"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 16 Aug 2018 22:15:29 GMT
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/18739/tracking
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 849,
          "facility_name" : "0123Monteo, James",
          "rfa_1a_id" : 18739,
          "tracking_documents" : {
            "facility_documents" : {
              "family_documents" : {
                "items" : [ {
                  "title" : "RFA Application (RFA 01A)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Income",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Disclosure of Expenses",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Property",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #1",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #2",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #3 (if applicable)",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "tasks_and_trainings" : {
                "items" : [ {
                  "title" : "Attended Orientation Meeting",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Risk Assessment",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Pre-Service Training",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "assessments" : {
                "items" : [ {
                  "title" : "Family Evaluation",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Written Report",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Acknowledgement of Written Report",
                  "notes" : "",
                  "checked" : false
                } ]
              }
            },
            "people_documents" : [ {
              "person_id" : 12382,
              "person_name" : "James 0123Monteo",
              "person_type" : "Applicant",
              "person_documents" : {
                "individual_documents" : {
                  "items" : [ {
                    "title" : "Criminal Record Statement (RFA-01B)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Health Questionnaire (RFA-07)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "TB Questionnaire (RFA-08)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Employment Verification",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Proof of Identity",
                    "notes" : "",
                    "checked" : false
                  } ]
                },
                "trainings" : {
                  "items" : [ {
                    "title" : "CPR Training",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "First Aid Training",
                    "notes" : "",
                    "checked" : false
                  } ]
                },
                "clearances" : {
                  "items" : [ {
                    "title" : "Criminal Background Checklist (RFA-02)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "DMV Reports",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Exemption Needed (if applicable)",
                    "notes" : "",
                    "checked" : false
                  },[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/trackings/849
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 44d1dd77-9ff8-48d4-8a34-bc682bedd05e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 849,
          "facility_name" : "0123Monteo, Ja[...]
