---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 3669595e-bf3b-4ca5-9e01-275744d8311a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 5520,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "tracking_id" : 157,
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 5562,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "zip_extension" : "1111",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "longitude" : -121.25118,
                "lattitude" : 38.74037,
                "deliverable" : true,
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "Spa pool",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "name_prefix" : {
                  "value" : "Mr.",
                  "id" : 1
                },
                "first_name" : "string",
                "middle_name" : "string",
                "last_name" : "string",
                "name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                }
              } ],
              "directions_to_home" : "Directions here",
              "home_languages" : [ {
                "value" : "English",
                "id" : 6
              } ]
            },
            "tracking_id" : 144,
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 5809,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "residence" : {
              "addresses" : [ {
        [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5520?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 3669595e-bf3b-4ca5-9e01-275744d8311a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 5520,
          "other_type_description" : "otherDescription",
          "application_county" : {
            "value" : "Sacramento",
            "id" : 34
          },
          "tracking_id" : 157,
          "resource_family_name" : "",
          "is_initial_application" : false
        }
  recorded_at: Fri, 22 Jun 2018 23:20:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5520/tracking/157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 3669595e-bf3b-4ca5-9e01-275744d8311a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 157,
          "facility_name" : "",
          "rfa_1a_id" : 5520,
          "tracking_documents" : {
            "facility_documents" : {
              "family_documents" : {
                "items" : [ {
                  "title" : "RFA Application (RFA 01A)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Income",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Disclosure of Expenses",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Property",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #1",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #2",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #3 (if applicable)",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "tasks_and_trainings" : {
                "items" : [ {
                  "title" : "Attended Orientation Meeting",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Risk Assessment",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Pre-Service Training",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "assessments" : {
                "items" : [ {
                  "title" : "Family Evaluation",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Written Report",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Acknowledgement of Written Report",
                  "notes" : "",
                  "checked" : false
                } ]
              }
            },
            "people_documents" : [ ]
          },
          "create_datetime" : "2018-06-22 09:29:25",
          "create_user_id" : "RACFID",
          "update_datetime" : "2018-06-22 09:29:25",
          "update_user_id" : "RACFID"
        }
  recorded_at: Fri, 22 Jun 2018 23:20:23 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5520/tracking/157
    body:
      encoding: UTF-8
      string: '{"id":157,"facility_name":"","rfa_1a_id":5520,"tracking_documents":{"facility_documents":{"family_documents":{"items":[{"title":"RFA
        Application (RFA 01A)","received_date":"1987-12-11","notes":"testing","checked":false},{"title":"Verification
        of Income","notes":"","checked":false},{"title":"Disclosure of Expenses","notes":"","checked":false},{"title":"Verification
        of Property","notes":"","checked":false},{"title":"Home Environment Checklist
        (RFA-03)","notes":"","checked":false},{"title":"Reference Letter #1","notes":"","checked":false},{"title":"Reference
        Letter #2","notes":"","checked":false},{"title":"Reference Letter #3 (if applicable)","notes":"","checked":false}]},"tasks_and_trainings":{"items":[{"title":"Attended
        Orientation Meeting","completed_date":"1987-12-12","notes":"testing","checked":false},{"title":"Risk
        Assessment","notes":"","checked":false},{"title":"Home Environment Checklist
        (RFA-03)","notes":"","checked":false},{"title":"Pre-Service Training","notes":"","checked":false}]},"assessments":{"items":[{"title":"Family
        Evaluation","submitted_date":"1987-12-13","approved_date":"1987-12-14","notes":"testing","checked":false},{"title":"Written
        Report","notes":"","checked":false},{"title":"Acknowledgement of Written Report","notes":"","checked":false}]}},"people_documents":[]}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 3669595e-bf3b-4ca5-9e01-275744d8311a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
  [...]
[...]
