---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5340cc2f-e6f9-47b7-a20a-07bfba6250f5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 2272,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "zip_extension" : "1111",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "longitude" : -121.25118,
                "lattitude" : 38.74037,
                "deliverable" : true,
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "Spa pool",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "name_prefix" : {
                  "value" : "Mr.",
                  "id" : 1
                },
                "first_name" : "string",
                "middle_name" : "string",
                "last_name" : "string",
                "name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                }
              } ],
              "directions_to_home" : "Directions here",
              "home_languages" : [ {
                "value" : "English",
                "id" : 6
              } ]
            },
            "tracking_id" : 10,
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 2045,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "tracking_id" : 12,
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 2627,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "S[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2272?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5340cc2f-e6f9-47b7-a20a-07bfba6250f5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 2272,
          "other_type_de[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2272/tracking/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5340cc2f-e6f9-47b7-a20a-07bfba6250f5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 10,
          "create_user_id" : "0X5",
          "create_date_time" : "2018-06-05 16:12:14",
          "update_user_id" : "0X5",
          "update_date_time" : "2018-06-05 16:12:14",
          "facility_name" : "",
          "rfa_1a_id" : 2272,
          "tracking_documents" : {
            "people_documents" : [ ],
            "facility_documents" : {
              "assessments" : {
                "items" : [ {
                  "notes" : "",
                  "title" : "Family Evaluation",
                  "checked" : false,
                  "approved_date" : "",
                  "submitted_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Written Report",
                  "checked" : false,
                  "approved_date" : "",
                  "submitted_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Acknowledgement of Written Report",
                  "checked" : false,
                  "approved_date" : "",
                  "submitted_date" : ""
                } ]
              },
              "family_documents" : {
                "items" : [ {
                  "notes" : "",
                  "title" : "RFA Application (RFA 01A)",
                  "checked" : false,
                  "received_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Verification of Income",
                  "checked" : false,
                  "received_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Disclosure of Expenses",
                  "checked" : false,
                  "received_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Verification of Property",
                  "checked" : false,
                  "received_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Home Environment Checklist (RFA-03)",
                  "checked" : false,
                  "received_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Reference Letter #1",
                  "checked" : false,
                  "received_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Reference Letter #2",
                  "checked" : false,
                  "received_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Reference Letter #3 (if applicable)",
                  "checked" : false,
                  "received_date" : ""
                } ]
              },
              "tasks_and_trainings" : {
                "items" : [ {
                  "notes" : "",
                  "title" : "Attended Orientation Meeting",
                  "checked" : false,
                  "completed_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Risk Assessment",
                  "checked" : false,
                  "completed_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Home Environment Checklist (RFA-03)",
                  "checked" : false,
                  "completed_date" : ""
                }, {
                  "notes" : "",
                  "title" : "Pre-Service Training",
                  "checked" : false,
                  "completed_date" : ""
                } ]
              }
            }
          }
        }
  recorded_at: Wed, 06 Jun 2018 17:12:37 GMT
recorded_with: VCR 4.0.0
