---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 73e12aab-896c-4e66-9e10-76c2bacaaf13
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 6189,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "applicants" : [ {
              "id" : 3835,
              "name_prefix" : {
                "value" : "Ms.",
                "id" : 2
              },
              "first_name" : "AFn",
              "middle_name" : "N",
              "last_name" : "ALn",
              "name_suffix" : {
                "value" : "Jr",
                "id" : 5
              },
              "other_names" : [ {
                "name_prefix" : {
                  "value" : "Ms.",
                  "id" : 2
                },
                "first_name" : "AOnFn",
                "middle_name" : "N.",
                "last_name" : "AOnLn",
                "name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                },
                "name_type" : {
                  "value" : "Maiden",
                  "id" : 2
                }
              } ],
              "highest_education_level" : {
                "value" : "High School or Equivalent",
                "id" : 3
              },
              "date_of_birth" : "1981-12-26",
              "gender" : {
                "value" : "Female",
                "id" : 2
              },
              "race" : {
                "value" : "American Indian or Alaska Native",
                "id" : 1
              },
              "ethnicity" : {
                "value" : "Alaskan Native",
                "id" : 1
              },
              "driver_license_number" : "A1234567",
              "driver_license_state" : {
                "value" : "California",
                "id" : "CA"
              },
              "email" : "anna.smith@gmail.com",
              "employment" : {
                "employer_name" : "HSH Inc.",
                "occupation" : "Sr. Analyst",
                "income" : 98000.00,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "1702 Redoak Ct.",
                  "city" : "Rocklin",
                  "state" : {
                    "value" : "CA - California",
                    "id" : "AL"
                  },
                  "zip" : "98123"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Cell",
                  "id" : 1
                },
                "number" : "5347589802"
              }, {
                "phone_type" : {
                  "value" : "Work",
                  "id" : 3
                },
                "number" : "5347589803",
                "extension" : "1234567",
                "preferred" : true
              } ],
              "rfa1b_form" : {
                "application_county" : {
                  "value" : "Sacramento",
                  "id" : 34
                },
                "lived_in_other_state" : true,
                "other_states_of_living" : [ {
                  "value" : "Texas",
                  "id" : "TX"
                }, {
                  "value" : "Nevada",
                  "id" : "NV"
                } ],
                "convicted_in_california" : false,
                "convicted_in_another_state" : false,
                "arrested_for_crime" : false,
                "resource_family_name" : "Peterson",
                "applicant_name_prefix" : {
                  "value" : "Ms.",
                  "id" : 2
                },
                "applicant_first_name" : "Anna",
                "applicant_middle_name" : "M.",
                "applicant_last_name" : "Peterson",
                "applicant_name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                },
                "residence_address" : {
                  "street_address" : "1702 Redoak Ct.",
                  "zip" : "98123",
                  "city" : "Rocklin",
                  "state" : {
                    "value" : "California",
                    "id" : "CA"
                  },
                  "type" : {
                    "value" : "Residential",
                    "id" : 1
                  }
                },
                "ssn" : "464942323",
                "date_of_birth" : "1981-12-26",
                "driver_license" : "MD123-1234-585-121",
                "driver_license_state" : {
                  "value" : "Maryland",
                  "id" : "MD"
                },
                "signature" : "Anna Peterson",
                "application_date" : "2017-07-02",
                "convicted_in_california_disclosures" : [ {
                  "offense" : "Offense description Offense description Offense description Offense description Offense description Offense description Offense description Offense description Offense description ",
                  "offense_city" : "Sacramento",
                  "offense_state" : {
                    "value" : "California",
                    "id" : "CA"
                  },
                  "offense_date" : "2014-03-12",
                  "when_offense_happen" : "free form text",
                  "offense_details" : "More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence ",
                  "signature" : "Anna Peterson",
                  "application_date" : "2017-07-02"
                } ],
                "convicted_in_another_state_disclosures" : [ {
                  "offense" : "Offense description Offense description ",
                  "offense_city" : "City",
                  "offense_state" : {
                    "value" : "Alaska",
                    "id" : "AK"
                  },
                  "offense_date" : "2014-03-12",
                  "when_offense_happen" : "free form text",
                  "offense_details" : "More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence More details about offence ",
                  "signature" : "Signature",
                  "application_date" : "2017-07-02"
                } ],
                "arrested_for_crime_disclosures" : [ {
                  "offense" : "Offense description Offense description ",
                  "offense_city" : "Sacramento",
                  "offense_state" : {
                    "value" : "Alaska",
                    "id" : "AK"
                  },
                  "offense_date" : "2011-03-12",
                  "when_offense_happen" : "free form text",
                  "offense_details" : "More details about offence ",
                  "signature" : "Signature 2",
                  "application_date" : "2017-07-02"
                } ],
                "metadata" : {
                  "submit_enabled" : true
                }
              },
              "lic198b_form" : {
                "id" : 370,
                "requestor_info" : {
                  "name" : {
                    "name_prefix" : {
                      "value" : "Ms.",
                      "id" : 2
                    },
                    "first_name" : "AFn",
                    "middle_name" : "N",
                    "last_name" : "ALn",
                    "name_suffix" : {
                      "value" : "Jr",
                      "id" : 5
                    }
                  },
                  "phone" : {
                    "phone_type" : {
                      "value" : "Cell",
                      "id" : 1
                    },
                    "number" : "5555555555"
                  },
                  "fax" : {
                    "phone_type" : {
                      "value" : "Fax",
                      "id" : 5
                    },
                    "number" : "5555555556"
                  },
                  "email" : "example@mail.mail"
                },
                "identifying_data" : {
                  "person_name" : {
                    "name_prefix" : {
                      "value" : "Ms.",
                      "id" : 2
                    },
                    "first_name" : "BFn",
                    "middle_name" : "BMn",
                    "last_name" : "BLn",
                    "name_suffix" : {
                      "value" : "Jr",
                      "id" : 5
                    }
                  },
                  "other_names" : [ {
                    "last_name" : "MaidenName",
                    "name_type" : {
                      "value" : "Maiden",
                      "id" : 4
                    }
                  }, {
                    "last_name" : "AliasName",
                    "name_type" : {
                      "value" : "AKA",
                      "id" : 1
                    }
                  } ],
                  "phone_number" : {
                    "phone_type" : {
                      "value" : "Cell",
                      "id" : 1
                    },
                    "number" : "5555555557"
                  },
                  "email" : "example1@mail.mail",
                  "date_of_birth" : "2000-11-20",
                  "state_of_birth" : {
                    "value" : "Alaska",
                    "id" : "AK"
                  },
                  "gender" : {
                    "value" : "Male",
                    "id" : 1
                  },
                  "race" : {
                    "value" : "American Indian or Alaska Native",
                    "id" : 1
                  },
                  "ethnicity" : {
                    "value" : "Alaskan Native",
                    "id" : 1
                  },
                  "ssn" : "999999999",
                  "driver_license_number" : "AS123456789012345678",
                  "driver_license_state" : {
                    "value" : "Alaska",
                    "id" : "AK"
                  }
                },
                "last_five_years_addresses" : [ {
                  "street_address" : "1111 Street St.",
                  "city" : "City",
                  "state" : {
                    "value" : "California",
                    "id" : "CA"
                  },
                  "zip" : "99999"
                }, {
                  "street_address" : "1112 Street St.",
                  "city" : "City",
                  "state" : {
                    "value" : "California",
                    "id" : "CA"
                  },
                  "zip" : "99999"
                } ],
                "has_been_perpetrator" : true,
                "perpetration_episodes" : [ {
                  "date" : "2011-11-20",
                  "city" : "City",
                  "state" : {
                    "value" : "California",
                    "id" : "CA"
                  },
                  "county" : "County",
                  "circumstances" : "Some Circumstances"
                }, {
                  "date" : "2011-11-21",
                  "city" : "City",
                  "state" : {
                    "value" : "California",
                    "id" : "CA"
                  },
                  "county" : "County",
                  "circumstances" : "Other Circumstances"
                } ],
                "signatures" : {
                  "signature_of_applicant" : "Applicant Signature",
                  "sign_date_of_applicants" : "2017-11-20",
                  "signature_of_witness" : "Witness signature",
                  "sign_date_of_witness" : "2017-11-20"
                },
                "responding_state" : {
                  "reports" : [ {
                    "report_date" : "2011-11-20",
                    "report_number" : "123-QWE",
                    "local_contact" : {
                      "name_prefix" : {
                        "value" : "Ms.",
                        "id" : 2
                      },
                      "first_name" : "CFn",
                      "middle_name" : "CMn",
                      "last_name" : "CLn",
                      "name_suffix" : {
                        "value" : "Jr",
                        "id" : 5
                      }
                    },
                    "phone" : {
                      "phone_type"[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/6189?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 73e12aab-896c-4e66-9e10-76c2bacaaf13
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 6189,
          "other_type_de[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/6189/tracking/177
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 73e12aab-896c-4e66-9e10-76c2bacaaf13
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 177,
          "facility_name" : "ALn, AFn",
          "rfa_1a_id" : 6189,
          "tracking_documents" : {
            "facility_documents" : {
              "family_documents" : {
                "items" : [ {
                  "title" : "RFA Application (RFA 01A)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Income",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Disclosure of Expenses",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Property",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #1",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #2",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #3 (if applicable)",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "tasks_and_trainings" : {
                "items" : [ {
                  "title" : "Attended Orientation Meeting",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Risk Assessment",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Pre-Service Training",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "assessments" : {
                "items" : [ {
                  "title" : "Family Evaluation",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Written Report",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Acknowledgement of Written Report",
                  "notes" : "",
                  "checked" : false
                } ]
              }
            },
            "people_documents" : [ {
              "person_id" : 3835,
              "person_name" : "AFn ALn",
              "person_type" : "Applicant",
              "person_documents" : {
                "individual_documents" : {
                  "items" : [ {
                    "title" : "Criminal Record Statement (RFA-01B)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Health Questionnaire (RFA-07)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "TB Questionnaire (RFA-08)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Employment Verification",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Proof of Identity",
                    "notes" : "",
                    "checked" : false
                  } ]
                },
                "trainings" : {
                  "items" : [ {
                    "title" : "CPR Training",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "First Aid Training",
                    "notes" : "",
                    "checked" : false
                  } ]
                },
                "clearances" : {
                  "items" : [ {
                    "title" : "Criminal Background Checklist (RFA-02)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "DMV Reports",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Exemption Needed (if applicable)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Previous Associations (if applicable)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Legal Consult Needed (if applicable)",
                    "notes" : "",
                    "checked" : false
                  } ]
                }
              }
            } ]
          },
          "create_datetime" : "2018-06-26 10:04:27",
          "create_user_id" : "RACFID",
          "update_datetime" : "2018-06-26 10:04:27",
          "update_user_id" : "RACFID"
        }
  recorded_at: Tue, 26 Jun 2018 17:09:47 GMT
recorded_with: VCR 3.0.3
