---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 15345,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 9874,
              "to_delete" : false,
              "first_name" : "James",
              "middle_name" : "",
              "last_name" : "123Monteo",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 4148,
              "first_name" : "Shaina",
              "middle_name" : "",
              "last_name" : "",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant_freeform" : "Friend",
                "applicant_name" : "",
                "applicant_id" : 9874
              } ],
              "is_residing_in_home" : true
            } ],
            "metadata" : {
              "submit_enabled" : false
            },
            "status" : "IN_PROGRESS",
            "tracking_id" : 614,
            "resource_family_name" : "123Monteo, James",
            "is_initial_application" : false
          }, {
            "id" : 15347,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 9875,
              "to_delete" : false,
              "first_name" : "James",
              "middle_name" : "",
              "last_name" : "123Monteo",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 15476,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Tue, 24 Jul 2018 17:44:09 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:09 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:09 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:09 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:09 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:09 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:09 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:09 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:09 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:10 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:10 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:10 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:10 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:10 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:10 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 24 Jul 2018 17:44:11 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/15476?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 15476,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Tue, 24 Jul 2018 17:44:11 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/15476
    body:
      encoding: UTF-8
      string: '{"id":15476,"status":"DRAFT","is_initial_application":false,"application_county":{"value":"Madera","id":20},"applicants":[{"first_name":"James","middle_name":"","last_name":"123Monteo","other_names":[],"date_of_birth":"","driver_license_number":"","email":"","phones":null}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 15476,
          "application_county" : {
            "value" : "Madera",
            "id" : 20
          },
          "applicants" : [ {
            "id" : 9961,
            "to_delete" : false,
            "first_name" : "James",
            "middle_name" : "",
            "last_name" : "123Monteo",
            "other_names" : [ ],
            "driver_license_number" : "",
            "email" : ""
          } ],
          "status" : "IN_PROGRESS",
          "resource_family_name" : "123Monteo, James",
          "is_initial_application" : false
        }
  recorded_at: Tue, 24 Jul 2018 17:44:14 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/15476
    body:
      encoding: UTF-8
      string: '{"id":15476,"application_county":{"value":"Madera","id":20},"applicants":[{"id":9961,"to_delete":false,"first_name":"James","middle_name":"","last_name":"123Monteo","other_names":[],"driver_license_number":"","email":""}],"resource_family_name":"123Monteo,
        James","is_initial_application":false,"other_adults":[{"relationship_to_applicants":[{"relationship_to_applicant_freeform":"Friend","applicant_id":9961,"applicant_name":"","relationship_to_applicant":null}],"name_suffix":null,"name_prefix":null,"first_name":"Tressie","middle_name":"","last_name":"","is_residing_in_home":"true"}],"metadata":{"submit_enabled":false}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 15476,
          "application_county" : {
            "va[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/trackings/614
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2540e8af-3e2e-450e-85b5-3b00f37bc01e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 614,
          "facility_name" : "123Monteo, James",
          "rfa_1a_id" : 15345,
          "tracking_documents" : {
            "facility_documents" : {
              "family_documents" : {
                "items" : [ {
                  "title" : "RFA Application (RFA 01A)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Income",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Disclosure of Expenses",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Property",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #1",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #2",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #3 (if applicable)",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "tasks_and_trainings" : {
                "items" : [ {
                  "title" : "Attended Orientation Meeting",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Risk Assessment",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Pre-Service Training",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "assessments" : {
                "items" : [ {
                  "title" : "Family Evaluation",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Written Report",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Acknowledgement of Written Report",
                  "notes" : "",
                  "checked" : false
                } ]
              }
            },
            "people_documents" : [ {
              "person_id" : 9874,
              "person_name" : "James 123Monteo",
              "person_type" : "Applicant",
              "person_documents" : {
                "individual_documents" : {
                  "items" : [ {
                    "title" : "Criminal Record Statement (RFA-01B)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Health Questionnaire (RFA-07)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "TB Questionnaire (RFA-08)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Employment Verification",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Proof of Identity",
                    "notes" : "",
                    "checked" : false
                  } ]
                },
                "trainings" : {
                  "items" : [ {
                    "title" : "CPR Training",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "First Aid Training",
                    "notes" : "",
                    "checked" : false
                  } ]
                },
                "clearances" : {
                  "items" : [ {
                    "title" : "Criminal Background Checklist (RFA-02)",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "DMV Reports",
                    "notes" : "",
                    "checked" : false
                  }, {
                    "title" : "Exemption Needed (if applicable)",
                    "notes" : "",
                    "checked" : false
                  },[...]
