---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 356961f6-39a1-42dc-a248-2375b29f23ba
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 5216,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "tracking_id" : 137,
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 5258,
            "other_type_description" : "otherDescription",
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "zip_extension" : "1111",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "longitude" : -121.25118,
                "lattitude" : 38.74037,
                "deliverable" : true,
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "1702 Redoak Ct.",
                "zip" : "98123",
                "city" : "Rocklin",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "Spa pool",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "name_prefix" : {
                  "value" : "Mr.",
                  "id" : 1
                },
                "first_name" : "string",
                "middle_name" : "string",
                "last_name" : "string",
                "name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                }
              } ],
              "directions_to_home" : "Directions here",
              "home_languages" : [ {
                "value" : "English",
                "id" : 6
              } ]
            },
            "tracking_id" : 138,
            "resource_family_name" : "",
            "is_initial_application" : false
          }, {
            "id" : 5295,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 3261,
              "first_name" : "Charley",
              "middle_name" : "k",
              "last_name" : "Abbott",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 1258,
              "first_name" : "lkj;",
              "middle_name" : "",
              "last_name" : "jlk;",
              "date_of_birth" : "1111-11-11",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant_freeform" : "dude",
                "applicant_id" : 3261
              } ],
              "is_residing_in_home" : false
            } ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : true,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "tracking_id" : 139,
            "resource_family_name" : "Abbott, Charley",
            "is_initial_application" : false
          }, {
            "id" : 5156,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 3173,
    [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5216?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 356961f6-39a1-42dc-a248-2375b29f23ba
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 5216,
          "other_type_description" : "otherDescription",
          "application_county" : {
            "value" : "Sacramento",
            "id" : 34
          },
          "tracking_id" : 137,
          "resource_family_name" : "",
          "is_initial_application" : false
        }
  recorded_at: Wed, 20 Jun 2018 04:02:40 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5216/tracking/137
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 356961f6-39a1-42dc-a248-2375b29f23ba
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 137,
          "facility_name" : "",
          "rfa_1a_id" : 5216,
          "tracking_documents" : {
            "facility_documents" : {
              "family_documents" : {
                "items" : [ {
                  "title" : "RFA Application (RFA 01A)",
                  "notes" : "testing",
                  "checked" : false,
                  "received_date" : "1987-12-11"
                }, {
                  "title" : "Verification of Income",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Disclosure of Expenses",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Verification of Property",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #1",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #2",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Reference Letter #3 (if applicable)",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "tasks_and_trainings" : {
                "items" : [ {
                  "title" : "Attended Orientation Meeting",
                  "notes" : "testing",
                  "checked" : false,
                  "completed_date" : "1987-12-12"
                }, {
                  "title" : "Risk Assessment",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Home Environment Checklist (RFA-03)",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Pre-Service Training",
                  "notes" : "",
                  "checked" : false
                } ]
              },
              "assessments" : {
                "items" : [ {
                  "title" : "Family Evaluation",
                  "notes" : "testing",
                  "checked" : false,
                  "submitted_date" : "1987-12-13",
                  "approved_date" : "1987-12-14"
                }, {
                  "title" : "Written Report",
                  "notes" : "",
                  "checked" : false
                }, {
                  "title" : "Acknowledgement of Written Report",
                  "notes" : "",
                  "checked" : false
                } ]
              }
            },
            "people_documents" : [ ]
          },
          "create_datetime" : "2018-06-18 23:06:00",
          "create_user_id" : "RACFID",
          "update_datetime" : "2018-06-19 21:02:28",
          "update_user_id" : "RACFID"
        }
  recorded_at: Wed, 20 Jun 2018 04:02:40 GMT
recorded_with: VCR 3.0.3
