---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 14376,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 9228,
              "to_delete" : false,
              "first_name" : "James",
              "middle_name" : "",
              "last_name" : "123Monteo",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 3741,
              "first_name" : "Humberto",
              "middle_name" : "",
              "last_name" : "",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant_freeform" : "Friend",
                "applicant_name" : "",
                "applicant_id" : 9228
              } ],
              "rfa1b_form" : {
                "id" : 1957,
                "application_county" : {
                  "value" : "Ventura",
                  "id" : 56
                },
                "applicant_first_name" : "Humberto",
                "applicant_middle_name" : "",
                "applicant_last_name" : ""
              },
              "is_residing_in_home" : true
            } ],
            "metadata" : {
              "submit_enabled" : false
            },
            "status" : "IN_PROGRESS",
            "resource_family_name" : "123Monteo, James",
            "is_initial_application" : false
          }, {
            "id" : 13872,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 8865,
              "to_delete" : false,
              "first_name" : "James",
              "middle_name" : "",
              "last_name" : "123Monteo",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            [...]
