---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 9538,
            "applicants" : [ {
              "id" : 5904,
              "first_name" : "Geovanni",
              "middle_name" : "",
              "last_name" : "Moen",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 9535,
            "application_county" : {
              "value" : "Mendocino",
              "id" : 23
            },
            "applicants" : [ {
              "id" : 5902,
              "first_name" : "some",
              "middle_name" : "",
              "last_name" : "guy",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 9534,
            "applicants" : [ {
              "id" : 5903,
              "first_name" : "Geovanni",
              "middle_name" : "",
              "last_name" : "Moen",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 9533,
            "application_county" : {
              "value" : "Mendocino",
              "id" : 23
            },
            "applicants" : [ {
              "id" : 5901,
              "first_name" : "new",
              "middle_name" : "",
              "last_name" : "rfa",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 9530,
            "applicants_relationship" : {
              "relationship_type" : {
                "value" : "Cohabitants",
                "id" : 4
              },
              "other_relationship" : "test",
              "place_of_relationship_city" : "",
              "place_of_relationship_state" : {
                "value" : "Alaska",
                "id" : "AK"
              }
            },
            "applicants" : [ {
              "id" : 5899,
              "first_name" : "Webster",
              "middle_name" : "",
              "last_name" : "Bernhard",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            }, {
              "id" : 5900,
              "first_name" : "Josie",
              "middle_name" : "",
              "last_name" : "Hermiston",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 9529,
            "applicants" : [ {
              "id" : 5898,
              "first_name" : "Wilford",
              "middle_name" : "k",
              "last_name" : "Breitenberg",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 1942,
              "first_name" : "Caesar",
              "middle_name" : "",
              "last_name" : "",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant_freeform" : "child"
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 9527,
            "applicants" : [ {
              "id" : 5897,
              "first_name" : "Nedra",
              "middle_name" : "k",
              "last_name" : "Moore",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "minor_children" : [ {
              "id" : 1393,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant_freeform" : "child",
                "child_financially_supported" : true,
                "child_adopted" : true
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 9525,
            "applicants_relationship" : {
              "relationship_type" : {
                "value" : "Cohabitants",
                "id" : 4
              },
              "other_relationship" : "test",
              "place_of_relationship_city" : "",
              "place_of_relationship_state" : {
               [...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 9539,
          "is_initial_application" : false
        }
  recorded_at: Tue, 08 May 2018 18:14:49 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/9539/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Tue, 08 May 2018 18:14:49 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/9539?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 9539,
          "is_initial_application" : false
        }
  recorded_at: Tue, 08 May 2018 18:14:50 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/9539/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/9539/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Tue, 08 May 2018 18:14:50 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:51 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:52 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:52 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:52 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:53 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:53 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:54 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:55 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:55 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:56 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:56 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:57 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:57 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:58 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:14:58 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/9539
    body:
      encoding: UTF-8
      string: '{"id":"9539"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 9539,
          "is_initial_application" : false
        }
  recorded_at: Tue, 08 May 2018 18:15:03 GMT
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/9539/applicants
    body:
      encoding: UTF-8
      string: '{"email":"","date_of_birth":"","first_name":"Geovanni","middle_name":"","last_name":"Moen","driver_license_number":"","other_names":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 5905,
          "first_name" : "Geovanni",
          "middle_name" : "",
          "last_name" : "Moen",
          "other_names" : [ ],
          "driver_license_number" : "",
          "email" : ""
        }
  recorded_at: Tue, 08 May 2018 18:15:04 GMT
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/9539/applicants
    body:
      encoding: UTF-8
      string: '{"email":"","date_of_birth":"","first_name":"Geovanni","middle_name":"","last_name":"Moen","driver_license_number":"","other_names":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1a8be545-1754-48f6-b0f7-76a6f4b9b638
  response:
    status:
      code: 422
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "issue_details" : [ {
            "incident_id" : "9c5d3344-ce85-4186-ba40-dd48b6003431",
            "type" : "business_validation",
            "user_message" : "Applicant with first name - [Geovanni], last name - [Moen] and name suffix - [] already exists in application",
            "code" : "BV000005",
            "technical_message" : "applicant-names-duplication-validation"
          } ]
        }
  recorded_at: Tue, 08 May 2018 18:15:04 GMT
recorded_with: VCR 4.0.0
