---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 5785,
            "applicants" : [ {
              "id" : 3480,
              "first_name" : "Euna",
              "middle_name" : "k",
              "last_name" : "Kerluke",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 5784,
            "applicants" : [ {
              "id" : 3479,
              "first_name" : "Geovanni",
              "middle_name" : "",
              "last_name" : "Moen",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 5783,
            "applicants" : [ {
              "id" : 3478,
              "first_name" : "Otho",
              "middle_name" : "",
              "last_name" : "Volkman",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 5782,
            "residence" : {
              "addresses" : [ {
                "street_address" : "2870 something else",
                "zip" : "12345",
                "city" : "Sacremento",
                "state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : ""
              } ],
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              }, {
                "value" : "Armenian",
                "id" : 3
              } ]
            },
            "applicants" : [ {
              "id" : 3477,
              "first_name" : "Geovanni",
              "middle_name" : "",
              "last_name" : "Moen",
              "other_names" : [ ],
              "date_of_birth" : "1111-11-11",
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ {
              "id" : 854,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant_freeform" : "child",
                "applicant_id" : 3477
              } ],
              "date_of_birth" : "1111-11-11",
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "other_adults" : [ {
              "id" : 1143,
              "first_name" : "Annabell",
              "middle_name" : "",
              "last_name" : "Pfannerstill",
              "date_of_birth" : "1211-12-12",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant_freeform" : "child",
                "applicant_id" : 3477
              } ]
            } ],
            "metadata" : {
              "submit_enabled" : true
            },
            "is_initial_application" : false
          }, {
            "id" : 5781,
            "applicants" : [ {
              "id" : 3476,
              "first_name" : "Thaddeus",
              "middle_name" : "k",
              "last_name" : "Willms",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 5780,
            "applicants_history" : {
              "former_spouses" : [ {
                "relationship_type" : {
                  "value" : "Married",
                  "id" : 1
                },
                "applicant_id" : 3475,
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "place_of_marriage_city" : "",
                "place_of_marriage_end_city" : ""
              } ],
              "adult_children" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "relationship_to_applicants" : [ { } ],
                "address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                }
              } ]
            },
            "applicants" : [ {
              "id" : 3475,
              "first_name" : "Super",
              "middle_name" : "k",
              "last_name" : "Man",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }[...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 5787,
          "is_initial_application" : false
        }
  recorded_at: Tue, 17 Apr 2018 20:24:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/5787/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Tue, 17 Apr 2018 20:24:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5787?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 5787,
          "is_initial_application" : false
        }
  recorded_at: Tue, 17 Apr 2018 20:24:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5787/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/5787/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Tue, 17 Apr 2018 20:24:44 GMT
recorded_with: VCR 3.0.3
