---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 14376,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 9228,
              "to_delete" : false,
              "first_name" : "James",
              "middle_name" : "",
              "last_name" : "123Monteo",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 3741,
              "first_name" : "Humberto",
              "middle_name" : "",
              "last_name" : "",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant_freeform" : "Friend",
                "applicant_name" : "",
                "applicant_id" : 9228
              } ],
              "rfa1b_form" : {
                "id" : 1957,
                "application_county" : {
                  "value" : "Ventura",
                  "id" : 56
                },
                "applicant_first_name" : "Humberto",
                "applicant_middle_name" : "",
                "applicant_last_name" : ""
              },
              "is_residing_in_home" : true
            } ],
            "metadata" : {
              "submit_enabled" : false
            },
            "status" : "IN_PROGRESS",
            "resource_family_name" : "123Monteo, James",
            "is_initial_application" : false
          }, {
            "id" : 13872,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 8865,
              "to_delete" : false,
              "first_name" : "James",
              "middle_name" : "",
              "last_name" : "123Monteo",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            [...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 14513,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Thu, 19 Jul 2018 23:37:22 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:22 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:23 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:24 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:24 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:24 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Thu, 19 Jul 2018 23:37:24 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/14513?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 14513,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Thu, 19 Jul 2018 23:37:24 GMT
- request:
    method: get
    uri: https://geo.preint.cwds.io/address/suggest/2870%20something%20else
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "[ ]"
  recorded_at: Thu, 19 Jul 2018 23:37:30 GMT
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/14513
    body:
      encoding: UTF-8
      string: '{"is_initial_application":false,"residence":{"addresses":[{"street_address":"2870
        something else","zip":"12345","city":"Sacremento","state":{"id":"CA","value":"California"},"type":{"id":"1","value":"Residential"}},{"street_address":"","zip":"","city":"","state":null,"type":{"id":"3","value":"Mailing"}}],"body_of_water_exist":"true","body_of_water_description":"","others_using_residence_as_mailing":"true","physical_mailing_similar":"true","other_people_using_residence_as_mailing":[{"name_suffix":null,"name_prefix":null,"first_name":"Jaylan","middle_name":"","last_name":"Lempi"}],"weapon_in_home":"true","residence_ownership":{"id":"1","value":"Own"},"directions_to_home":"","home_languages":[{"id":1,"value":"American
        Sign Language"},{"id":3,"value":"Armenian"}]},"other_adults":[{"relationship_to_applicants":[{"relationship_to_applicant_freeform":"child","applicant_id":"","applicant_name":"","relationship_to_applicant":null}],"name_suffix":null,"name_prefix":null,"first_name":"Peter","middle_name":"","last_name":"Smith","date_of_birth":"1986-12-12"},{"relationship_to_applicants":[{"relationship_to_applicant_freeform":"child","applicant_id":"","applicant_name":"","relationship_to_applicant":null}],"name_suffix":null,"name_prefix":null,"first_name":"Jim","middle_name":"","last_name":"Tucker","date_of_birth":"1986-12-12"}],"minor_children":[{"relationship_to_applicants":[{"relationship_to_applicant_freeform":"child","applicant_id":"","applicant_name":"","relationship_to_applicant":null,"child_adopted":"true","child_financially_supported":"true"}],"date_of_birth":"2008-11-11","gender":{"id":"1","value":"Male"}},{"relationship_to_applicants":[{"relationship_to_applicant_freeform":"child","applicant_id":"","applicant_name":"","relationship_to_applicant":null,"child_adopted":"true","child_financially_supported":"true"}],"date_of_birth":"2007-11-11","gender":{"id":"1","value":"Male"}}],"metadata":{"submit_enabled":true},"applicants":[{"gender":{"id":"1","value":"Male"},"phones":[{"number":"2012222345","phone_type":{"id":2,"value":"Home"},"preferred":false}],"date_of_birth":"1986-11-11","last_name":"Moen","middle_name":"","other_names":[],"first_name":"Geovanni","email":"","driver_license_number":""}],"status":"DRAFT","application_county":{"value":"Madera","id":20},"id":14513}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alaskan Native",
            "id" : 1
          }, {
            "value" : "American Indian",
            "id" : 2
          }, {
            "value" : "Asian Indian",
            "[...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/14513/rfa-1b-forms/applicants/9344
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 1958,
          "application_county" : {
            "value" : "Madera",
            "id" : 20
          },
          "applicant_first_name" : "Geovanni",
          "applicant_middle_name" : "",
          "applicant_last_name" : "Moen",
          "residence_address" : {
            "street_address" : "2870 something else",
            "zip" : "12345",
            "city" : "Sacremento",
            "state" : {
              "value" : "California",
              "id" : "CA"
            },
            "type" : {
              "value" : "Residential",
              "id" : 1
            }
          },
          "date_of_birth" : "1986-11-11",
          "driver_license" : ""
        }
  recorded_at: Thu, 19 Jul 2018 23:37:46 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/14513/rfa-1b-forms/1958
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 1958,
          "application_county" : {
            "value" : "Madera",
            "id" : 20
          },
          "applicant_first_name" : "Geovanni",
          "applicant_middle_name" : "",
          "applicant_last_name" : "Moen",
          "residence_address" : {
            "street_address" : "2870 something else",
            "zip" : "12345",
            "city" : "Sacremento",
            "state" : {
              "value" : "California",
              "id" : "CA"
            },
            "type" : {
              "value" : "Residential",
              "id" : 1
            }
          },
          "date_of_birth" : "1986-11-11",
          "driver_license" : ""
        }
  recorded_at: Thu, 19 Jul 2018 23:37:46 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/14513/rfa-1c-forms/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/14513/rfa-1c-forms/. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Thu, 19 Jul 2018 23:37:46 GMT
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/14513/rfa-1b-forms/other-adults/3833
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 1562024a-ddf1-428a-aa61-e96dcae155c9
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 1959,
          "application_county" : {
            "value" : "Madera",
            "id" : 20
          },
          "applicant_first_name" : "Peter",
          "applicant_middle_name" : "",
          "applicant_last_name" : "Smith",
          "residence_address" : {
            "street_address" : "2870 something else",
            "zip" : "12345",
            "city" : "Sacremento",
            "state" : {
              "value" : "California",
              "id" : "CA"
            },
            "type" : {
              "value" : "Residential",
              "id" : 1
            }
          },
          "date_of_birth" : "1986-12-12"
        }
  recorded_at: Thu, 19 Jul 2018 23:37:47 GMT
[...]
