---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 5772,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 3469,
              "first_name" : "asdfdasf",
              "middle_name" : "",
              "last_name" : "asdfasdf",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "rfa1b_form" : {
                "id" : 451,
                "convicted_in_another_state" : true,
                "convicted_in_another_state_disclosures" : [ {
                  "offense" : "",
                  "offense_city" : "cddasfasdfasdf",
                  "when_offense_happen" : "dfsafasdfasdfadfa",
                  "offense_details" : ""
                } ]
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 5771,
            "applicants" : [ {
              "id" : 3468,
              "first_name" : "Dillon",
              "middle_name" : "",
              "last_name" : "Wisozk",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "rfa1b_form" : {
                "id" : 450,
                "convicted_in_california" : true,
                "convicted_in_another_state" : true,
                "arrested_for_crime" : true,
                "resource_family_name" : "test",
                "ssn" : "123-45-6789",
                "driver_license" : "D123",
                "driver_license_state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "convicted_in_california_disclosures" : [ {
                  "offense" : "test offense",
                  "offense_city" : "test offense city",
                  "when_offense_happen" : "date of offense",
                  "offense_details" : "offense details"
                } ],
                "convicted_in_another_state_disclosures" : [ {
                  "offense" : "outside test offense",
                  "offense_city" : "outside test offense city",
                  "when_offense_happen" : "outside date of offense",
                  "offense_details" : "outside offense details"
                } ],
                "arrested_for_crime_disclosures" : [ {
                  "offense" : "cohab test offense",
                  "offense_city" : "cohab test offense city",
                  "when_offense_happen" : "cohab date of offense",
                  "offense_details" : "cohab offense details"
                } ]
              }
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 5770,
            "residence" : {
              "addresses" : [ {
                "street_address" : "2870 something else",
                "zip" : "12345",
                "city" : "Sacremento",
                "state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : ""
              } ],
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              }, {
                "value" : "Armenian",
                "id" : 3
              } ]
            },
            "applicants" : [ {
              "id" : 3467,
              "first_name" : "Geovanni",
              "middle_name" : "",
              "last_name" : "Moen",
              "other_names" : [ ],
              "date_of_birth" : "1111-11-11",
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ],
              "rfa1b_form" : {
                "id" : 449,
                "convicted_in_california" : true,
                "convicted_in_another_state" : true,
                "arrested_for_crime" : true,
                "resource_family_name" : "test",
                "applicant_first_name" : "first name",
                "applicant_last_name" : "last name",
                "residence_address" : {
                  "street_address" : "2870 something else",
                  "zip" : "12345",
                  "city" : "Sacremento",
                  "state" : {
                    "value" : "Alaska",
                    "id" : "AK"
                  }
                },
                "date_of_birth" : "1111-11-11",
                "convicted_in_california_disclosures" : [ {
                  "offense" : "test offense",
                  "offense_city" : "test offense city",
                  "when_offense_happen" : "date of offense",
                  "offense_details" : "offense details"
                } ],
                "convicted_in_another_state_disclosures" : [ {
                  "offense" : "outside test offense",
                  "offense_city" : "outside test offense city",
                  "when_offense_happen" : "outside date of offense",
                  "offense_details" : "outside offense details"
                } ],
                "arrested_for_crime_disclosures" : [ {
                  "offense" : "cohab test offense",
                  "offense_city" : "cohab test offense city",
                  "when_offense_happen" : "cohab date of offense",
                  "offense_details" : "cohab offense details"
                } ],
                "metadata" : {
                  "submit_enabled" : true
                }
              }
            } ],
            "metadata" : {
              "submit_enabled" : true
            },
            "is_initial_application" : false
          }, {
            "id" : 5769,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 3466,
              "first_name" : "Marielle",
              "middle_name" : "k",
              "last_name" : "[...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 5773,
          "is_initial_application" : false
        }
  recorded_at: Tue, 17 Apr 2018 20:21:52 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/5773/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:52 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5773?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 5773,
          "is_initial_application" : false
        }
  recorded_at: Tue, 17 Apr 2018 20:21:52 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5773/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/5773/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Tue, 17 Apr 2018 20:21:53 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:53 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:53 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:53 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:53 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:54 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:54 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:54 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:54 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:54 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:54 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:54 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:55 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:55 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:55 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Tue, 17 Apr 2018 20:21:55 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
[...]
- request:
    method: get
    uri: https://geo.preint.cwds.io/address/suggest/2870%20something%20else
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "[ ]"
  recorded_at: Tue, 17 Apr 2018 20:22:00 GMT
- request:
    method: get
    uri: https://geo.preint.cwds.io/address/suggest/maing%20address%20here
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "[ ]"
  recorded_at: Tue, 17 Apr 2018 20:22:01 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5773
    body:
      encoding: UTF-8
      string: '{"id":"5773"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 5773,
          "is_initial_application" : false
        }
  recorded_at: Tue, 17 Apr 2018 20:22:05 GMT
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5773/applicants
    body:
      encoding: UTF-8
      string: '{"email":"","date_of_birth":"","first_name":"Jennyfer","middle_name":"k","last_name":"Smith","driver_license_number":"","employment":{"employer_name":"","occupation":"","income":"","income_type":{"id":1,"value":"yearly"},"physical_address":{"street_address":"2870
        something else","city":"","zip":"12345"}},"other_names":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 3470,
          "first_name" : "Jennyfer",
          "middle_name" : "k",
          "last_name" : "Smith",
          "other_names" : [ ],
          "driver_license_number" : "",
          "email" : "",
          "employment" : {
            "employer_name" : "",
            "occupation" : "",
            "income_type" : {
              "value" : "yearly",
              "id" : 1
            },
            "physical_address" : {
              "street_address" : "2870 something else",
              "city" : "",
              "zip" : "12345"
            }
          }
        }
  recorded_at: Tue, 17 Apr 2018 20:22:05 GMT
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/5773/residence
    body:
      encoding: UTF-8
      string: '{"physical_mailing_similar":"false","weapon_in_home":"true","body_of_water_exist":"true","body_of_water_description":"","others_using_residence_as_mailing":"true","directions_to_home":"directions
        goes here","residence_ownership":{"id":"1","value":"Own"},"home_languages":[{"id":1,"value":"American
        Sign Language"},{"id":3,"value":"Armenian"}][...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - b7832a9c-56cb-4304-a504-938db1596941
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
[...]
