---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 11061,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "2870 Gateway Ave",
                "zip" : "93064",
                "city" : "Brandeis",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Lease",
                "id" : 3
              },
              "weapon_in_home" : false,
              "body_of_water_exist" : false,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : false,
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              } ]
            },
            "applicants" : [ {
              "id" : 6879,
              "first_name" : "Hello",
              "middle_name" : "",
              "last_name" : "1test",
              "other_names" : [ ],
              "date_of_birth" : "1986-09-08",
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "1111111111",
                "preferred" : false
              } ],
              "rfa1b_form" : {
                "id" : 1237,
                "application_county" : {
                  "value" : "Ventura",
                  "id" : 56
                },
                "resource_family_name" : "daasda",
                "applicant_first_name" : "Hello",
                "applicant_middle_name" : "",
                "applicant_last_name" : "1test",
                "residence_address" : {
                  "street_address" : "2870 Gateway Ave",
                  "zip" : "93064",
                  "city" : "Brandeis",
                  "state" : {
                    "value" : "California",
                    "id" : "CA"
                  }
                },
                "date_of_birth" : "1986-09-08",
                "driver_license" : "",
                "metadata" : {
                  "submit_enabled" : true
                }
              }
            } ],
            "rfa1c_forms" : [ {
              "id" : 693,
              "application_county" : {
                "value" : "Ventura",
                "id" : 56
              },
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "asda",
                "middle_name" : "",
                "last_name" : "adsa",
                "date_of_birth" : "1986-09-08",
                "relationship_to_applicants" : [ {
                  "relationship_to_applicant_freeform" : ""
                } ],
                "school_name" : "",
                "school_address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                },
                "child_in_home" : false
              } ],
              "metadata" : {
                "submit_enabled" : true
              }
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "placement_home_id" : "6sh2xEi0X6",
            "metadata" : {
              "submit_enabled" : true
            },
            "status" : "SUBMITTED",
            "resource_family_name" : "1test, Hello",
            "is_initial_application" : false
          }, {
            "id" : 11172,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 6947,
              "first_name" : "adc",
              "middle_name" : "",
              "last_name" : "ad",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "rfa1b_form" : {
                "id" : 1257,
            [...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 11389,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Mon, 09 Jul 2018 22:01:04 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:05 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:05 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:05 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:05 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:05 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:05 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:05 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:06 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:06 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:06 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:06 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:06 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:06 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:06 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:06 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11389?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 11389,
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Mon, 09 Jul 2018 22:01:07 GMT
- request:
    method: get
    uri: https://geo.preint.cwds.io/address/suggest/2870%20something%20else
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "[ ]"
  recorded_at: Mon, 09 Jul 2018 22:01:13 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11389
    body:
      encoding: UTF-8
      string: '{"id":"11389","metadata":{"submit_enabled":true}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 11389,
          "metadata" : {
            "submit_enabled" : true
          },
          "status" : "DRAFT",
          "is_initial_application" : false
        }
  recorded_at: Mon, 09 Jul 2018 22:01:26 GMT
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11389/applicants
    body:
      encoding: UTF-8
      string: '{"email":"","date_of_birth":"1960-11-11","first_name":"Geovanni","middle_name":"","last_name":"Moen","driver_license_number":"","gender":{"id":"1","value":"Male"},"phones":[{"number":"2012222345","preferred":false,"phone_type":{"id":2,"value":"Home"}}],"other_names":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 7079,
          "first_name" : "Geovanni",
          "middle_name" : "",
          "last_name" : "Moen",
          "other_names" : [ ],
          "date_of_birth" : "1960-11-11",
          "gender" : {
            "value" : "Male",
            "id" : 1
          },
          "driver_license_number" : "",
          "email" : "",
          "phones" : [ {
            "phone_type" : {
              "value" : "Home",
              "id" : 2
            },
            "number" : "2012222345",
            "preferred" : false
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:35 GMT
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11389/residence
    body:
      encoding: UTF-8
      string: '{"physical_mailing_similar":"true","weapon_in_home":"true","body_of_water_exist":"true","body_of_water_description":"","others_using_residence_as_mailing":"true","directions_to_home":"","residence_ownership":{"id":"1","value":"Own"},"home_languages":[{"id":1,"value":"American
        Sign Language"},{"id":3,"value":"Armenian"}],"other_people_using_residence_as_mailing":[{"first_name":"Dennis","middle_name":"","last_name":"Ara"}],"addresses":[{"street_address":"2870
        something else","zip":"12345","city":"Sacremento","state":{"id":"CA","value":"California"},"type":{"id":"1","value":"Residential"}},{"street_address":"","zip":"","city":"","type":{"id":"3","value":"Mailing"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 200
      message: 
  [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11389/minor-children
    body:
      encoding: UTF-8
      string: '{"date_of_birth":"1991-11-11","gender":{"id":"1","value":"Male"},"relationship_to_applicants":[{"applicant_id":7079,"child_financially_supported":"true","child_adopted":"true","relationship_to_applicant_freeform":"child"}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 1953,
          "relationship_to_applicants" : [ {
            "relationship_to_applicant_freeform" : "child",
            "applicant_id" : 7079,
            "child_financially_supported" : true,
            "child_adopted" : true
          } ],
          "date_of_birth" : "1991-11-11",
          "gender" : {
            "value" : "Male",
            "id" : 1
          }
        }
  recorded_at: Mon, 09 Jul 2018 22:01:36 GMT
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11389/other-adults
    body:
      encoding: UTF-8
      string: '{"first_name":"Sylvan","middle_name":"","last_name":"Schulist","date_of_birth":"1982-12-12","relationship_to_applicants":[{"applicant_id":7079,"relationship_to_applicant_freeform":"child"}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 2821,
          "first_name" : "Sylvan",
          "middle_name" : "",
          "last_name" : "Schulist",
          "date_of_birth" : "1982-12-12",
          "relationship_to_applicants" : [ {
            "relationship_to_applicant_freeform" : "child",
            "applicant_id" : 7079
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:36 GMT
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/11389/status
    body:
      encoding: UTF-8
      string: '{"status":"SUBMITTED"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - a5d62934-6835-4864-9b0b-a1d0589ccd3d
  response:
    status:
      code: 422
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "issue_details" : [ {
            "type" : "business_validation",
            "user_message" : "BIRTH DATE for the OTHER CHILDREN IN PLACEMENT HOME must be greater than (current date - 18 years).",
            "code" : "R-00181",
            "technical_message" : "Logic: OTHER_CHILDREN_IN_PLACEMENT_HOME: Birth_Date must be >= than (system date - 18 years). For Placement Home Notebook in the OtherChildrenInHome Page Use PM Other Children in Home View for any additional information needed.",
            "property" : "OtherChildrenInPlacementHome.birthDt",
            "invalid_value" : "1991-11-11"
          } ]
        }
  recorded_at: Mon, 09 Jul 2018 22:01:37 GMT
recorded_with: VCR 3.0.3
