---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b5d6804e-82cd-4095-957f-5ff82006427c
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b5d6804e-82cd-4095-957f-5ff82006427c
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Adop[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-status-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b5d6804e-82cd-4095-957f-5ff82006427c
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Application Denied",
            "id" : 8,
            "active" : false
          }, {
            "value" : "Application Withdrawn",
            "id" : 7,
            "active" : false
          }, {
            "value" : "Certified (CFH, RFH & OSGHC)",
            "id" : 12,
            "active" : true
          }, {
            "value" : "Closed Non-payment",
            "id" : 13,
            "active" : false
          }, {
            "value" : "Closed, Agency Initiated",
            "id" : 10,
            "active" : false
          }, {
            "valu[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"term":{"county.id":"30"}},{"term":{"type.id":"1"}}]}}]}},"from":"0","size":"10","sort":["_score",{"name.for_sort":{"order":"asc"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - b5d6804e-82cd-4095-957f-5ff82006427c
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":5,"max_score":null,"hits":[{"_index":"facilities","_type":"facility","_id":"100004519","_score":5.1780286,"_source":{"href":null,"id":"100004519","capacity_last_changed":null,"type":{"id":"1","value":"Adoption
        Agency"},"adoption_home_only_indicator":null,"name":"Mercy Home Home","licensee_name":"Ananya
        Nandi","license_type":"D","assigned_worker":{"phones":[],"email":null,"full_name":null,"id":null},"district_office":{"number":"22","name":"ORANGE
        & INLAND A/SC"},"license_number":"100004519","status":{"active":true,"id":"3","value":"Licensed"},"capacity":6,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"full_residential_address":"123
        Main St. BUENA PARK CA 90620","full_mailing_address":"6891 SAN PEDRO CIRCLE
        BUENA PARK CA 90620","last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"30","value":"ORANGE","lis_code":null},"phones":[{"relation":"primary","type":"Cell","number":"(916)
        519-"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"123
        Main St.","city":"BUENA PARK","state":"CA","zip_code":"90620","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"6891
        SAN PEDRO CIRCLE","city":"BUENA PARK","state":"CA","zip_code":"90620","zip_suffix_code":null}}],"visits":[],"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"LIS"},"sort":[5.1780286,"mercy
        home home"]},{"_index":"facilities","_type":"facility","_id":"100004534","_score":5.1780286,"_source":{"href":null,"id":"100004534","capacity_last_changed":null,"type":{"id":"1","value":"Adoption
        Agency"},"adoption_home_only_indicator":null,"name":"New Vision Home","licensee_name":"Ravi
        Chintamaneni","license_type":"A","assigned_worker":{"phones":[],"email":null,"full_name":null,"id":null},"district_office":{"number":"22","name":"ORANGE
   [...]
