---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Fost[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.id":"33"}}]}}]}},"from":"0","size":"10","sort":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":3,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":461,"max_score":3.1489725,"hits":[{"_index":"facilities","_type":"facility","_id":"RJ56Qd7194","_score":3.1489725,"_source":{"href":null,"id":"RJ56Qd7194","capacity_last_changed":null,"type":{"id":"432","value":"Foster
        Family Agency Certified Home"},"name":"","licensee_name":"","license_type":null,"assigned_worker":null,"district_office":null,"license_number":null,"status":null,"capacity":0,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"33","value":"Riverside","lis_code":null},"phones":[],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"1255
        Ninebark","city":"Moreno Valley","state":"CA","zip_code":"92553","zip_suffix_code":null}}],"visits":null,"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"CWS/CMS"}},{"_index":"facilities","_type":"facility","_id":"Fxr24JN194","_score":3.1489725,"_source":{"href":null,"id":"Fxr24JN194","capacity_last_changed":null,"type":{"id":"432","value":"Foster
        Family Agency Certified Home"},"name":"","licensee_name":"","license_type":null,"assigned_worker":null,"district_office":null,"license_number":null,"status":null,"capacity":0,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/8bl8IOv36B
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "facilities/8bl8IOv36B",
          "id" : "8bl8IOv36B",
          "type" : {
            "id" : "432",
            "value" : "Foster Family Agency Certified Home"
          },
          "name" : "Guadalupe, Swan",
          "licensee_name" : "",
          "capacity" : 0,
          "county" : {
            "id" : "33",
            "value" : "Riverside"
          },
          "phones" : [ {
            "relation" : "primary",
            "number" : "9096560436"
          } ],
          "addresses" : [ {
            "type" : "Residential",
            "address" : {
              "street_address" : "22579 Climbing Rose Dr",
              "city" : "Moreno Valley",
              "state" : "CA",
              "zip_code" : "92557"
            }
          } ],
          "facility_source" : "CWS/CMS"
        }
  recorded_at: Thu, 29 Mar 2018 01:31:19 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/8bl8IOv36B/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /facilities/8bl8IOv36B/children. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Thu, 29 Mar 2018 01:31:20 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/8bl8IOv36B/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /facilities/8bl8IOv36B/complaints. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Thu, 29 Mar 2018 01:31:20 GMT
recorded_with: VCR 3.0.3
