---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Fost[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.id":"30"}},{"match_phrase":{"type.id":"400"}}]}}]}},"from":"0","size":"10","sort":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":4,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":4,"max_score":7.0572653,"hits":[{"_index":"facilities","_type":"facility","_id":"100004519","_score":7.0572653,"_source":{"href":null,"id":"100004519","capacity_last_changed":null,"type":{"id":"400","value":"ADOPTION
        AGENCY"},"name":"Mercy Home Home","licensee_name":"Ananya Nandi","license_type":"D","assigned_worker":{"id":null,"value":null},"district_office":{"number":"22","name":"ORANGE
        & INLAND A/SC"},"license_number":"100004519","status":{"id":"3","value":"LICENSED"},"capacity":6,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":{"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":6,"dayOfWeek":"THURSDAY","dayOfYear":96,"month":"APRIL","monthValue":4,"year":2017,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":{"id":"8","value":"COMPLAINT"},"last_deferred_visit_reason":null,"county":{"id":"30","value":"ORANGE","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"9165190000"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"123
        Main St.","city":"BUENA PARK","state":"CA","zip_code":"90620","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"6891
        SAN PEDRO CIRCLE","city":"BUENA PARK","state":"CA","zip_code":"90620","zip_suffix_code":null}}],"visits":[{"approval":"","visit_type":"Annual
        10 month","visit_date":{"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":12,"dayOfWeek":"WEDNESDAY","dayOfYear":286,"month":"OCTOBER","monthValue":10,"year":2016,"chronology":{"calendarType":"iso8601","id":"ISO"}},"visit_deferred_date":null},{"approval":"","visit_type":"Annual
        22 month","visit_date":null,"visit_deferred_date":null},{"approval":"","visit_type":"Post
        Licensing","visit_date":{"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":20,"dayOfWeek":"WEDNESDAY","dayOfYear":171,"month":"JUNE","monthValue":6,"year":2007,"chronology":{"calendarType":"iso8601","id":"ISO"}},"visit_deferred_date":null},{"approval":"","visit_type":"Renewal","visit_date":null,"visit_deferred_date":null}],"annual_visit_year":17,"prelicensing_visit_date":{"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":28,"dayOfWeek":"WEDNESDAY","dayOfYear":59,"month":"FEBRUARY","monthValue":2,"year":2007,"chronology":{"calendarType":"iso8601","id":"ISO"}},"facility_source":"LIS"}},{"_index":"facilities","_type":"facility","_id":"100004551","_score":7.013774,"_source":{"href":null,"id":"100004551","capacity_last_changed":null,"type":{"id":"400","value":"ADOPTION
        AGENCY"},"name":"Radiant Futures Home","licensee_name":"Palani K","license_type":"C","assigned_worker":{"id":null,"value":null},"district_office":{"number":"22","name":"ORANGE
        & INLAND A/SC"},"license_number":"100004551","status":{"id":"3","value":"LICENSED"},"capacity":6,"license_effective_[...]
