---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Fost[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.id":"33"}},{"match_phrase":{"id":"100000299"}}]}}]}},"from":"0","size":"10","sort":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":4,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":1,"max_score":10.0999365,"hits":[{"_index":"facilities","_type":"facility","_id":"100000299","_score":10.0999365,"_source":{"href":null,"id":"100000299","capacity_last_changed":null,"type":{"id":"711","value":"FOSTER
        FAMILY HOME"},"name":"Little Dreams Home","licensee_name":"Ananya Nandi","license_type":"A","assigned_worker":{"id":null,"value":null},"district_office":{"number":"19","name":"PACIFIC
        INLAND CR"},"license_number":"100000299","status":{"id":"7","value":"APPLICATION
        WITHDRWN"},"capacity":null,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"33","value":"RIVERSIDE","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"9162990000"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"123
        Main St.","city":null,"state":"CA","zip_code":null,"zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":null,"city":null,"state":"CA","zip_code":null,"zip_suffix_code":null}}],"visits":null,"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"LIS"}}]}}'
  recorded_at: Thu, 29 Mar 2018 18:19:00 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/100000299
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "facilities/100000299",
          "id" [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/100000299/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /facilities/100000299/children. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Thu, 29 Mar 2018 18:19:02 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/100000299/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "complaints" : [ {
            "id" : "19-CR-195002-20041019105945",
            "complaint_date" : "2004-10-19 00:00:00",
            "assigned_worker" : "Saritha Reddy",
            "control_number" : "198952",
            "priority_level" : "",
            "status" : "Approved",
            "pre_investigation_comments" : "PO Zamora not in today - contact made with Janice Featherston as described above.",
            "post_investigation_comments" : "Left message on her voicemail informing her of the outcome of the investigation.",
            "contact_summary" : "Assigned to LPA Jeffers.\r\nComplaint originally written on 10/15/04, under the wrong Olive Crest home.  LPA Jeffers re-wrote the complaint under the same control #.\r\n\"10-day\" visit completed 10/21/04.\r\nInterviews conducted with the 3 clients in placement at the time, with the staff alleged to be the perpetrator.",
            "followup_comments" : "None at this time.",
            "allegations" : [ {
              "complaint_code" : "3",
              "allegation" : "Staff Meena Desai marks clients Alexzena Webb and Dizirea Goodwin with a ballpoint pen while they are sleeping.",
              "resolution_code_sub" : "",
              "resolution_code_insub" : "",
              "resolution_code_unsub" : "U"
            } ]
          } ]
        }
  recorded_at: Thu, 29 Mar 2018 18:19:02 GMT
recorded_with: VCR 3.0.3
