---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 141f684e-c7d1-4e5b-9f65-409f4c26f08b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 141f684e-c7d1-4e5b-9f65-409f4c26f08b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Adop[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-status-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 141f684e-c7d1-4e5b-9f65-409f4c26f08b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Application Denied",
            "id" : 8,
            "active" : false
          }, {
            "value" : "Application Withdrawn",
            "id" : 7,
            "active" : false
          }, {
            "value" : "Certified (CFH, RFH & OSGHC)",
            "id" : 12,
            "active" : true
          }, {
            "value" : "Closed Non-payment",
            "id" : 13,
            "active" : false
          }, {
            "value" : "Closed, Agency Initiated",
            "id" : 10,
            "active" : false
          }, {
            "valu[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"term":{"county.id":"33"}},{"match_phrase":{"license_number":"100000299"}}]}}]}},"from":"0","size":"10","sort":["_score",{"name.for_sort":{"order":"asc"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 141f684e-c7d1-4e5b-9f65-409f4c26f08b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":5,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":1,"max_score":null,"hits":[{"_index":"facilities","_type":"facility","_id":"100000299","_score":8.524694,"_source":{"href":null,"id":"100000299","capacity_last_changed":null,"type":{"id":"6","value":"Foster
        Family Home"},"adoption_home_only_indicator":null,"name":"Little Dreams Home","licensee_name":"Ananya
        Nandi","license_type":"A","assigned_worker":{"phones":[],"email":null,"full_name":null,"id":null},"district_office":{"number":"19","name":"PACIFIC
        INLAND CR"},"license_number":"100000299","status":{"active":false,"id":"7","value":"Application
        Withdrawn"},"capacity":null,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"full_residential_address":"123
        Main St. CA","full_mailing_address":"CA","last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"33","value":"RIVERSIDE","lis_code":null},"phones":[{"relation":"primary","type":"Cell","number":"(916)
        299-"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"123
        Main St.","city":null,"state":"CA","zip_code":null,"zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":null,"city":null,"state":"CA","zip_code":null,"zip_suffix_code":null}}],"visits":[],"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"LIS"},"sort":[8.524694,"little
        dreams home"]}]}}'
  recorded_at: Mon, 23 Jul 2018 23:51:40 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/100000299/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 141f684e-c7d1-4e5b-9f65-409f4c26f08b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "children" : [ ]
        }
  recorded_at: Mon, 23 Jul 2018 23:51:41 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/100000299/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 141f684e-c7d1-4e5b-9f65-409f4c26f08b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "complaints" : [ {
            "id" : "19-CR-195002-20041019105945",
            "complaint_date" : "2004-10-19 00:00:00",
            "assigned_worker" : "Saritha Reddy",
            "control_number" : "198952",
            "priority_level" : "",
            "status" : "Approved",
            "pre_investigation_comments" : "PO Zamora not in today - contact made with Janice Featherston as described above.",
            "post_investigation_comments" : "Left message on her voicemail informing her of the outcome of the investigation.",
            "contact_summary" : "Assigned to LPA Jeffers.\r\nComplaint originally written on 10/15/04, under the wrong Olive Crest home.  LPA Jeffers re-wrote the complaint under the same control #.\r\n\"10-day\" visit completed 10/21/04.\r\nInterviews conducted with the 3 clients in placement at the time, with the staff alleged to be the perpetrator.",
            "followup_comments" : "None at this time.",
            "allegations" : [ {
              "complaint_type_code" : "3",
              "complaint_type_description" : "Personal Rights",
              "allegation" : "Staff Meena Desai marks clients Alexzena Webb and Dizirea Goodwin with a ballpoint pen while they are sleeping.",
              "resolution_type_code" : "U",
              "resolution_type_description" : "Unfounded"
            } ]
          } ]
        }
  recorded_at: Mon, 23 Jul 2018 23:51:41 GMT
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/100000299
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 141f684e-c7d1-4e5b-9f65-409f4c26f08b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "facilities/100000299",
          "id[...]
[...]
