---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - d266e3ad-70b4-4d49-9df5-19050722ae5f
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - d266e3ad-70b4-4d49-9df5-19050722ae5f
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Adop[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-status-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - d266e3ad-70b4-4d49-9df5-19050722ae5f
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Application Denied",
            "id" : 8,
            "active" : false
          }, {
            "value" : "Application Withdrawn",
            "id" : 7,
            "active" : false
          }, {
            "value" : "Certified (CFH, RFH & OSGHC)",
            "id" : 12,
            "active" : true
          }, {
            "value" : "Closed Non-payment",
            "id" : 13,
            "active" : false
          }, {
            "value" : "Closed, Agency Initiated",
            "id" : 10,
            "active" : false
          }, {
            "valu[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"term":{"county.id":"1"}},{"match_phrase":{"license_number":"A5b6c7d8"}}]}}]}},"from":"0","size":"10","sort":["_score",{"name.for_sort":{"order":"asc"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - d266e3ad-70b4-4d49-9df5-19050722ae5f
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":2,"max_score":null,"hits":[{"_index":"facilities","_type":"facility","_id":"DMYeKqU0Mb","_score":7.8954697,"_source":{"href":null,"id":"DMYeKqU0Mb","capacity_last_changed":null,"type":{"id":"6","value":"Foster
        Family Home"},"adoption_home_only_indicator":false,"name":"PTS 20494 FFH","licensee_name":"","license_type":null,"assigned_worker":{"phones":[{"relation":"primary","number":"1234564568"}],"email":null,"full_name":"John
        Williams","id":null},"district_office":{"number":"01","name":"Alameda"},"license_number":"A5b6c7d8","status":{"active":false,"id":"20","value":"Licensee
        initiated closure"},"capacity":0,"license_effective_date":{"year":2002,"month":"NOVEMBER","era":"CE","dayOfMonth":14,"dayOfWeek":"THURSDAY","dayOfYear":318,"leapYear":false,"monthValue":11,"chronology":{"calendarType":"iso8601","id":"ISO"}},"original_application_recieved_date":{"year":2002,"month":"NOVEMBER","era":"CE","dayOfMonth":14,"dayOfWeek":"THURSDAY","dayOfYear":318,"leapYear":false,"monthValue":11,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"full_residential_address":"879
        Hollister Way Alameda CA 90038","full_mailing_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"01","value":"Alameda","lis_code":null},"phones":[],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"879
        Hollister Way","city":"Alameda","state":"CA","zip_code":"90038","zip_suffix_code":null}}],"visits":[],"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"CWS/CMS"},"sort":[7.8954697,"pts
        20494 ffh"]},{"_index":"facilities","_type":"facility","_id":"ISDSL8o0Mb","_score":7.8954697,"_source":{"href":null,"id":"ISDSL8o0Mb","capacity_last_changed":null,"type":{"id":"6","value":"Foster
        Family Home"},"adoption_home_only_indicator":false,"name":"PTS 20494 FFH","licensee_name":"","license_type":null,"assigned_worker":{"phones":[{"relation":"primary","number":"1234564568"}],"email":null,"full_name":"John
        Williams","id":null},"distr[...]
