---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7523f92-993e-4afd-ab72-126464acee3b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7523f92-993e-4afd-ab72-126464acee3b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Adop[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-status-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7523f92-993e-4afd-ab72-126464acee3b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Application Denied",
            "id" : 8,
            "active" : false
          }, {
            "value" : "Application Withdrawn",
            "id" : 7,
            "active" : false
          }, {
            "value" : "Certified (CFH, RFH & OSGHC)",
            "id" : 12,
            "active" : true
          }, {
            "value" : "Closed Non-payment",
            "id" : 13,
            "active" : false
          }, {
            "value" : "Closed, Agency Initiated",
            "id" : 10,
            "active" : false
          }, {
            "valu[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"term":{"county.id":"19"}}]}}]}},"from":"0","size":"50","sort":["_score",{"name.for_sort":{"order":"asc"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - b7523f92-993e-4afd-ab72-126464acee3b
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":3616,"max_score":null,"hits":[{"_index":"facilities","_type":"facility","_id":"2LzHxHl194","_score":1.0,"_source":{"href":null,"id":"2LzHxHl194","capacity_last_changed":null,"type":{"id":"22","value":"Foster
        Family Agency Certified Home"},"adoption_home_only_indicator":false,"name":"","licensee_name":"","license_type":null,"assigned_worker":{"phones":[],"email":null,"full_name":"","id":null},"district_office":null,"license_number":null,"status":null,"capacity":0,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"full_residential_address":"528
        223rd Carson CA 90745","full_mailing_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"19","value":"Los
        Angeles","lis_code":null},"phones":[],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"528
        223rd","city":"Carson","state":"CA","zip_code":"90745","zip_suffix_code":null}}],"visits":[],"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"CWS/CMS"},"sort":[1.0,""]},{"_index":"facilities","_type":"facility","_id":"2FFk0wr194","_score":1.0,"_source":{"href":null,"id":"2FFk0wr194","capacity_last_changed":null,"type":{"id":"22","value":"Foster
        Family Agency Certified Home"},"adoption_home_only_indicator":false,"name":"","licensee_name":"","license_type":null,"assigned_worker":{"phones":[],"email":null,"full_name":"","id":null},"district_office":null,"license_number":null,"status":null,"capacity":0,"license_effective_date":nu[...]
[...]
