---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Fost[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.id":"1"}}]}}]}},"from":"0","size":"10","sort":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 5b156e0c-7d96-462d-b6c3-edcd112a81c5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":4,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":13,"max_score":7.126623,"hits":[{"_index":"facilities","_type":"facility","_id":"456426245","_score":7.126623,"_source":{"href":null,"id":"456426245","capacity_last_changed":null,"type":{"id":"710","value":"SMALL
        FAMILY HOME"},"name":"Boy''s Town Home","licensee_name":"Mullah Mahaboob","license_type":"C","assigned_worker":{"id":null,"value":null},"district_office":{"number":"14","name":"SF
        COASTAL AC/SC"},"license_number":"456426245","status":{"id":"3","value":"LICENSED"},"capacity":6,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"1","value":"ALAMEDA","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"9164150000"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"343
        Right Way","city":"HAYWARD","state":"CA","zip_code":"94545","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"24543
        MARIE DRIVE","city":"HAYWARD","state":"CA","zip_code":"94542","zip_suffix_code":null}}],"visits":null,"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"LIS"}},{"_index":"facilities","_type":"facility","_id":"100004414","_score":6.6195397,"_source":{"href":null,"id":"100004414","capacity_last_changed":null,"type":{"id":"710","value":"SMALL
        FAMILY HOME"},"name":"Bluebird Home","licensee_name":"Ravi Chintamaneni","license_type":"D","assigned_worker":{"id":null,"value":null},"district_office":{"number":"14","name":"SF
        COASTAL AC/SC"},"license_number":"100004414","status":{"id":"3","value":"LICENSED"},"capacity":50,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":{"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":5,"dayOfWeek":"THURSDAY","dayOfYear":126,"month":"MAY","monthValue":5,"year":2016,"chronology":{"calendarType":"iso8601","id":"ISO"}},"last_deferred_visit_date":{"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":18,"dayOfWeek":"WEDNESDAY","dayOfYear":262,"month":"SEPTEMBER","monthValue":9,"year":1996,"chronology":{"calendarType":"iso8601","id":"ISO"}},"email_address":null,"last_visit_reason":{"id":"10","value":"CASELOAD
        MANAGEMENT"},"last_deferred_visit_reason":{"id":"4","value":"ANNUAL"},"county":{"id":"1","value":"ALAMEDA","lis_code":null},"phones":[{"id":null,"relation":"primary","type":"Cell","number":"9164140000"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"8645
        3rd St.","city":"OAKLAND","state":"CA","zip_code":"94609","zip_suffix_code":null}},{"id":null,"type":"Mailing","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"390
        - 40TH STREET","city":"OAKLAND","state":"CA","zip_code":"94609   0","zip_suffix_code":null}}],"visits":[{"approval":"","visit_type":"Annual
        10 month","visit_date":{"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":29,"dayOfWeek":"MONDAY","dayOfYear":303,"month":"OCTOBER","monthValue":10,"year":2012,"chronology":{"calendarType":"iso8601","id":"ISO"}},"visit_deferred_date":{"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":18,"dayOfWeek":"WEDNESDAY","dayOfYear":262,"month":"SEPTEMBER","monthValue":9,"year":1996,"chronology":{"calendarType":"iso8601","id":"ISO"}}},{"approval":"","visit_type":"Annual
        22 month","visit_date":null,"visit_deferred_date":null},{"approval":"","visit_type":"Post
        Licensing","visit_date":null,"visit_deferred_date":{"hour":0,"minute":0,"nano":0,"second":0,"dayOfMonth":6,"dayOfWeek":"WEDNESDAY","dayOfYear":310,"month":"NOVEM[...]
