.child-name-section {
	border-bottom: 0.1rem solid #e8e8e8;
    display: block;
    font-size: 2rem;
    padding-left: 2rem;
}

.child-applicant {
	padding-top: 20px;
}

.row-margin {
	padding-left: 1.1rem;
}