.facility-details {
    padding: 20px;
}

.headliner {
    margin-bottom: 30px;
    padding: 0;
    border-bottom: 1px solid;
}

.headliner {
    width: 100%;
    height: 2px;
    background: #000;
}

.facility-address .inner_block {
    padding: 20px 10px 20px 5px;
}

.facility-address {
    padding: 20px;
}

.facility-details .inner_block {
    padding: 20px 10px 20px 5px;
}

.facility-address .inner_block:last-child {
    padding-left: 20px;
}

.facility-details .inner_block:last-child {
    padding-left: 20px;
}

.small_inner_block p:first-child {
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    color: #8d8d8d;
}

.small_inner_block p:nth-child(n+2) {
    font-family: 'Source Sans Pro ExtraLight', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #2b2b2b;
}

.small_inner_block {
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .facility-children table {
        border: 0;
    }
    .facility-children table thead {
        display: none;
    }
    .facility-children table tr {
        display: block;
        border-bottom: 1px solid #ddd;
    }
    .facility-children table td {
        display: block;
        text-align: right;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .facility-children table td:last-child {
        border-bottom: 0;
    }
    .facility-children table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.facility-children {
    padding: 20px;
}

.facility-children-block {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    margin-top: 20px;
}

.facility-children table {
    border: #ddd;
}

.facility-children table tr td {
    font-family: 'Source Sans Pro Bold', sans-serif;
    vertical-align: middle;
}

.facility-children .table>tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.facility-children .table>tbody tr:last-child {
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

.facility-children .table>thead>tr>th {
    font-family: 'Source Sans Pro Bold', sans-serif;
}

.facility-children .table>thead>tr {
    color: #000;
    border-top: 1px solid #ddd;
}

.facility-children .children-title {
    font-family: 'Source Sans Pro ExtraLight', sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 0;
    padding-left: 7px;
    color: #8b8b8b;
}

.facility-children .children-title h3 {
    font-family: 'Source Sans Pro ExtraLight', sans-serif;
    font-weight: 100;
}

.facility-address .facility-address-block {
    background-color: #f5f5f5;
    margin-top: 20px
}

.facility-details .facility_blocks {
    background-color: #f5f5f5;
}

@media only screen and (max-width: 787px) {
    .facility_blocks>div {
        margin-bottom: 20px;
        padding-left: 0;
    }
    .facility-address-block>div {
        margin-bottom: 20px;
        padding-left: 0;
    }
    .facility-address .inner_block {
        padding: 0px 0px 0px 0px;
    }
    .facility-details .inner_block {
        padding: 5px 5px 0px 5px;
    }
    .small_inner_block {
        margin-bottom: 0px;
    }
}

.loading-icon {
  position: relative;
  width: 20px;
  height: 20px; 
  margin:50px auto;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.loading-icon:before {
  content: "\f110";
  font-family: FontAwesome;
  font-size:30px;
  position: absolute;
  top: 0; 
}
