.affix{
  overflow: scroll;
}

.nav-menu {
   height: 100vh;
   overflow: auto;
}

.nav-link{
    a.link{
  text-align:right;
  font-size:0.5vw;
  }
}

li.navlink {
  a.link {
    text-decoration:none;
    color: black;
    display: inline-block;
    font-size: 0.76vw;
  }


a.link:focus, a.link:hover, a.link.active {
    color: #17486a;
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
  //  font-weight: bold;
  }

  .active-inactive-navlink {
     padding-right: 10px;
     width: 10px;
  }

  .inactive-navlink {
    @extend .active-inactive-navlink;
    border-left: 6px solid transparent;
  }

  .active-navlink {
    @extend .active-inactive-navlink;
    height: 30px;
    border-left: 6px solid #17486a;
    left: 0;
    margin-top: 7px;
  }
}

hr.vertical
{
   width: 1vw;
   height: 200vh;
   border-left: 1px solid gray;
   display: inline-block;
   margin: 0 auto;
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  position: relative;
  cursor: pointer;
  
  h1 {
   text-align:right;
   font-size:2vw;
   }

  &:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    left: 10px;
    top: 5px;
    display: inline-block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}
