.tracking-card-header{
	box-shadow:0 0.2rem 0 rgba(0, 0, 0, 0.1)
}
.inlineBlock {
	display: inline-block
}
.tracking-button{
	.btn{
			margin-left:5rem;
			background: none;
			border: 2px solid white;
			color: white;

	}
}
.tracking-cancel{
	.btn{
		background: none;
		border: none;
		color:white;
	}
}
table { table-layout: fixed;
	input[type="checkbox"] +label {
		white-space: nowrap;
	}
 }
