---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 500 Server Error</title>
        </head>
        <body><h2>HTTP ERROR 500</h2>
        <p>Problem accessing /rfa-1a-forms. Reason:
        <pre>    Server Error</pre></p>
        </body>
        </html>
  recorded_at: Wed, 20 Sep 2017 02:14:25 GMT
recorded_with: VCR 3.0.3
