---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..d0n3VATxR7vqsV_k.52QgsJTRWuhLA2MYBKYC_1QuoCBvbl41hnTcZzB_Tvw0pYRVvPT0mF3axsmB5JLY75mqOGA4t01hOZkRrF7ZUbzOl44hJPyGTYFOxntjld5U66RjW0uGQEWS72akCQCnfkC07ZDYr22H7ale3K-46ou7fCqqZ-9WHuZwW0nOGzM9buLddFs_KMwxE8RhD0qeiT4P_T-KTE0dRKaB_jadoxlr8f4IIaBm48tc2bMP0GJJRZ6D9KBpqfTkWmp89skU1idlK_5bfpFUrjYmU95VXW6rA1F5fNGo22FdGXMkn-jKCollwJ7nPx_KRvtkJepdURWN47YiLWcioT2_MYYsNUkrXydwI-RyoZTiaygAMtbb4_3gg4IZnd5ARecJuit-qVhmO51p0ItESEe99fXa3VeoVFkG2Vpw1iiH7RRS7Ugu7074EpYuMiaqHz2SJjBMTAlSPot0ea8QvbCYVlXUY1mcB6Lo143jPSm8CZ0gPZ2suN0SPEuMVibaJ1sh-8vSO3Ecx-z8ksxbcmIwOPGaGugQa-ibjgDenFp8z-lTJ401IeSaXgJ7MbjqfrYSxLKvOdt3DmJ0NX6mJ1lapJz71ohJVQ51bLuTKLPIcV_I59vcEzPEGSkgWmjrPhtota7Lu0LWZtE7djUoSVwseDWzFVgzUVHb2a6twuKaUIU8MEm8gjOilfQRErDVH6bWlsHK-hnMvQ.P5ZZsIe8cZWdjcLx1vWdxw"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 128,
            "residence" : {
              "addresses" : [ {
                "street_address" : "maing address here",
                "zip" : "12345",
                "city" : "secondary city",
                "state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "body of water goes here",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "Arabic",
                "id" : 2
              } ]
            },
            "applicants" : [ {
              "id" : 84,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 something else",
                  "city" : "",
                  "zip" : "12345"
                }
              },
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 127,
            "applicants" : [ {
              "id" : 83,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10.0,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 125,
            "residence" : {
              "addresses" : [ {
                "street_address" : "maing address here",
                "zip" : "12345",
                "city" : "secondary city",
                "state" : {
             [...]
