---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..48PcGg7HbDqlszXf.BWOB11GskJLT4MTH_3Qpf_akrPm5svJpQf0demufgx8BmNON-szK6jX5Oi3Bdi9gH4W5DIh2g-UQPfS9Zl8aLlnFNpYElmuQe4zWa0KQ55iRDC19Z9aD0-i1ISHYdpsrPHK6uyrY_vg0jG92Djp3Xh-LgcjM3TCJ5ib5mIpHim2cc0TlwxAa0tB9-Z0nQM0fuj9zDeZ8SixNzZ1_dJ8vq_a4LhUlGZyKBOYo1L4Qu8SGKfdG-SxcVCjFuTgF94c8KPG3_6sdCH19Zpw9w2weLA_rpCX7EU2Ryx-1LxAGR4OQpLWfToPAQnOCtT8FJdJr_8R-dpcYzqzlc7RQa2fVKOIe2yJWGHq_nEOqOpZlVHnplmqIqWMbsh6gxFnHigMakfU6Y435WhYAEAUwPPawhICR8EL1kdgx_kvaqlNkbKXhUkouy2afBjrrjzsaWjyf7b0z721oyO8Ka2qABosteVuIqrGSO4HEz5XcOWWuRTcWgyodg_Xkk5S2o8fvHL-OPZx0klJUHsVursFoaqRoCmpGLTm9Uw2tSCCvm5HS3vOsbH5meAIHqT5Ue9ueyxSTe5-xySmUKjXkVf_Rn_GGUnfyHRdHlzKU0DlQmHCyCsqyIpbU2qZV8NEJRonYdqV37lgnnfDuj-R6E6Ghg6eJzwa_fcojaxluw-GZJRRoqaAOxTNuucQTO_M5nY2Bi4ZLc4x98Q.j-gh_q7eDfm5a7LHEL7JcQ"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 64,
            "applicants" : [ {
              "id" : 54,
              "first_name" : "Callie Padberg DVM",
              "middle_name" : "k",
              "last_name" : "Elinore Runolfsdottir",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : false,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 63,
            "applicants" : [ {
              "id" : 53,
              "first_name" : "Berenice Rempel",
              "middle_name" : "k",
              "last_name" : "Dean McLaughlin",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ {
              "id" : 5,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 62,
            "applicants" : [ {
              "id" : 52,
              "first_name" : "Sam",
              "middle_name" : "k",
              "last_name" : "Nasir Langosh",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
           [...]
