---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..B4S19yvPAIf_7eH2.4STEwemnWGhmzukdk3eDuytOPIDetp_bHHj_gS7dwvM84DddkjsC9eNqA5L4tmqJhAJXSoplwaEPEQLJVPJKrMa5I3q5w1Ia4C5-eT9Iwo8Yv_IoLoAoALtmRPE5aYbgeItzJYww0qUVB4ueMhsEkhaX1U1w4b01aDmRu3NSXIW6B-Gc358OtHbFyMHpAmRoxYK28untPUzF7cydsturNzkbny365wX-9WPcCV_JU3RXTIvQZJkdRx-icOdGy9XTBt8n_Wc3tLC21KEGVhg95qgIaD1DHzoz2N91xQ0RB1IEZRp5Ddk2lJptm9Wl95WxPVlo37BCkKS7qdkiT9lHwiQ5zqM_wcwJyk3BhMeZbJoyLKbx2hHFd4rnSJdjxytowtbRYlc2cnwCC9qU6HrUN6O8zkTAa0_y7Po7ukokOGJzFVfb8UBUpq8SR9YpUS019wywo90LVPGHalt1n3dhuJRmm8eSDr3gFDCit0ti2Ua8OxZY3qrz4Svf_IwXr9h3vADyyUxV3eY46Kjn_uHQep41yrSXLiozTgp4PQAQpJoKD4BWZO2v1G0V7j2mat5QjckVaq6Ly_j1VmMfpJSYk55P2nVHnFoFgufLOv2IPl47H19vI-WzEVjYmdbIxFJB6ikDRqcjVw0JwM_vIUXqLl65xIGt0c6BN7dd_C7k83LkrJefhrbtdi1Sq1vyZFaGskOr2fKxUxSldLsjadv0-wBPs4Nxr9vubRP14lBMKiOTARQveOiook8UVFmnizMp5fx3rfuOfCrCdbZVF5X5DuoZRDg1YOGV7ujur04SsnBd_l7pKIWBLmMScYcyEe5VIGOiUuXqw2I5ROwBqARaR1aQzCaZ7MWdH1bbKq3YiRkZY-s-LENVRb24rfeGe2VtU-QWUVtRETEzzB-bIza7tHZjX5euW-gbxs4Y9TgnogzFZy5huLsgMbFRaQUQOhHn_0q2LeM9HxzCaiSjnaAE4-h1k_x9522flherwMXUViIotyzDOLbNDd9Bo4jlgc3wDRuwso0KTT4niT2vno1RjCSHNlIK8cRaUcLG32zxIxi7QVOqWaJ1u5RhDFTbY0sM0IEyJg.RtMWtCVCke3kRnPaZCLZ8Q"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 77,
            "applicants" : [ {
              "id" : 70,
              "first_name" : "Haven Wiegand",
              "middle_name" : "k",
              "last_name" : "Chaim Corwin",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ {
              "id" : 6,
              "first_name" : "",
              "middle_name" : "",
              "last_name" : "",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 76,
            "residence" : {
              "addresses" : [ {
                "street_address" : "maing address here",
                "zip" : "12345",
                "city" : "secondary city",
                "state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "body of water goes here",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "Arabic",
                "id" : 2
              } ]
            },
            "applicants" : [ {
              "id" : 69,
              "first_name" : "Darryl Purdy",
              "middle_name" : "k",
              "last_name" : "Edwin Boyer",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 something else",
                  "city" : "",
                  "zip" : "12345"
                }
              },
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 75,
            "applicants" : [ {
              "id" : 68,
              "first_name" : "Orville Kohler I",
              "middle_name" : "k",
              "last_name" : "Mikel Rippin",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : false,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 74,
            "applicants" : [ {
              "id" : 67,
              "first_name" : "Angelina Morar",
              "middle_name" : "k",
              "last_name" : "Elias Jerde",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10.0,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 72,
            "applicants" : [ {
              "id" : 66,
              "first_name" : "Sam",
              "middle_name" : "k",
              "last_name" : "Christ Bartoletti",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 71,
            "applicants" : [ {
              "id" : 65,
              "first_name" : "Luna Legros",
              "middle_name" : "k",
              "last_name" : "Heath Marquardt",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ {
              "id" : 7,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 70,
            "applicants" : [ {
              "id" : 64,
              "first_name" : "Taylor",
              "middle_name" : "k",
              "last_name" : "Swift",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "p[...]
