---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..cnzW8xBm_uOrgrpE.gxmSzAWXO3OOv33hr6JrNv-R1vdxJOA6LeTdB3o7gRC6QUOzLgFgvNSGVAPdkNLQLb18_SfU57-QEebjGNnEcClnuz1ToyjPL1cZe58fKyQzayHL6QFjzoq63Nl-LW9uFPnZ8sh4iGYZIczf3QyeLiXgUX_koajyasuuqQ918OQIxqcGHrmSaXuIQGhiJYT79ABWbxsqJH8hLe0xE9xlk8B316VsOa1ZYlEvYZ3UIbkBRrSnUnJyhNvJaauPDlIXxBUha8p-g9Grnqmsu8PTQdy--jK1QuXaET_yD7iQfo0UJ1NJVlGrRDGMYComVT0nScf1xdyL07Oe2Q5xR-MWmHoRVkEec3_LW43vHMBU9jUrqvU6LGGO5gsBQqvxqndlW6CcqyRcpgLoPDRsG4Xph51qviRHWYxMbEdEaYin1gPadNVE7-jibANuZRgnOWFXX0FzP1C-vuw3mo7-mjf5bVpKWzol_b8niLOdQwfCI8aVL1JSmzzMps6-q2N-DrR2L5nNkWNRmsDN-xj4tJrCwwKptBydPMYdAaV5MVV0HPvS15lGNF6pyJSyeDMbS0bSF31b3x4yJ5FIMxOlvVDBfR4MXVow06ciL_ieMdiRaW3EPy0mmAZ8klYzO9R-fZojuyx2Gg2PVMvkqsE-RdH-N5t-KyBOHgv0tUyDJE_M5TiLXJHH3PfSMmeGSlc2WhDNDlcsUWN8HxLLtMgJlBKhDJ_morbMbt2xGKoOwnKCHp0kdwqJ_TH8Ogw9L0mswls-hSJjHJJweFA0gNKl98btFloTUl6EyT4SMpT6IocbscCyjkCrRIljHJTu4L5gQz-83LCNpiacyzhQDQx17yJZ81Bwkd2Vd_CRvgefSVd4N7dEFhY9HjzpzImC8xlQR2k2q2Q_kXeivtXMyvlBVzBo-yz1q-LPxfLjHwjR6oo5tKDh-3FHi9JHz5bvi9iNzfh8C-T3lUi1U3NuwDGLZ4D8EXcvVQN6gh8eXw1Q54ZBOODIE888vMya6L1PIR09ZYutJV6yETaWaxoGxrxAAfR7wBfnQA.H4gG8NUH0cgxLlVMPJxcWA"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 1145,
            "applicants" : [ {
              "id" : 762,
              "first_name" : "Jude",
              "middle_name" : "k",
              "last_name" : "Hoeger",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "rfa1b_form" : {
                "id" : 120
              }
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ {
              "id" : 69,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "Jude",
                "middle_name" : "k",
                "last_name" : "Hoeger",
                "name_suffix" : {
                  "value" : "Sr",
                  "id" : 6
                },
                "date_of_birth" : "2000-01-01",
                "gender" : {
                  "value" : "Male",
                  "id" : 1
                },
                "relationship_to_applicants" : [ {
                  "relationship_to_applicant_freeform" : ""
                } ],
                "school_grade" : {
                  "value" : "TK",
                  "id" : 1
                },
                "school_name" : "School name",
                "school_address" : {
                  "street_address" : "address here",
                  "zip" : "12345",
                  "city" : "",
                  "state" : {
                    "value" : "Alaska",
                    "id" : "AK"
                  }
                },
                "child_in_home" : false
              } ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 1143,
            "applicants" : [ {
              "id" : 761,
              "first_name" : "Clyde RempelCarley B",
              "middle_name" : "k",
              "last_name" : "Beaulah Lesch",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 1142,
            "applicants_relationship" : {
              "relationship_type" : {
                "value" : "Married",
                "id" : 1
              },
              "place_of_relationship_city" : "",
              "place_of_relationship_state" : {
                "value" : "Alaska",
                "id" : "AK"
              }
            },
            "applicants" : [ {
              "id" : 759,
              "first_name" : "Maribel Leffler",
              "middle_name" : "k",
              "last_name" : "Rosanna Maggio",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            }, {
              "id" : 760,
              "first_name" : "",
              "middle_name" : "",
              "last_name" : "",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 1140,
            "residence" : {
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              }, {
                "value" : "Armenian",
                "id" : 3
              } ]
            },
            "applicants" : [ {
              "id" : 758,
              "first_name" : "Marisol Roberts",
              "middle_name" : "k",
              "last_name" : "Anissa Moen IV",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
          [...]
