---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 1003df7c-b186-4fe5-b55c-c3dbd147d6db
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 4112,
            "application_county" : {
              "value" : "Mendocino",
              "id" : 23
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "4220 Ardwell Way",
                "zip" : "95823",
                "city" : "Sacramento",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : ""
              } ],
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "Cambodian",
                "id" : 4
              } ]
            },
            "applicants" : [ {
              "id" : 2365,
              "first_name" : "jl",
              "middle_name" : "",
              "last_name" : "jlj",
              "other_names" : [ ],
              "date_of_birth" : "1111-11-11",
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "1111111111",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ {
              "id" : 595,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant_freeform" : "f",
                "applicant_id" : 2365
              } ],
              "date_of_birth" : "1111-11-11",
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "is_initial_application" : false
          }, {
            "id" : 4111,
            "application_county" : {
              "value" : "Mendocino",
              "id" : 23
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "4220 Ardwell Way",
                "zip" : "95823",
                "city" : "Sacramento",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
       [...]
