---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..RAR4e5Djwt9LGlm6.6L-Kz1mAjW5JD0oXThR093b38N6BBaJ9vNeTxi1uInZb3QW-za55PhLY_SkApZ7wCYKSyf8QPo_A_Chn3s3C4ZxaiI2LPu4SPMszVcNb-5cEpt8vgpOJAJOXKPAuxtVBFMJSZvpAu9Zng8N4YAbEgMtvK8YyyjtK6WO8GDDFvnVTnZnfxwR1S4pcBku3_9jeOklenIlNEKlRGXD7uu89p_prPxRXByMbPp4Nh9W1Ng384WEwWwhGTaaekaYiFG5XX9oKXz4IUfNy5yM84x69Yfc2CzyDLzpBLuc-1x53Ogf8cD7G8HNJRCZtX5mc2MH86SMFwSJHdDon1vjdWFDEEdIQJTzlsHILhEeu2AOzxcDgdVspYzK9hZdR1gqUtdrmW1r1J0BlRnA-4I0rieEDtbQFbebns9g5VPkx1FniFYTRKyy9onMA3EvtpUv2bkrirH7-aRWuRvSECleuziPwnQuC1hBcf028Qns9P205FWIYW2bBZ3SnbqjWli_7IwfLjbjtQ-2xImZWMOdXVWAuQ5ur2O56rggbRWd2hMEjp8A-w__1c4ys0wfB33iAqpKn5RXCebsh-wwZ8vTIYm-qoUv2LsRfWL0zWp8Em2tl9ucdni_t65zDEV6TiGJtYyhyFa1DcJvpzaSP32HmbmQcfQhodCF8DTdCxJ26VA638dc1gO3S1Ou47Q7vWm-c1t8QQ-y9hj5SkB-Mqnp4Ukiv7r7xwJqLSml1Y84-roM1wNL-LiiK260e9aPcu0CWRWd-IG3fzKdycwHzNewY6MD_be0KETQXCXOfXXYDicN6a3XN9vqf0fj6cYJknaI1dp5WGeA-uwOeD4iXsQGdjSviryBPLarxcFQ6468vasS_LvmfXEtDm6n-rlJGtBHT81WIdZhfKltkMDw4OyQ7AFP8zvLEKectiYndhkPGxqyIV0Sbe3rr-3ODOlJrEksJV8TuAVtnVt_pwPn4ur6TwxMOr7tqfc2lnQciKYXrQh9yCA.DvcRCMNHPNV4RGopNkDiqQ"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 218,
            "applicants" : [ {
              "id" : 66,
              "first_name" : "Sam",
              "middle_name" : "k",
              "last_name" : "Izaiah Luettgen",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 217,
            "applicants" : [ {
              "id" : 65,
              "first_name" : "Barrett Rogahn",
              "middle_name" : "k",
              "last_name" : "Mario Corwin",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : false,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false
          }, {
            "id" : 216,
            "applicants" : [ {
              "id" : 64,
              "first_name" : "Melissa West",
              "middle_name" : "k",
              "last_name" : "Ibrahim Kohler",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ {
              "id" : 3,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 213,
            "applicants" : [ {
              "id" : 63,
              "first_name" : "Final",
              "middle_name" : "C",
              "last_name" : "Test",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ {
              "id" : 128,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "Add",
                "middle_name" : "c",
                "last_name" : "form",
                "school_name" : "",
                "school_address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : "",
                  "type" : {
                    "value" : "Mailing",
                    "id" : 3
                  }
                },
                "child_in_home" : false
              } ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 207,
            "applicants" : [ {
              "id" : 62,
              "first_name" : "testing",
              "middle_name" : "c",
              "last_name" : "form",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
      [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..RAR4e5Djwt9LGlm6.6L-Kz1mAjW5JD0oXThR093b38N6BBaJ9vNeTxi1uInZb3QW-za55PhLY_SkApZ7wCYKSyf8QPo_A_Chn3s3C4ZxaiI2LPu4SPMszVcNb-5cEpt8vgpOJAJOXKPAuxtVBFMJSZvpAu9Zng8N4YAbEgMtvK8YyyjtK6WO8GDDFvnVTnZnfxwR1S4pcBku3_9jeOklenIlNEKlRGXD7uu89p_prPxRXByMbPp4Nh9W1Ng384WEwWwhGTaaekaYiFG5XX9oKX[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/219?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..RAR4e5Djwt9LGlm6.6L-Kz1mAjW5JD0oXThR093b38N6BBaJ9vNeTxi1uInZb3QW-za55PhLY_SkApZ7wCYKSyf8QPo_A_Chn3s3C4ZxaiI2LPu4SPMszVcNb-5cEpt8vgpOJAJOXKPAuxtVBFMJSZvpAu9Zng8N4YAbEgMtvK8YyyjtK6WO8GDDFvnVTnZnfxwR1S4pcBku3_9jeOklenIlNEKlRGXD7uu89p_prPxRXByMbPp4Nh9W1Ng384WEwWwh[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/219/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..RAR4e5Djwt9LGlm6.6L-Kz1mAjW5JD0oXThR093b38N6BBaJ9vNeTxi1uInZb3QW-za55PhLY_SkApZ7wCYKSyf8QPo_A_Chn3s3C4ZxaiI2LPu4SPMszVcNb-5cEpt8vgpOJAJOXKPAuxtVBFMJSZvpAu9Zng8N4YAbEgMtvK8YyyjtK6WO8GDDFvnVTnZnfxwR1S4pcBku3_9jeOklenIlNEKlRGXD7uu89p_prPxRXByMbPp4Nh9W1Ng384WEwWwhGTaaekaYiFG5XX9oKXz4IUfNy5yM84x69Yfc2CzyDLzpBLuc-1x53Ogf8cD7G8HNJRCZtX5mc2MH86SMFwSJHdDon1vjdWFDEEdIQJTzlsHILhEeu2AOzxcDgdVspYzK9hZdR1gqUtdrmW1r1J0BlRnA-4I0rieEDtbQFbebns9g5VPkx1FniFYTRKyy9onMA3EvtpUv2bkrirH7-aRWuRvSECleuziPwnQuC1hBcf028Qns9P205FWIYW2bBZ3SnbqjWli_7IwfLjbjtQ-2xImZWMOdXVWAuQ5ur2O56rggbRWd2hMEjp8A-w__1c4ys0wfB33iAqpKn5RXCebsh-wwZ8vTIYm-qoUv2LsRfWL0zWp8Em2tl9ucdni_t65zDEV6TiGJtYyhyFa1DcJvpzaSP32HmbmQcfQhodCF8DTdCxJ26VA638dc1gO3S1Ou47Q7vWm-c1t8QQ-y9hj5SkB-Mqnp4Ukiv7r7xwJqLSml1Y84-roM1wNL-LiiK260e9aPcu0CWRWd-IG3fzKdycwHzNewY6MD_be0KETQXCXOfXXYDicN6a3XN9vqf0fj6cYJknaI1dp5WGeA-uwOeD4iXsQGdjSviryBPLarxcFQ6468vasS_LvmfXEtDm6n-rlJGtBHT81WIdZhfKltkMDw4OyQ7AFP8zvLEKectiYndhkPGxqyIV0Sbe3rr-3ODOlJrEksJV8TuAVtnVt_pwPn4ur6TwxMOr7tqfc2lnQciKYXrQh9yCA.DvcRCMNHPNV4RGopNkDiqQ"
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/219/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Fri, 17 Nov 2017 03:17:10 GMT
recorded_with: VCR 3.0.3
