---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 86059e1a-4e84-40bb-bc06-91d6d9f2af2a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 1352,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 756,
              "first_name" : "Start",
              "middle_name" : "",
              "last_name" : "RFA",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "rfa1b_form" : {
                "id" : 103
              }
            }, {
              "id" : 757,
              "first_name" : "Adult",
              "middle_name" : "",
              "last_name" : "Applicant",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "rfa1c_forms" : [ {
              "id" : 101,
              "child_identified" : false
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 1349,
            "application_county" : {
              "value" : "Mendocino",
              "id" : 23
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "4220 Ardwell Way",
                "zip" : "95823",
                "city" : "Sacramento",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : ""
              } ],
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "Arabic",
                "id" : 2
              } ]
            },
            "applicants" : [ {
              "id" : 755,
              "first_name" : "f",
              "middle_name" : "",
              "last_name" : "h",
              "other_names" : [ ],
              "date_of_birth" : "1111-11-11",
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "1111111111",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ {
              "id" : 71,
              "relationship_to_applicants" : [ {
                "applicant_id" : 755,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "date_of_birth" : "1111-11-11",
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "is_initial_application" : false
          }, {
            "id" : 1346,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants_history" : {
              "former_spouses" : [ {
                "relationship_type" : {
                  "value" : "Married",
                  "id" : 1
                },
                "applicant_id" : 754,
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "place_of_marriage_city" : "",
                "place_of_marriage_end_city" : ""
              } ],
              "adult_children" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "relationship_to_applicants" : [ { } ],
                "address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                }
              } ]
            },
            "applicants" : [ {
              "id" : 754,
              "first_name" : "Super",
              "middle_name" : "k",
              "last_name" : "Man",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 1345,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 753,
              "first_name" : "Geovanni",
              "middle_name" : "",
              "last_name" : "Moen",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 1344,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 752,
              "first_name" : "Amelie",
              "middle_name" : "k",
              "last_name" : "Rempel",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 109,
              "first_name" : "Allison",
              "relationship_to_applicants" : [ {
                "applicant_id" : 752,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 1343,
            "application_county" : {
              "value" : "Los Angeles",
              "i[...]
