---
http_interactions:
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..FgHJyRo0rtGc5etJ.QiirL-PxjgRPAP_1bUcmHXb_D9-m62j96sAhePzFo567J2ATnqRKrXR4R4KSYXO3U_PragkmhEzmGS4koBlvHqKmuiJHkkIF-c2dIRMTsDETMOGMwbeUAOdoRRLIAAAgEV0N8Hmu_bgqxFZZrGOwINxF3MQaj24Iv7vT5ZGmoupFZPKZhd8HPMUVw3AXIvsawzRNVLP6SZoVrRb-5bZNvlIOp0igWDnitmUNtrBJmmnnIvSU2sHnvuEiHvhRLlYUYK7aYoDhUznQdmeC3EpyO3t3K99OXXq-J153ViwADCitrXsaE33wPGGY5Sr_aju7NsmyNRqVbhNnUGbMmvrS4zLSRs9lCbgDnSWZLexNEYPmHNZFWQPRP_udFv7UPuIi1HUFSqo5rKBQsOO6ALJQtJxmEdWonKRO2mFx8DiHIt8Pr4Bf6WbeHLbhJbIdoyUUBNTS-SSjZY2sxAc9-5wdRGDB7FTjk2PKibGmG2USfKMq9ItfCaGpxXMQjI0SIC7TujhON5Rc6Llj023rh45uxgJL7hwxPXI_f-3Qbt9yDluQZxP9cMiV0Tt4rEej-ZkpmS2-To6JZGFy3x5uqbT0MP9oRSnGX6oLN88icinpwQqqym5xn7KVJduxJn1jahWccpe_0T169kEGoQnT1DxIbd1LgKRLq-JrVXARFR0xRWmoY8ifuKnxeZeHEpYoxQOlYUUo_a-_mfJo55eujkTU2EiMuzMO7AaWhbl3FsodTuJipoiQyuU5ctdb7y86NTgVGB8xwpfdr682vEFSOoV08ve3XaMm5Xfn0IFLenj2jUOIEKhFHi3UoahQs3fVUTn4CydCMYE_8ysJNypgsqz9aZSgg90y5jo44ktFJn8-bjs-0fb7Mde6kgHRvUQ52rWtCvjptWrnguqVZZLGvfBxsfkisKkf9z1w1Kb4ToQMi2xzTx35WHWwLHARualiKWfb6cK2FLrJzUR5ROI2PjFX1JQGOa_b6RdHsNxBL9X2IMHfBXC_V6C8TPBHVHitjRPpR65wZasBNyTufflYhtat0s86HxIQvvtvl33g_2swPDj3I9b4PaTJXaT45f5ZlG7mCJT36Q.q8JjzZRputkQWLM45DQv_Q"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 57,
            "applicants" : [ {
              "id" : 48,
              "first_name" : "Lorena Dare",
              "middle_name" : "k",
              "last_name" : "Jaquan Ledner",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10.0,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 53,
            "residence" : {
              "addresses" : [ ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "body of water goes here",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "Arabic",
                "id" : 2
              } ]
            },
            "applicants" : [ {
              "id" : 47,
              "first_name" : "Aric Wisozk",
              "middle_name" : "k",
              "last_name" : "Kirstin Cremin",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "maing address here",
                  "city" : "secondary city",
                  "zip" : "12345"
                }
              },
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 52,
            "applicants" : [ {
              "id" : 46,
              "first_name" : "Leila Senger",
              "middle_name" : "k",
              "last_name" : "Otis Hagenes",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ {
              "id" : 2,
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false,
            "is_other_type" : false
          }, {
            "id" : 51,
            "applicants" : [ {
              "id" : 45,
              "first_name" : "Claudine Fay",
              "middle_name" : "k",
              "last_name" : "Keshaun Powlowski",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""[...]
- request:
    method: post
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..FgHJyRo0rtGc5etJ.QiirL-PxjgRPAP_1bUcmHXb_D9-m62j96sAhePzFo567J2ATnqRKrXR4R4KSYXO3U_PragkmhEzmGS4koBlvHqKmuiJHkkIF-c2dIRMTsDETMOGMwbeUAOdoRRLIAAAgEV0N8Hmu_bgqxFZZrGOwINxF3MQaj24Iv7vT5ZGmoupFZPKZhd8HPMUVw3AXIvsawzRNVLP6SZoVrRb-5bZNvlIOp0igWDnitmUNtrBJmmnnIvSU2sHnvuEiHvhRLlYUYK7a[...]
- request:
    method: get
    uri: https://cals-api.preint.cwds.io/rfa-1a-forms/58?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..FgHJyRo0rtGc5etJ.QiirL-PxjgRPAP_1bUcmHXb_D9-m62j96sAhePzFo567J2ATnqRKrXR4R4KSYXO3U_PragkmhEzmGS4koBlvHqKmuiJHkkIF-c2dIRMTsDETMOGMwbeUAOdoRRLIAAAgEV0N8Hmu_bgqxFZZrGOwINxF3MQaj24Iv7vT5ZGmoupFZPKZhd8HPMUVw3AXIvsawzRNVLP6SZoVrRb-5bZNvlIOp0igWDnitmUNtrBJmmnnIvSU2sH[...]
