---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P2vG4n_djcsrdxBgw0roS6mzUaP0fau3hASpyqy0GKRN_ms7VTxgV-B_lVPbX8g2IaN8Zt6hdQLDS6zvdrG2MWJMcDffePDFXvN9_dOZvZmgcmgZTROcpQBknREtIlCCDsDkCg8KWaslO99VjzQMkJIxmVM6-LoCJ8BMT0PVtZt20aEKI1YV-6CUueNGQoNxooFVeZ6_US4JXHA7cnMZbNszTDl05383PDUGCxMa6qXGyJ-lnEIIGoP6sPnO1PKQq78f8jpULTpJLgZk07FQvbS9i0plYIQshqZh9MfVCC3bmpu9BcPZc8M-htamDDJBcIDbYL2zcGQ76eXPpmjUsd_PYXQ51dWZ4PWSpuvEyGrCbZJ3e1Je4NwWV7afyAZq9kXg7hcJId_IBfWapTWFEKom-pOuKslhrCDZRVjtSMBc_wh8iTHlap5n19Y2SM1ULMW4yt5uhcFPTCSsATT0jLei0u2v9k2dM-XapCZrLaLcj7-wArU6Xm6YvtAakOXhD_nKMq7UbzIFNzKMP6X6qEze-e3ERZF36SytW6mKrkcdIwKOrQ9SvSgldLE5QF9xAr7yOrbVw8W4zOVyNX_rv61OAagQlzDLt0Ue0fwMegAhLq8IW-noGE-ULQ7FYYyDHL3CSBAOomGYHeBSJ0Uq-mc6jiLKubyfkF3jk37N8lOtetwI8SRbtdRQBMRfwsgNPkPL18a4_oLnGj9gWs6Qu2j3vSNuxiwy6tWxqcTNLE4TjNZkS6rvGlJEYOtQsoZxZSh7zdFtq9FxXBdg2N8PIlFyc_hY3jOgyzHnDxxY7rCXcmlb9h8hHf_DBv0v8JdP-EF44Xvxw.91COC62NtlRpq5bsWp3Mpw"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 1930,
            "applicants" : [ {
              "id" : 1194,
              "first_name" : "Elvis",
              "middle_name" : "k",
              "last_name" : "Trantow",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 1929,
            "applicants" : [ {
              "id" : 1193,
              "first_name" : "Hudson",
              "middle_name" : "k",
              "last_name" : "Howell",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 352,
              "first_name" : "Lue",
              "relationship_to_applicants" : [ {
                "applicant_id" : 1193,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 1926,
            "applicants" : [ {
              "id" : 1192,
              "first_name" : "Jennie",
              "middle_name" : "k",
              "last_name" : "Ullrich",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "minor_children" : [ {
              "id" : 214,
              "relationship_to_applicants" : [ {
                "applicant_id" : 1192,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "is_initial_application" : false
          }, {
            "id" : 1925,
            "applicants" : [ {
              "id" : 1191,
              "first_name" : "Lulu",
              "middle_name" : "k",
              "last_name" : "Hagenes",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : true,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false
          }, {
            "id" : 1924,
            "residence" : {
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              }, {
                "value" : "Armenian",
                "id" : 3
              } ]
            },
            "applicants" : [ {
              "id" : 1190,
              "first_name" : "Paolo",
              "middle_name" : "k",
              "last_name" : "O'Kon",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 something elsemaing address here",
                  "city" : "secondary city",
                  "zip" : "12345"
                }
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 1923,
            "applicants_history" : {
              "former_spouses" : [ {
                "first_name" : "Sam",
                "middle_name" : "",
                "last_name" : "",
                "place_of_marriage_city" : "",
                "place_of_marriage_end_city" : ""
              } ],
              "adult_children" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "relationship_to_applicants" : [ { } ],
                "address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                }
              } ]
            },
            "applicants" : [ {
              "id" : 1189,
              "first_name" : "Arlie",
              "middle_name" : "k",
              "last_name" : "Marvin",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 1921,
            "applicants" : [ {
              "id" : 1188,
              "first_name" : "Kimberley",
              "middle_name" : "k",
              "last_name" : "O'Reily",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "rfa1c_forms" : [ {
              "id" : 130,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "Kimberley",
                "middle_name" : "k",
                "last_name" : "O'Reily",
                "name_suffix" : {
                  "value" : "Sr",
                  "id" : 6
                },
                "date_of_birth" : "2000-01-01",
                "gender" : {
                  "value" : "Male",
                  "id" : 1
                },
                "relationship_to_applicants" : [ {
                  "relationship_to_applicant_freeform" : ""
                } ],
                "school_grade" : {
                  "value" : "TK",
                  "id" : 1
                },
                "school_name" : "School name",
                "school_address" : {
                  "street_address" : "address here",
                  "zip" : "12345",
                  "city" : "",
                  "state" : {
                    "value" : "Alabama",
                    "id" : "AL"
                  }
                },
                "child_in_home" : false
              } ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 1920,
            "applicants" : [ {
              "id" : 1186,
              "first_name" : "alpha0",
              "middle_name" : "",
              "last_name" : "beta0",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            }, {
              "id" : 1187,
              "first_name" : "alpha1",
              "middle_name" : "",
    [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P2vG4n_d[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/1933/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfT[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwh[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsx[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdy[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLB[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdy[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfT[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfT[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLB[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxd[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P2v[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsx[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/residence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxd[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/applicants-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLv[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/minor-children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SP[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/other-adults
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfT[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/adoption-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/applicants-relationship
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLB[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/child-desired
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/references
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsx[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/rfa-1c-forms/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPf[...]
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1933/applicants-relationship
    body:
      encoding: UTF-8
      string: '{"place_of_relationship_city":"","date_of_relationship":"","relationship_type":{"id":"1","value":"Married"},"place_of_relationship_state":{"id":"AK","value":"Alaska"}}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P2vG4n_djcsrdxBgw0roS6mzUaP0fau3hASpyqy0GKRN_ms7VTxgV-B_lVPbX8g2IaN8Zt6hdQLDS6zvdrG2MWJMcDffePDFXvN9_dOZvZmgc[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P2vG4n_djcsrdxBgw0roS6mzUaP0fau3hASpyqy0GKRN_ms7VTxgV-B_lVPbX8g2IaN8Zt6hdQLDS6zvdrG2MWJMcDffePDFXvN9_dOZvZmgcmgZTROcpQBknREtIlCCDsDkCg8KWaslO99VjzQMkJIxmVM6-LoCJ8BMT0PVtZt2[...]
[...]
