<div id="tracking_edit_page">
      <%= react_component('rfa_forms/tracking', {
         user: @user,
         rfaApplication: @rfa_application,
         tracking: @tracking},
        {prerender: false}) %>
    <%= javascript_pack_tag 'rfa_forms/tracking' %>
</div>
